<div class="container">
        <div class="row">
            <div class="accordion">
                <div class="panel-group col-xs-12" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title bold">
                                <a data-toggle="collapse" data-parent="#accordion" href="#1"> 
                                        {{ apos.area(data.widget, 'areaUp', {
                                            widgets: {
                                                'apostrophe-rich-text': {
                                                    toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                                    styles: [
                                                    { name: 'H1', element: 'h1'},
                                                    { name: 'H2', element: 'h2'},
                                                    { name: 'H3', element: 'h3'},
                                                    { name: 'H4', element: 'h4'},
                                                    { name: 'H5', element: 'h5'},
                                                    { name: 'H6', element: 'h6'},
                                                    { name: 'Heading', element: 'h3' },
                                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff' } },
                                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#b6911f','text-align': 'center' } },
                                                    { name: 'HeadingWhite', element: 'h2', styles: { 'color': '#b6911f','text-align': 'center' } },
                                                    { name: 'HeadingWhite', element: 'h1', styles: { 'color': '#b6911f','text-align': 'center' } },
                                                    { name: 'Subheading', element: 'h4' },
                                                    { name: 'Paragraph', element: 'p' },
                                                    { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                                                    ] 
                                                }
                                            }
                                        }) }}
                                </a> <span class="pull-right icon chevron-down-circle"></span>
            
                            </h4>
                        </div>
                        <div id='1' class="panel-collapse collapse">
                            <div class="panel-body">
                                    {{ apos.area(data.widget, 'areaDown', {
                                        widgets: {
                                            'apostrophe-rich-text': {
                                                toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                                styles: [
                                                { name: 'H1', element: 'h1'},
                                                { name: 'H2', element: 'h2'},
                                                { name: 'H3', element: 'h3'},
                                                { name: 'H4', element: 'h4'},
                                                { name: 'H5', element: 'h5'},
                                                { name: 'H6', element: 'h6'},
                                                { name: 'Heading', element: 'h3' },
                                                { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff' } },
                                                { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#b6911f','text-align': 'center' } },
                                                { name: 'HeadingWhite', element: 'h2', styles: { 'color': '#b6911f','text-align': 'center' } },
                                                { name: 'HeadingWhite', element: 'h1', styles: { 'color': '#b6911f','text-align': 'center' } },
                                                { name: 'Subheading', element: 'h4' },
                                                { name: 'Paragraph', element: 'p' },
                                                { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                                                ] 
                                            }
                                        }
                                    }) }}
                            </div>
                        </div>
                    </div>
                </div>
                </div>   
        </div>
    </div>