<section class="footer">
        <div class="container-fluid footerInfo">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2 col-md-push-2">
                        {{ apos.area(data.widget, 'footerText1', {
                            widgets: {
                                'apostrophe-rich-text': {
                                    toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                    styles: [
                                    { name: 'H1', element: 'h1'},
                                    { name: 'H2', element: 'h2'},
                                    { name: 'H3', element: 'h3'},
                                    { name: 'H4', element: 'h4'},
                                    { name: 'H5', element: 'h5'},
                                    { name: 'H6', element: 'h6'},
                                    { name: 'Heading', element: 'h3' },
                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff' } },
                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'HeadingWhite', element: 'h2', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'HeadingWhite', element: 'h1', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'Subheading', element: 'h4' },
                                    { name: 'Paragraph', element: 'p' },
                                    { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                                    ] 
                                }
                            }
                        }) }}
                </div>
                <div class="col-md-2 col-md-push-2">
                        {{ apos.area(data.widget, 'footerText2', {
                            widgets: {
                                'apostrophe-rich-text': {
                                    toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                    styles: [
                                    { name: 'H1', element: 'h1'},
                                    { name: 'H2', element: 'h2'},
                                    { name: 'H3', element: 'h3'},
                                    { name: 'H4', element: 'h4'},
                                    { name: 'H5', element: 'h5'},
                                    { name: 'H6', element: 'h6'},
                                    { name: 'Heading', element: 'h3' },
                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff' } },
                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'HeadingWhite', element: 'h2', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'HeadingWhite', element: 'h1', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'Subheading', element: 'h4' },
                                    { name: 'Paragraph', element: 'p' },
                                    { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                                    ] 
                                }
                            }
                        }) }}
                </div>
                <div class="col-md-2 col-md-push-2">
                        {{ apos.area(data.widget, 'footerText3', {
                            widgets: {
                                'apostrophe-rich-text': {
                                    toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                    styles: [
                                    { name: 'H1', element: 'h1'},
                                    { name: 'H2', element: 'h2'},
                                    { name: 'H3', element: 'h3'},
                                    { name: 'H4', element: 'h4'},
                                    { name: 'H5', element: 'h5'},
                                    { name: 'H6', element: 'h6'},
                                    { name: 'Heading', element: 'h3' },
                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff' } },
                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'HeadingWhite', element: 'h2', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'HeadingWhite', element: 'h1', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'Subheading', element: 'h4' },
                                    { name: 'Paragraph', element: 'p' },
                                    { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                                    ] 
                                }
                            }
                        }) }}
                </div>
                <div class="col-md-2 col-md-push-2">
                        {{ apos.area(data.widget, 'footerText4', {
                            widgets: {
                                'apostrophe-rich-text': {
                                    toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                    styles: [
                                    { name: 'H1', element: 'h1'},
                                    { name: 'H2', element: 'h2'},
                                    { name: 'H3', element: 'h3'},
                                    { name: 'H4', element: 'h4'},
                                    { name: 'H5', element: 'h5'},
                                    { name: 'H6', element: 'h6'},
                                    { name: 'Heading', element: 'h3' },
                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff' } },
                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'HeadingWhite', element: 'h2', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'HeadingWhite', element: 'h1', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'Subheading', element: 'h4' },
                                    { name: 'Paragraph', element: 'p' },
                                    { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                                    ] 
                                }
                            }
                        }) }}
                </div>
            </div>
        </div>
        <div class="container-fluid postFooter text-center">
            <div class="row">
                <div class="col-md-12">
                        © 2018 Språkservice Sverige AB. Allt material på denna webbplats tillhör Språkservice.
                </div>
            </div>
        </div>
    </section>