<section id="formQuotation">
        <div class="container">
        <div class="wrapper animated bounceInLeft">
            <form id="quotationForm" class="form-horizontal">
                <fieldset>
    
                <div class="row">
                    {{ apos.area(data.widget, 'sectionTitle', {
                        widgets: {
                            'apostrophe-rich-text': {
                                toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                styles: [
                                { name: 'H1', element: 'h1', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H1 C', element: 'h1', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H1 W', element: 'h1', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H1 W C', element: 'h1', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H1 S', element: 'h1', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H1 S C', element: 'h1', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2', element: 'h2', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H2 C', element: 'h2', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H2 W', element: 'h2', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2 W C', element: 'h2', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2 S', element: 'h2', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2 S C', element: 'h2', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3', element: 'h3', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H3 C', element: 'h3', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H3 W', element: 'h3', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3 W C', element: 'h3', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3 S', element: 'h3', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3 S C', element: 'h3', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4', element: 'h4', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H4 C', element: 'h4', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H4 W', element: 'h4', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4 W C', element: 'h4', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4 S', element: 'h4', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4 S C', element: 'h4', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5', element: 'h5', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H5 C', element: 'h5', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H5 W', element: 'h5', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5 W C', element: 'h5', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5 S', element: 'h5', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5 S C', element: 'h5', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6', element: 'h6', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H6 C', element: 'h6', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H6 W', element: 'h6', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6 W C', element: 'h6', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6 S', element: 'h6', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6 S C', element: 'h6', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'Normal', element: 'p', styles: { 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'Normal B', element: 'p', styles: { 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'Normal B C', element: 'p', styles: { 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'Normal W', element: 'p', styles: { 'color': '#fff', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal W B', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal W B C', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal S', element: 'p', styles: { 'color': '#b6911f', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal S B', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal S B C', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } }
                                ]
                            }
                        }
                    }) }}
                </div>
    
                <div class="row">
                    <!-- Text input-->
                    <div class="form-group col-lg-4">
                        <div style="width: 300px;"><label for="company">Företag *</label><div id="companyVal"></div></div>
                        <input id="company" name="company" type="text" placeholder="" class="form-control" required="">
                    </div>
    
                    <!-- Text input-->
                    <div class="form-group col-lg-4">
                        <div style="width: 300px;"><label for="contactPerson">Kontaktperson *</label><div id="contactPersonVal"></div></div>
                        <input id="contactPerson" name="contactPerson" type="text" placeholder="" class="form-control input-md" required="">
                    </div>
                </div>
    
                <div class="row">
                        <!-- Text input-->
                        <div class="form-group col-lg-4">
                            <div style="width: 300px;"><label for="phone">Telefon *</label><div id="phoneVal"></div></div>
                            <input class="form-control" id="phone" name="phone" pattern='^\d{3}[\(]\d{1}[\)]-\d{7}$' placeholder="XXX(X)-XXXXXXX" type="tel" pattern='^\+?\d{0,13}' required=""/>
                        </div>
                    
                        <!-- Text input-->
                        <div class="form-group col-lg-4">
                            <div style="width: 300px;"><label for="email">E-post *</label><div id="emailVal"></div></div>
                            <input id="email" name="email" type="email" placeholder="info@example.com" class="form-control input-md" required="">
                        </div>
                </div>

                <div class="row">
                        <!-- Text input-->
                        <div class="form-group col-lg-4">
                            <div style="width: 300px;"><label for="customerNumber">Kundnummer *</label><div id="customerNumberVal"></div></div>
                            <input id="customerNumber" name="customerNumber" type="text" placeholder="" class="form-control" required>
                        </div>
                </div><br/><br/>

                <div class="row">
                    {{ apos.area(data.widget, 'sectionSubtitle', {
                        widgets: {
                            'apostrophe-rich-text': {
                                toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                styles: [
                                { name: 'H1', element: 'h1', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H1 C', element: 'h1', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H1 W', element: 'h1', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H1 W C', element: 'h1', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H1 S', element: 'h1', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H1 S C', element: 'h1', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2', element: 'h2', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H2 C', element: 'h2', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H2 W', element: 'h2', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2 W C', element: 'h2', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2 S', element: 'h2', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2 S C', element: 'h2', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3', element: 'h3', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H3 C', element: 'h3', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H3 W', element: 'h3', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3 W C', element: 'h3', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3 S', element: 'h3', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3 S C', element: 'h3', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4', element: 'h4', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H4 C', element: 'h4', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H4 W', element: 'h4', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4 W C', element: 'h4', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4 S', element: 'h4', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4 S C', element: 'h4', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5', element: 'h5', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H5 C', element: 'h5', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H5 W', element: 'h5', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5 W C', element: 'h5', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5 S', element: 'h5', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5 S C', element: 'h5', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6', element: 'h6', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H6 C', element: 'h6', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H6 W', element: 'h6', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6 W C', element: 'h6', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6 S', element: 'h6', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6 S C', element: 'h6', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'Normal', element: 'p', styles: { 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'Normal B', element: 'p', styles: { 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'Normal B C', element: 'p', styles: { 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'Normal W', element: 'p', styles: { 'color': '#fff', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal W B', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal W B C', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal S', element: 'p', styles: { 'color': '#b6911f', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal S B', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal S B C', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } }
                                ]
                            }
                        }
                    }) }}
                </div>

                <div class="row">
                        <!-- Text input-->
                        <div class="form-group col-lg-4">
                            <div style="width: 300px;"><label for="fromLanguages">Från vilket språk (källspråk) *</label><div id="fromLanguagesVal"></div></div>
                            <input id="fromLanguages" name="fromLanguages" type="text" placeholder="" class="form-control" required="">
                        </div>

                        <!-- Text input-->
                        <div class="form-group col-lg-4">
                            <div style="width: 300px;"><label for="toLanguages">Till vilket/vilka språk (målspråk) *</label><div id="toLanguagesVal"></div></div>
                            <input id="toLanguages" name="toLanguages" type="text" placeholder="" class="form-control" required="">
                        </div>
                </div>
                    
                    <div class="row">
                            <div class="form-group col-lg-4">
                                    <div style="width: 300px;"><p><label id="lblAdditionalService" class="control-label" for="sertified">Välj önskad tilläggstjänst</label></p><div id="additionalServiceVal"></div></div>
                                    <div class="pretty p-default">
                                        <input type="checkbox" class="radio" name="additionalService" id="additionalService-0" value="Korrekturläsning" checked="checked" />
                                        <div class="state">
                                            <label>Korrekturläsning</label>
                                        </div>
                                    </div>
                                    <div class="pretty p-default">
                                        <input type="checkbox" class="radio" name="additionalService" id="additionalService-1" value="Språkgranskning/Textbearbetning" />
                                        <div class="state">
                                            <label>Språkgranskning/Textbearbetning</label>
                                        </div>
                                    </div>
                                    <div class="pretty p-default">
                                        <input type="checkbox" class="radio" name="additionalService" id="additionalService-2" value="Grafisk produktion" />
                                        <div class="state">
                                            <label>Grafisk produktion</label>
                                        </div>
                                    </div>
                            </div>

                        <div class="checkbox col-lg-4" style="margin-top: 30px; margin-bottom: 20px; width: 300px !important;">
                                <label class="form-check-label" for="translation">
                                    <input type="checkbox" class="form-check-input" id="translation" value="">
                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                    Översättning
                                </label>
                            </div>
                    </div>
                    
                    <div class="row">
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><p><label id="lblSertified" class="control-label" for="sertified">Önskas bestyrkning?</label></p><div id="sertifiedVal"></div></div>
                                <div class="pretty p-default">
                                    <input type="checkbox" class="radio" name="sertified" id="sertified-0" value="Bestyrkning" checked="checked" />
                                    <div class="state">
                                        <label>Bestyrkning</label>
                                    </div>
                                </div>
                            </div>

                            <div class="checkbox col-lg-4" style="margin-top: 30px; margin-bottom: 20px; width: 300px !important;">
                                    <label class="form-check-label" for="availableDocument">
                                        <input type="checkbox" class="form-check-input" id="availableDocument" value="">
                                        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        Dokumentet finns som fil (skickas till offert@sprakservice.se)
                                    </label>
                                </div>
                        </div>
                        
                        <div class="row">
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="promo">Ev. kampanjkod</label><div id="promoVal"></div></div>
                                <input id="promo" name="promo" type="text" placeholder="" class="form-control">
                            </div>

                                <!-- Select Basic -->
                                <div class="form-group col-lg-4">
                                    <div style="width: 300px;"><label class="sbLabel" for="touchWithUs">Hur kom du i kontakt med oss?</label><div id="touchWithUsVal"></div></div>
                                    <!-- <div class="sb"></div> -->
                                    <div id="ddl" class="drop_list">
                                        <select id="touchWithUs" name="touchWithUs" class="form-control">
                                            <option value="1">Kund sedan tidigare</option>
                                            <option value="2">SpråkSpalten</option>
                                            <option value="3">Google</option>
                                            <option value="4">Rekommendation</option>
                                            <option value="5">Annat</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                    <!-- Text input-->
                                    <div class="form-group col-lg-4">
                                        <div style="width: 300px;"><label for="additionalInformation">Övrig information (max 80 tecken)</label><div id="additionalInformationVal"></div></div>
                                        <input id="additionalInformation" name="additionalInformation" type="text" placeholder="" maxlength="80" class="form-control">
                                    </div>
                                    </div><br/><br/>
    
                    <div class="row">
                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-lg-4">
                                <!-- <button id="singlebutton" name="singlebutton" class="SprakButton1">Skicka</button> -->
                                <input type="submit" name="submit" value="Skicka" class="SprakButton1">
                            </div>

                            <div class="col-md-4">
                                    <div class="alert alert-success alert-dismissible" style="display: none;">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        Your data was succesfully submitted!
                                    </div>
                                    <div class="alert alert-warning alert-dismissible" style="display: none;">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        Fel skickas!
                                    </div>
                                </div>
                        </div>
                    </div>
        
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function(){
        $('#quotationForm').on('submit', function(e){
            e.preventDefault();
            var company = $('#company').val();
            var contactPerson = $('#contactPerson').val();
            var phone = $('#phone').val();
            var email = $('#email').val();
            var customerNumber = $('#customerNumber').val();
            var fromLanguages = $('#fromLanguages').val();
            var toLanguages = $('#toLanguages').val();
            var translation = $('#translation').is(':checked');
            var additionalService = $('input[name="additionalService"]:checked').val();
            var sertified = $('input[name="sertified"]:checked').val();
            var availableDocument = $('#availableDocument').is(':checked');
            var promo = $('#promo').val();
            var touchWithUs = $('#touchWithUs option:selected').text();
            var additionalInformation = $('#additionalInformation').val();
            $.ajax({
                url: 'http://192.168.40.170:3001/api/quotations',
                data: JSON.stringify({
                    "company": company,
                    "contactPerson": contactPerson,
                    "phone": phone,
                    "email": email,
                    "customerNumber": customerNumber,
                    "fromLanguages": fromLanguages,
                    "toLanguages": toLanguages,
                    "translation": translation,
                    "additionalService": additionalService,
                    "sertified": sertified,
                    "availableDocument": availableDocument,
                    "promo": promo,
                    "touchWithUs": touchWithUs,
                    "additionalInformation": additionalInformation
                }),
                type: "POST",
                contentType: "application/json",
                success: function(data){
                    // $(".alert-success").fadeTo(4000, 500).slideUp(500, function(){
                    //     $(".alert-success").slideUp(500);
                    // });
                    // $('#quotationForm')[0].reset();
                    $('#quotationForm').html(`<h1>Begär offert</h1>
                                    <h1>Tack för din offertförfrågan!</h1><br/>
                                    <p>Språkservice har mottagit förfrågan och vi ber att få återkomma snarast.</p>
                                    <p>Du kan skicka in eventuella dokumentfiler via e-post till: offert@sprakservice.se</p><br/>
                                    <p><i>Med vänlig hälsning</i></p>
                                    <p><i>Språkservice Sverige AB</i></p>`);
                },
                error: function(xhr, status, err){
                    console.log(err);
                    $(".alert-warning").fadeTo(8000, 500).slideUp(500, function(){
                        $(".alert-warning").slideUp(500);
                    });
                }
            });
        });

        $('[id^=customerNumber]').keypress(validateNumber);
    });

    $('input[name="additionalService"], input[name="sertified"]').on('click', function() {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if ($box.is(":checked")) {
            // the name of the box is retrieved using the .attr() method
            // as it is assumed and expected to be immutable
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            // the checked state of the group/box on the other hand will change
            // and the current value is retrieved using .prop() method
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", true);
        }
    });

    function validateNumber(event) {
        var key = window.event ? event.keyCode : event.which;
        if (event.keyCode === 8 || event.keyCode === 46) {
            return true;
        } else if ( key < 48 || key > 57 ) {
            return false;
        } else {
            return true;
        }
    };

    (function() {
        var company = document.getElementById('company');
        var companyVal = document.getElementById('companyVal');
        var contactPerson = document.getElementById('contactPerson');
        var contactPersonVal = document.getElementById('contactPersonVal');
        var phone = document.getElementById('phone');
        var phoneVal = document.getElementById('phoneVal');
        var email = document.getElementById('email');
        var emailVal = document.getElementById('emailVal');
        var customerNumber = document.getElementById('customerNumber');
        var customerNumberVal = document.getElementById('customerNumberVal');
        var fromLanguages = document.getElementById('fromLanguages');
        var fromLanguagesVal = document.getElementById('fromLanguagesVal');
        var toLanguages = document.getElementById('toLanguages');
        var toLanguagesVal = document.getElementById('toLanguagesVal');

        companyVal.id = 'notifyCN';
        companyVal.style.display = 'none';
        contactPersonVal.id = 'notifyCN';
        contactPersonVal.style.display = 'none';
        phoneVal.id = 'notifyTel';
        phoneVal.style.display = 'none';
        emailVal.id = 'notifyTel';
        emailVal.style.display = 'none';
        customerNumberVal.id = 'notifyCN';
        customerNumberVal.style.display = 'none';
        fromLanguagesVal.id = 'notifyLang';
        fromLanguagesVal.style.display = 'none';
        toLanguagesVal.id = 'notifyLang';
        toLanguagesVal.style.display = 'none';

        ValidationMessages(company, companyVal);
        ValidationMessages(contactPerson, contactPersonVal);
        ValidationMessages(phone, phoneVal, true);
        ValidationMessages(email, emailVal, true);
        ValidationMessages(customerNumber, customerNumberVal);
        ValidationMessages(fromLanguages, fromLanguagesVal);
        ValidationMessages(toLanguages, toLanguagesVal);
    })();

    function ValidationMessages(inputName, inputNameVal, format){
        inputName.addEventListener('invalid', function(event){
            event.preventDefault();
            var lang = document.documentElement.lang.toLowerCase();
            if ( ! event.target.validity.valid ) {
                inputName.className = 'form-control animated shake invalid';
                if ( lang === "en" )
                    if(format)
                        inputNameVal.textContent = '(Please fill in the field/Please control format)';
                    else
                        inputNameVal.textContent = '(This field is compulsory)';
                if ( lang === "se" )
                    if(format)
                        inputNameVal.textContent = '(Vänligen fyll I fältet/Vänligen kontrollera formatet)';
                    else
                        inputNameVal.textContent = '(Detta fältet är obligatorisk)';
                inputNameVal.className = 'error';
                inputNameVal.style.display = 'block';
            }
        });

        inputName.addEventListener('input', function(event){
            if ( 'block' === inputNameVal.style.display ) {
                inputName.className = 'form-control';
                inputNameVal.style.display = 'none';
            }
        });
    }
    </script>