<section id="awards">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                {{ apos.area(data.widget, 'sectionTitle', {
                    widgets: {
                        'apostrophe-rich-text': {
                            toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                            styles: [
                            { name: 'H1', element: 'h1', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                            { name: 'H1 C', element: 'h1', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                            { name: 'H1 W', element: 'h1', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H1 W C', element: 'h1', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H1 S', element: 'h1', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H1 S C', element: 'h1', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H2', element: 'h2', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                            { name: 'H2 C', element: 'h2', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                            { name: 'H2 W', element: 'h2', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H2 W C', element: 'h2', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H2 S', element: 'h2', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H2 S C', element: 'h2', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H3', element: 'h3', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                            { name: 'H3 C', element: 'h3', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                            { name: 'H3 W', element: 'h3', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H3 W C', element: 'h3', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H3 S', element: 'h3', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H3 S C', element: 'h3', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H4', element: 'h4', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                            { name: 'H4 C', element: 'h4', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                            { name: 'H4 W', element: 'h4', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H4 W C', element: 'h4', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H4 S', element: 'h4', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H4 S C', element: 'h4', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H5', element: 'h5', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                            { name: 'H5 C', element: 'h5', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                            { name: 'H5 W', element: 'h5', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H5 W C', element: 'h5', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H5 S', element: 'h5', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H5 S C', element: 'h5', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H6', element: 'h6', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                            { name: 'H6 C', element: 'h6', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                            { name: 'H6 W', element: 'h6', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H6 W C', element: 'h6', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H6 S', element: 'h6', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'H6 S C', element: 'h6', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                            { name: 'Normal', element: 'p', styles: { 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                            { name: 'Normal B', element: 'p', styles: { 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                            { name: 'Normal B C', element: 'p', styles: { 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                            { name: 'Normal W', element: 'p', styles: { 'color': '#fff', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                            { name: 'Normal W B', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                            { name: 'Normal W B C', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                            { name: 'Normal S', element: 'p', styles: { 'color': '#b6911f', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                            { name: 'Normal S B', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                            { name: 'Normal S B C', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } }
                            ]
                        }
                    }
                }) }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row award" style="padding-top: 3%;">
            <div id="award1" class="col-md-1 col-md-push-3">
                {{ apos.area(data.widget, 'awardImage1', {
                    widgets: {
                        'apostrophe-images': {
                            size: 'original'
                        }
                    }
                }) }}
            </div>
            <div id="award2" class="col-md-1 col-md-push-3">
                {{ apos.area(data.widget, 'awardImage2', {
                    widgets: {
                        'apostrophe-images': {
                            size: 'original'
                        }
                    }
                }) }}
            </div>
            <div id="award3" class="col-md-1 col-md-push-3">
                {{ apos.area(data.widget, 'awardImage3', {
                    widgets: {
                        'apostrophe-images': {
                            size: 'original'
                        }
                    }
                }) }}
            </div>
            <div id="award4" class="col-md-1 col-md-push-3">
                {{ apos.area(data.widget, 'awardImage4', {
                    widgets: {
                        'apostrophe-images': {
                            size: 'original'
                        }
                    }
                }) }}
            </div>
            <div id="award5" class="col-md-1 col-md-push-3">
                {{ apos.area(data.widget, 'awardImage5', {
                    widgets: {
                        'apostrophe-images': {
                            size: 'original'
                        }
                    }
                }) }}
            </div>
        </div>
    </div>
</section>

<script>
    var viewportWidth = $(window).width();

    (function() {
        if (viewportWidth <= 992) {
            $("#award1").removeClass("col-md-1 col-md-push-3").addClass("col-xs-4 col-xs-push-1");
            $("#award2").removeClass("col-md-1 col-md-push-3").addClass("col-xs-4");
            $("#award3").removeClass("col-md-1 col-md-push-3").addClass("col-xs-4 col-xs-pull-1");
            $("#award4").removeClass("col-md-1 col-md-push-3").addClass("col-xs-4 col-xs-push-2 award4");
            $("#award5").removeClass("col-md-1 col-md-push-3").addClass("col-xs-4 col-xs-push-1 award5");
        }
        else {
            $("#award1").removeClass("col-xs-4 col-xs-push-1").addClass("col-md-1 col-md-push-3");
            $("#award2").removeClass("col-xs-4").addClass("col-md-1 col-md-push-3");
            $("#award3").removeClass("col-xs-4 col-xs-pull-1").addClass("col-md-1 col-md-push-3");
            $("#award4").removeClass("col-xs-4 col-xs-push-2 award4").addClass("col-md-1 col-md-push-3");
            $("#award5").removeClass("col-xs-4 col-xs-push-1 award5").addClass("col-md-1 col-md-push-3");
        }
    })();

    $(window).on("load, resize", function() {
        viewportWidth = $(window).width();
        if (viewportWidth <= 992) {
            $("#award1").removeClass("col-md-1 col-md-push-3").addClass("col-xs-4 col-xs-push-1");
            $("#award2").removeClass("col-md-1 col-md-push-3").addClass("col-xs-4");
            $("#award3").removeClass("col-md-1 col-md-push-3").addClass("col-xs-4 col-xs-pull-1");
            $("#award4").removeClass("col-md-1 col-md-push-3").addClass("col-xs-4 col-xs-push-2 award4");
            $("#award5").removeClass("col-md-1 col-md-push-3").addClass("col-xs-4 col-xs-push-1 award5");
        }
        else {
            $("#award1").removeClass("col-xs-4 col-xs-push-1").addClass("col-md-1 col-md-push-3");
            $("#award2").removeClass("col-xs-4").addClass("col-md-1 col-md-push-3");
            $("#award3").removeClass("col-xs-4 col-xs-pull-1").addClass("col-md-1 col-md-push-3");
            $("#award4").removeClass("col-xs-4 col-xs-push-2 award4").addClass("col-md-1 col-md-push-3");
            $("#award5").removeClass("col-xs-4 col-xs-push-1 award5").addClass("col-md-1 col-md-push-3");
        }
    });
</script>