    
    <section id="tolkApp">
        <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                    {{ apos.area(data.widget, 'areaLeft', {
                        widgets: {
                            'apostrophe-rich-text': {
                                toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                styles: [
                                { name: 'H1', element: 'h1'},
                                { name: 'H2', element: 'h2'},
                                { name: 'H3', element: 'h3'},
                                { name: 'H4', element: 'h4'},
                                { name: 'H5', element: 'h5'},
                                { name: 'H6', element: 'h6'},
                                { name: 'Heading', element: 'h3' },
                                { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff' } },
                                { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#b6911f','text-align': 'center' } },
                                { name: 'HeadingWhite', element: 'h2', styles: { 'color': '#b6911f','text-align': 'center' } },
                                { name: 'HeadingWhite', element: 'h1', styles: { 'color': '#b6911f','text-align': 'center' } },
                                { name: 'Subheading', element: 'h4' },
                                { name: 'Paragraph', element: 'p' },
                                { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                                ] 
                            },
                            'apostrophe-images': {
                                size: 'original'
                            },
                            'apostrophe-html': {}
                        }
                    }) }}
            </div>
            <div class="col-xs-12 col-md-6 tolkapp">
                {{ apos.area(data.widget, 'areaRight', {
                    widgets: {
                        'apostrophe-rich-text': {
                            toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                            styles: [
                            { name: 'H1', element: 'h1'},
                            { name: 'H2', element: 'h2'},
                            { name: 'H3', element: 'h3'},
                            { name: 'H4', element: 'h4'},
                            { name: 'H5', element: 'h5'},
                            { name: 'H6', element: 'h6'},
                            { name: 'Heading', element: 'h3' },
                            { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff' } },
                            { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#b6911f','text-align': 'center' } },
                            { name: 'HeadingWhite', element: 'h2', styles: { 'color': '#b6911f','text-align': 'center' } },
                            { name: 'HeadingWhite', element: 'h1', styles: { 'color': '#b6911f','text-align': 'center' } },
                            { name: 'Subheading', element: 'h4' },
                            { name: 'Paragraph', element: 'p' },
                            { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                            ] 
                        },
                        'apostrophe-images': {
                            size: 'original'
                        },
                        'apostrophe-html': {}
                    }
                }) }}
                          <a class="btn btnSectionApp text-center" href="#">Läs mer</a>
                          <a class="btn btnSectionApp1 text-center" href="#">Ladda ner appen <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
</section>