<section id="formsPreview">
        <div class="container-fluid">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a id="registerShow" data-toggle="tab" href="#menu1">Registers</a></li>
                    <li><a id="loginShow" data-toggle="tab" href="#menu2">Logins</a></li>
                    <li><a id="qualityShow" data-toggle="tab" href="#menu3">Qualities</a></li>
                    <li><a id="questionShow" data-toggle="tab" href="#menu4">Questions</a></li>
                    <li><a id="quotationShow" data-toggle="tab" href="#menu5">Quotations</a></li>
                </ul>
                <div class="tab-content">
                        <div id="menu1" class="tab-pane fade in active">
                            <h3>Registers</h3><br/><br/>
                            <div id="register1"></div>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <h3>Logins</h3><br/><br/>
                            <div id="login"></div>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                          <h3>Qualities</h3><br/><br/>
                          <div id="quality"></div>
                        </div>
                        <div id="menu4" class="tab-pane fade">
                          <h3>Questions</h3><br/><br/>
                          <div id="question"></div>
                        </div>
                        <div id="menu5" class="tab-pane fade">
                          <h3>Quotations</h3><br/><br/>
                          <div id="quotation"></div>
                        </div>
                      </div>
            </div>
        </div>
    </section>
    
    <script>
        $(document).ready(function(){
            getRegisterData();
        });
    
        $("#registerShow").on("click", function(){
            getRegisterData();
        });
    
        $("#loginShow").on("click", function(){
            getLoginData();
        });
    
        $("#qualityShow").on("click", function(){
            getQualityData();
        });
    
        $("#questionShow").on("click", function(){
            getQuestionData();
        });
    
        $("#quotationShow").on("click", function(){
            getQuotationData();
        });
    
        function getRegisterData(){
            $.ajax({
                url: 'http://192.168.40.170:3001/api/registers'
            }).done(function(data){
                var output = '<table class="table table-striped">' +
                                '<thead>' +
                                    '<tr>' +
                                        '<th>Välj tjänst här</th>' +
                                        '<th>Kundnamn</th>' +
                                        '<th>Organisationsnummer</th>' +
                                        '<th>Avdelning, beskrivning el dylikt</th>' +
                                        '<th>Telefon</th>' +
                                        '<th>Faxnummer</th>' +
                                        '<th>Besöksadress</th>' +
                                        '<th>Postnummer</th>' +
                                        '<th>Ort</th>' +
                                        '<th>E-post</th>' +
                                        '<th>Kontaktperson</th>' +
                                        '<th>Telefon kontaktperson</th>' +
                                        '<th>Fakturamottagare</th>' +
                                        '<th>Referens/Kostnadsställe el dylikt/box</th>' +
                                        '<th>Gatuadress/box</th>' +
                                        '<th>Postnummer</th>' +
                                        '<th>Ort</th>' +
                                        '<th>Skapa på</th>' +
                                    '</tr>' +
                                '</thead>' +
                                '<tbody>';
                    $.each(data, function(key, data){
                        output += '<tr>';
                        output += '<td>' + data.selectbasic + '</td>';
                        output += '<td>' + data.customerNumber + '</td>';
                        output += '<td>' + data.organizationNumber + '</td>';
                        output += '<td>' + data.department + '</td>';
                        output += '<td>' + data.telephone + '</td>';
                        output += '<td>' + data.fax + '</td>';
                        output += '<td>' + data.visitingAddress + '</td>';
                        output += '<td>' + data.zip + '</td>';
                        output += '<td>' + data.place + '</td>';
                        output += '<td>' + data.email + '</td>';
                        output += '<td>' + data.contact + '</td>';
                        output += '<td>' + data.telephoneContact + '</td>';
                        output += '<td>' + data.invoicee + '</td>';
                        output += '<td>' + data.referens + '</td>';
                        output += '<td>' + data.gatuadress + '</td>';
                        output += '<td>' + data.streetAddress + '</td>';
                        output += '<td>' + data.place1 + '</td>';
                        output += '<td>' + formatDate(data.create_date) + '</td>';
                        output += '</tr>';
                    });
                    output += '</tbody>';
                    output += '</table>';
                    $('#register1').html(output);
            });
        }
    
        function getLoginData(){
            $.ajax({
                url: 'http://192.168.40.170:3001/api/logins'
            }).done(function(data){
                var output = '<table class="table table-striped">' +
                                '<thead>' +
                                    '<tr>' +
                                        '<th>Ditt namn</th>' +
                                        '<th>Personlig e-post</th>' +
                                        '<th>Kundnamn/Företag</th>' +
                                        '<th>Kundnr (endast siffror)</th>' +
                                        '<th>Telefon, direkt</th>' +
                                        '<th>Alternativ e-post för bekräftelse</th>' +
                                        '<th>Skapa på</th>' +
                                    '</tr>' +
                                '</thead>' +
                                '<tbody>';
                    $.each(data, function(key, data){
                        output += '<tr>';
                        output += '<td>' + data.name + '</td>';
                        output += '<td>' + data.personalEmail + '</td>';
                        output += '<td>' + data.customerName + '</td>';
                        output += '<td>' + data.customerNumber + '</td>';
                        output += '<td>' + data.directPhone + '</td>';
                        output += '<td>' + data.alternativeEmail + '</td>';
                        output += '<td>' + formatDate(data.createDate) + '</td>';
                        output += '</tr>';
                    });
                    output += '</tbody>';
                    output += '</table>';
                    $('#login').html(output);
            });
        }
    
        function getQualityData(){
            $.ajax({
                url: 'http://192.168.40.170:3001/api/qualities'
            }).done(function(data){
                var output = '<table class="table table-striped">' +
                                '<thead>' +
                                    '<tr>' +
                                        '<th>Kundnummer</th>' +
                                        '<th>Bokningsnummer</th>' +
                                        '<th>Datum för avvikelsen</th>' +
                                        '<th>Namn</th>' +
                                        '<th>E-post</th>' +
                                        '<th>Telefon</th>' +
                                        '<th>Återkoppling önskas</th>' +
                                        '<th>Ärende</th>' +
                                        '<th>Förtydligande</th>' +
                                        '<th>Skapa på</th>' +
                                    '</tr>' +
                                '</thead>' +
                                '<tbody>';
                    $.each(data, function(key, data){
                        output += '<tr>';
                        output += '<td>' + data.customerNumber + '</td>';
                        output += '<td>' + data.reservationNumber + '</td>';
                        output += '<td>' + data.deviationDate + '</td>';
                        output += '<td>' + data.name + '</td>';
                        output += '<td>' + data.email + '</td>';
                        output += '<td>' + data.phone + '</td>';
                        output += '<td>' + data.feedback + '</td>';
                        output += '<td>' + data.subject + '</td>';
                        output += '<td>' + data.clarificationArea + '</td>';
                        output += '<td>' + formatDate(data.create_date) + '</td>';
                        output += '</tr>';
                    });
                    output += '</tbody>';
                    output += '</table>';
                    $('#quality').html(output);
            });
        }
    
        function getQuestionData(){
            $.ajax({
                url: 'http://192.168.40.170:3001/api/questions'
            }).done(function(data){
                var output = '<table class="table table-striped">' +
                                '<thead>' +
                                    '<tr>' +
                                        '<th>Namn</th>' +
                                        '<th>Organisation</th>' +
                                        '<th>E-post</th>' +
                                        '<th>Telefon</th>' +
                                        '<th>Ärende</th>' +
                                        '<th>Jag vill bli kontaktad via telefon</th>' +
                                        '<th>Meddelande</th>' +
                                        '<th>Skapa på</th>' +
                                    '</tr>' +
                                '</thead>' +
                                '<tbody>';
                    $.each(data, function(key, data){
                        output += '<tr>';
                        output += '<td>' + data.name + '</td>';
                        output += '<td>' + data.organisation + '</td>';
                        output += '<td>' + data.email + '</td>';
                        output += '<td>' + data.phone + '</td>';
                        output += '<td>' + data.subject + '</td>';
                        output += '<td>' + data.contactByPhone + '</td>';
                        output += '<td>' + data.message + '</td>';
                        output += '<td>' + formatDate(data.create_date) + '</td>';
                        output += '</tr>';
                    });
                    output += '</tbody>';
                    output += '</table>';
                    $('#question').html(output);
            });
        }
    
        function getQuotationData(){
            $.ajax({
                url: 'http://192.168.40.170:3001/api/quotations'
            }).done(function(data){
                var output = '<table class="table table-striped">' +
                                '<thead>' +
                                    '<tr>' +
                                        '<th>Företag</th>' +
                                        '<th>Kontaktperson</th>' +
                                        '<th>Telefon</th>' +
                                        '<th>E-post</th>' +
                                        '<th>Kundnummer</th>' +
                                        '<th>Från vilket språk (källspråk)</th>' +
                                        '<th>Till vilket/vilka språk (målspråk)</th>' +
                                        '<th>Välj önskad tilläggstjänst</th>' +
                                        '<th>Översättning</th>' +
                                        '<th>Önskas bestyrkning?</th>' +
                                        '<th>Dokumentet finns som fil</th>' +
                                        '<th>Ev. kampanjkod</th>' +
                                        '<th>Hur kom du i kontakt med oss?</th>' +
                                        '<th>Övrig information (max 80 tecken)</th>' +
                                        '<th>Skapa på</th>' +
                                    '</tr>' +
                                '</thead>' +
                                '<tbody>';
                    $.each(data, function(key, data){
                        output += '<tr>';
                        output += '<td>' + data.company + '</td>';
                        output += '<td>' + data.contactPerson + '</td>';
                        output += '<td>' + data.phone + '</td>';
                        output += '<td>' + data.email + '</td>';
                        output += '<td>' + data.customerNumber + '</td>';
                        output += '<td>' + data.fromLanguages + '</td>';
                        output += '<td>' + data.toLanguages + '</td>';
                        output += '<td>' + data.translation + '</td>';
                        output += '<td>' + data.additionalService + '</td>';
                        output += '<td>' + data.sertified + '</td>';
                        output += '<td>' + data.availableDocument + '</td>';
                        output += '<td>' + data.promo + '</td>';
                        output += '<td>' + data.touchWithUs + '</td>';
                        output += '<td>' + data.additionalInformation + '</td>';
                        output += '<td>' + formatDate(data.create_date) + '</td>';
                        output += '</tr>';
                    });
                    output += '</tbody>';
                    output += '</table>';
                    $('#quotation').html(output);
            });
        }
    
        function formatDate(data){
            var date = new Date(data);
            var d = date.getDate();
            var m =  ("0" + (date.getMonth() + 1)).slice(-2);
            var y = date.getFullYear();
    
            return d + "." + m + "." + y;
        }
    </script>