<section id="formQuestion">
        <div class="container">
            <div class="wrapper animated bounceInLeft">
                <form id="questionForm" class="form-horizontal">
                    <fieldset>
        
                    <div class="row">
                        <div class="form-group col-lg-8">
                            {{ apos.area(data.widget, 'sectionTitle', {
                                widgets: {
                                    'apostrophe-rich-text': {
                                        toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                        styles: [
                                        { name: 'H1', element: 'h1', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H1 C', element: 'h1', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H1 W', element: 'h1', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H1 W C', element: 'h1', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H1 S', element: 'h1', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H1 S C', element: 'h1', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H2', element: 'h2', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H2 C', element: 'h2', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H2 W', element: 'h2', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H2 W C', element: 'h2', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H2 S', element: 'h2', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H2 S C', element: 'h2', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H3', element: 'h3', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H3 C', element: 'h3', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H3 W', element: 'h3', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H3 W C', element: 'h3', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H3 S', element: 'h3', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H3 S C', element: 'h3', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H4', element: 'h4', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H4 C', element: 'h4', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H4 W', element: 'h4', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H4 W C', element: 'h4', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H4 S', element: 'h4', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H4 S C', element: 'h4', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H5', element: 'h5', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H5 C', element: 'h5', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H5 W', element: 'h5', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H5 W C', element: 'h5', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H5 S', element: 'h5', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H5 S C', element: 'h5', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H6', element: 'h6', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H6 C', element: 'h6', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H6 W', element: 'h6', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H6 W C', element: 'h6', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H6 S', element: 'h6', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H6 S C', element: 'h6', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'Normal', element: 'p', styles: { 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'Normal B', element: 'p', styles: { 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'Normal B C', element: 'p', styles: { 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'Normal W', element: 'p', styles: { 'color': '#fff', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                        { name: 'Normal W B', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                        { name: 'Normal W B C', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                        { name: 'Normal S', element: 'p', styles: { 'color': '#b6911f', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                        { name: 'Normal S B', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                        { name: 'Normal S B C', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } }
                                        ]
                                    }
                                }
                            }) }}
                        </div>
                    </div>
        
                    <div class="row">
                        <!-- Text input-->
                        <div class="form-group col-lg-4">
                            <div style="width: 300px;"><label id="lblName" for="name">Namn</label><div id="nameVal"></div></div>
                            <input id="name" name="name" type="text" placeholder="För- och efternamn" class="form-control">
                        </div>
        
                        <!-- Text input-->
                        <div class="form-group col-lg-4">
                            <div style="width: 300px;"><label id="lblOrganisation" for="organisation">Organisation</label><div id="organisationVal"></div></div>
                            <input id="organisation" name="organisation" type="text" placeholder="" class="form-control input-md">
                        </div>
                    </div>
        
                    <div class="row">
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label id="lblEmail" for="email">E-post *</label><div id="emailVal"></div></div>
                                <input id="email" name="email" type="email" placeholder="info@example.com" class="form-control" required="">
                            </div>
                        
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label id="lblPhone" for="phone">Telefon</label><div id="phoneVal"></div></div>
                                <input id="phone" name="phone" type="tel" pattern='^\d{3}[\(]\d{1}[\)]-\d{7}$' placeholder="XXX(X)-XXXXXXX" class="form-control input-md">
                            </div>
                    </div>
                    
                    <div class="row">
                        <!-- Select Basic -->
                        <div class="form-group col-lg-4">
                            <label id="lblSubject1" class="sbLabel" for="subject1">Ärende</label>
                            <!-- <div class="sb"></div> -->
                            <div id="ddl" class="drop_list">
                                <select id="subject1" name="subject1" class="form-control">
                                    <option value="1">Tolkbokningar</option>
                                    <option value="2">Översättning</option>
                                    <option value="3">Vår hemsida</option>
                                </select>
                            </div>
                        </div>
    
                        <div class="checkbox col-lg-4" style="margin-top: 30px; margin-bottom: 20px; width: 300px !important;">
                            <label class="form-check-label" for="contactByPhone">
                                <input type="checkbox" class="form-check-input" id="contactByPhone" value="">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                <span id="lblContactByPhone">Jag vill bli kontaktad via telefon</span>
                            </label>
                        </div>
                    </div>
                        
                    <div class="row">
                        <!-- Textarea -->
                        <div class="form-group col-lg-8">
                            <div style="width: 390px;"><label id="lblMessage" class="control-label" for="message">Meddelande *</label><div id="messageVal"></div></div>
                            <textarea class="form-control" id="message" name="message" required=""></textarea>
                        </div>
                    </div><br/><br/>
    
                    <div class="row">
                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-lg-4">
                                <!-- <button id="singlebutton" name="singlebutton" class="SprakButton1">Skicka</button> -->
                                <input id="btnSend" type="submit" name="submit" value="Skicka" class="SprakButton1">
                                <br/>
                            </div>
    
                            <div class="col-lg-4">
                                <div class="alert alert-success alert-dismissible" style="display: none;">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <div id="successMsg">
                                        <h1>Svarstext fråga-kommentar</h1><br/>
                                        <p><strong>Tack för att du tog dig tid att kontakta Språkservice.</strong></p>
                                        <p>Vi läser ditt meddelande och kommer att återkoppla till dig om du så önskat.</p><br/>
                                        <p>Med vänlig hälsning</p>
                                        <p>Språkservice Sverige AB</p>
                                    </div>
                                </div>
                                <div class="alert alert-warning alert-dismissible" style="display: none;">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    Fel skickas!
                                </div>
                            </div>
                        </div>
                    </div>
        
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
    
    <script>
        $(document).ready(function(){
            $('#questionForm').on('submit', function(e){
                e.preventDefault();
                var name = $('#name').val();
                var organisation = $('#organisation').val();
                var email = $('#email').val();
                var phone = $('#phone').val();
                var subject = $('#subject1 option:selected').text();
                var contactByPhone = $('#contactByPhone').is(':checked');
                var message = $('#message').val();
                $.ajax({
                    url: 'http://192.168.40.170:3001/api/questions',
                    data: JSON.stringify({
                        "name": name,
                        "organisation": organisation,
                        "email": email,
                        "phone": phone,
                        "subject": subject,
                        "contactByPhone": contactByPhone,
                        "message": message,
                    }),
                    type: "POST",
                    contentType: "application/json",
                    success: function(data){
                        // alert("Your question data was succesfully submitted!");
                        // $(".alert-success").show();
                        // $(".alert-success").fadeTo(4000, 500).slideUp(500, function(){
                        //     $(".alert-success").slideUp(500);
                        // });
                        // $('#questionForm')[0].reset();
                        $('#questionForm').html(`<h1>Svarstext fråga-kommentar</h1><br/>
                                        <p>Tack för att du tog dig tid att kontakta Språkservice.</p>
                                        <p>Vi läser ditt meddelande och kommer att återkoppla till dig om du så önskat.</p><br/>
                                        <p><i>Med vänlig hälsning</i></p>
                                        <p><i>Språkservice Sverige AB</i></p>`);
                    },
                    error: function(xhr, status, err){
                        console.log(err);
                        $(".alert-warning").fadeTo(8000, 500).slideUp(500, function(){
                            $(".alert-warning").slideUp(500);
                        });
                    }
                });
            });
        });
    
        (function() {
            if(lang === "en"){
                $('#lblName').text("Name");
                $('#lblOrganisation').text("Organization");
                $('#lblEmail').text("E-mail *");
                $('#lblPhone').text("Phone");
                $('#lblSubject1').text("Subject");
                $('#lblContactByPhone').text("Contact by phone");
                $('#lblMessage').text("Message *");
            }
    
            // var form = document.getElementById('questionForm');
            var lang = document.documentElement.lang.toLowerCase();
            var email = document.getElementById('email');
            var emailVal = document.getElementById('emailVal');
            var phone = document.getElementById('phone');
            var phoneVal = document.getElementById('phoneVal');
            var message = document.getElementById('message');
            var messageVal = document.getElementById('messageVal');
    
            emailVal.id = 'notifyTel';
            emailVal.style.display = 'none';
            phoneVal.id = 'notifyTel';
            phoneVal.style.display = 'none';
            messageVal.id = 'notifyMsg';
            messageVal.style.display = 'none';
    
            // form.appendChild(emailVal);
    
            phone.addEventListener('invalid', function(event){
                event.preventDefault();
                if ( ! event.target.validity.valid ) {
                    phone.className = 'form-control animated shake invalid';
                    if ( lang === "en" )
                        phoneVal.textContent = '(Please control format)';
                    if ( lang === "se" )
                        phoneVal.textContent = '(Vänligen kontrollera formatet)';
                    phoneVal.className = 'error';
                    phoneVal.style.display = 'block';
                }
            });
    
            phone.addEventListener('input', function(event){
                if ( 'block' === phoneVal.style.display ) {
                    phone.className = 'form-control';
                    phoneVal.style.display = 'none';
                }
            });
    
            ValidationMessages(email, emailVal, true);
            ValidationMessages(message, messageVal);
        })();
    
        function ValidationMessages(inputName, inputNameVal, format){
            inputName.addEventListener('invalid', function(event){
                event.preventDefault();
                var lang = document.documentElement.lang.toLowerCase();
                if ( ! event.target.validity.valid ) {
                    inputName.className = 'form-control animated shake invalid';
                    if ( lang === "en" )
                        if(format)
                            inputNameVal.textContent = '(Please fill in the field/Please control format)';
                        else
                            inputNameVal.textContent = '(This field is compulsory)';
                    if ( lang === "se" )
                        if(format)
                            inputNameVal.textContent = '(Vänligen fyll I fältet/Vänligen kontrollera formatet)';
                        else
                            inputNameVal.textContent = '(Detta fältet är obligatorisk)';
                    inputNameVal.className = 'error';
                    inputNameVal.style.display = 'block';
                }
            });
    
            inputName.addEventListener('input', function(event){
                if ( 'block' === inputNameVal.style.display ) {
                    inputName.className = 'form-control';
                    inputNameVal.style.display = 'none';
                }
            });
        }
    </script>