<section id="awards">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                        {{ apos.area(data.widget, 'sectionTitle', {
                            widgets: {
                                'apostrophe-rich-text': {
                                    toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                    styles: [
                                    { name: 'H1', element: 'h1'},
                                    { name: 'H2', element: 'h2'},
                                    { name: 'H3', element: 'h3'},
                                    { name: 'H4', element: 'h4'},
                                    { name: 'H5', element: 'h5'},
                                    { name: 'H6', element: 'h6'},
                                    { name: 'Heading', element: 'h3' },
                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff' } },
                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'HeadingWhite', element: 'h2', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'HeadingWhite', element: 'h1', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'Subheading', element: 'h4' },
                                    { name: 'Paragraph', element: 'p' },
                                    { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                                    ] 
                                }
                            }
                        }) }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="padding-top: 3%;">
                <div class="col-md-2 col-md-push-1">
                        {{ apos.area(data.widget, 'awardImage1', {
                            widgets: {
                                'apostrophe-images': {
                                    size: 'original'
                                }
                            }
                        }) }}
                </div>
                <div class="col-md-2 col-md-push-1">
                        {{ apos.area(data.widget, 'awardImage2', {
                            widgets: {
                                'apostrophe-images': {
                                    size: 'original'
                                }
                            }
                        }) }}
                </div>
                <div class="col-md-2 col-md-push-1">
                        {{ apos.area(data.widget, 'awardImage3', {
                            widgets: {
                                'apostrophe-images': {
                                    size: 'original'
                                }
                            }
                        }) }}
                </div>
                <div class="col-md-2 col-md-push-1">
                        {{ apos.area(data.widget, 'awardImage4', {
                            widgets: {
                                'apostrophe-images': {
                                    size: 'original'
                                }
                            }
                        }) }}
                </div>
                <div class="col-md-2 col-md-push-1">
                        {{ apos.area(data.widget, 'awardImage5', {
                            widgets: {
                                'apostrophe-images': {
                                    size: 'original'
                                }
                            }
                        }) }}
                </div>
            </div>
        </div>
    </section>