<div class="container">
    <div class="row" style="overflow-x: hidden;">
        <div class="col-xs-12 col-md-12" style="padding-top: 19%; padding-bottom: 19%; background-repeat: no-repeat; background-size: cover; background-image:linear-gradient(to right, rgba(182, 145, 31, 0.3), rgba(182, 145, 31, 0.3)), url({{ apos.attachments.url(data.widget['tolkningImage'], { size: 'full'}) }});"> 

        </div>
    </div>
</div>