<section id="formRegister">
        <div class="container">
            <div class="wrapper animated bounceInLeft">
                <form id="registerForm" class="form-horizontal">
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-lg-8">
                                {{ apos.area(data.widget, 'sectionSubtitle1', {
                                    widgets: {
                                        'apostrophe-rich-text': {
                                            toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                            styles: [
                                            { name: 'H1', element: 'h1', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H1 C', element: 'h1', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H1 W', element: 'h1', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H1 W C', element: 'h1', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H1 S', element: 'h1', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H1 S C', element: 'h1', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H2', element: 'h2', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H2 C', element: 'h2', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H2 W', element: 'h2', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H2 W C', element: 'h2', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H2 S', element: 'h2', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H2 S C', element: 'h2', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H3', element: 'h3', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H3 C', element: 'h3', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H3 W', element: 'h3', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H3 W C', element: 'h3', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H3 S', element: 'h3', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H3 S C', element: 'h3', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H4', element: 'h4', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H4 C', element: 'h4', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H4 W', element: 'h4', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H4 W C', element: 'h4', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H4 S', element: 'h4', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H4 S C', element: 'h4', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H5', element: 'h5', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H5 C', element: 'h5', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H5 W', element: 'h5', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H5 W C', element: 'h5', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H5 S', element: 'h5', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H5 S C', element: 'h5', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H6', element: 'h6', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H6 C', element: 'h6', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H6 W', element: 'h6', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H6 W C', element: 'h6', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H6 S', element: 'h6', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H6 S C', element: 'h6', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'Normal', element: 'p', styles: { 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'Normal B', element: 'p', styles: { 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'Normal B C', element: 'p', styles: { 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'Normal W', element: 'p', styles: { 'color': '#fff', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                            { name: 'Normal W B', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                            { name: 'Normal W B C', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                            { name: 'Normal S', element: 'p', styles: { 'color': '#b6911f', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                            { name: 'Normal S B', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                            { name: 'Normal S B C', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } }
                                            ]
                                        }
                                    }
                                }) }}
                            </div>
                        </div>
    
                        <div class="row">
                            <!-- Select Basic -->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label class="sbLabel" for="selectbasic">Välj tjänst här</label><div id="selectbasicVal"></div></div>
                                <!-- <div class="sb"></div> -->
                                <div id="ddl" class="drop_list">
                                    <select id="selectbasic" name="selectbasic" class="form-control">
                                        <option value="1">Tolkning</option>
                                        <option value="2">Tolkning och översättning</option>
                                        <option value="3">Översättning</option>
                                    </select>
                                </div>
                            </div>
    
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="customerName">Kundnamn *</label><div id="customerNameVal"></div></div>
                                <input id="customerName" name="customerName" type="text" placeholder="" class="form-control" required="">
                            </div>
                        </div>
    
                        <div class="row">
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="organizationNumber">Organisationsnummer *</label><div id="organizationNumberVal"></div></div>
                                <input id="organizationNumber" name="organizationNumber" type="text" pattern="\d{6}[\-]\d{2}" placeholder="XXXXXX-XX" class="form-control input-md" required="">
                            </div>
    
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="department">Avdelning, beskrivning el dylikt *</label><div id="departmentVal"></div></div>
                                <input id="department" name="department" type="text" placeholder="" class="form-control" required="">
                            </div>
                        </div>
    
                        <div class="row">
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="telephone">Telefon *</label><div id="telephoneVal"></div></div>
                                <input id="telephone" name="telephone" type="tel" pattern='^\d{3}[\(]\d{1}[\)]-\d{7}$' placeholder="XXX(X)-XXXXXXX" class="form-control input-md" required="">
                            </div>
    
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="fax">Faxnummer</label><div id="faxVal"></div></div>
                                <input id="fax" name="fax" type="tel" placeholder="" class="form-control">
                            </div>
                        </div>
    
                        <div class="row">
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="visitingAddress">Besöksadress *</label><div id="visitingAddressVal"></div></div>
                                <input id="visitingAddress" name="visitingAddress" type="text" placeholder="" class="form-control input-md" required="">
                            </div>
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="zip">Postnummer *</label><div id="zipVal"></div></div>
                                <input id="zip" name="zip" type="text" pattern="\d{3}[ ]\d{2}" placeholder="XXX XX" class="form-control" required="">
                            </div>
                        </div>
    
                        <div class="row">
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="place">Ort *</label><div id="placeVal"></div></div>
                                <input id="place" name="place" type="text" placeholder="" class="form-control input-md" required="">
                            </div>
    
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="email">E-post *</label><div id="emailVal"></div></div>
                                <input id="email" name="email" type="email" placeholder="info@example.com" class="form-control" required="">
                            </div>
                        </div>
    
                        <div class="row">
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="contact">Kontaktperson *</label><div id="contactVal"></div></div>
                                <input id="contact" name="contact" type="text" placeholder="" class="form-control input-md" required="">
                            </div>
    
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="telephoneContact">Telefon kontaktperson *</label><div id="telephoneContactVal"></div></div>
                                <input id="telephoneContact" name="telephoneContact" type="tel" pattern='^\d{3}[\(]\d{1}[\)]-\d{7}$' placeholder="XXX(X)-XXXXXXX" class="form-control input-md" required="">
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="form-group col-lg-8">
                                {{ apos.area(data.widget, 'sectionSubtitle2', {
                                    widgets: {
                                        'apostrophe-rich-text': {
                                            toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                            styles: [
                                            { name: 'H1', element: 'h1', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H1 C', element: 'h1', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H1 W', element: 'h1', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H1 W C', element: 'h1', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H1 S', element: 'h1', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H1 S C', element: 'h1', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H2', element: 'h2', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H2 C', element: 'h2', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H2 W', element: 'h2', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H2 W C', element: 'h2', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H2 S', element: 'h2', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H2 S C', element: 'h2', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H3', element: 'h3', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H3 C', element: 'h3', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H3 W', element: 'h3', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H3 W C', element: 'h3', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H3 S', element: 'h3', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H3 S C', element: 'h3', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H4', element: 'h4', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H4 C', element: 'h4', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H4 W', element: 'h4', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H4 W C', element: 'h4', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H4 S', element: 'h4', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H4 S C', element: 'h4', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H5', element: 'h5', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H5 C', element: 'h5', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H5 W', element: 'h5', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H5 W C', element: 'h5', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H5 S', element: 'h5', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H5 S C', element: 'h5', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H6', element: 'h6', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H6 C', element: 'h6', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'H6 W', element: 'h6', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H6 W C', element: 'h6', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H6 S', element: 'h6', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'H6 S C', element: 'h6', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                            { name: 'Normal', element: 'p', styles: { 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'Normal B', element: 'p', styles: { 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'Normal B C', element: 'p', styles: { 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                            { name: 'Normal W', element: 'p', styles: { 'color': '#fff', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                            { name: 'Normal W B', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                            { name: 'Normal W B C', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                            { name: 'Normal S', element: 'p', styles: { 'color': '#b6911f', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                            { name: 'Normal S B', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                            { name: 'Normal S B C', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } }
                                            ]
                                        }
                                    }
                                }) }}
                            </div>
                        </div>
    
                        <div class="row">
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="invoicee">Fakturamottagare *</label><div id="invoiceeVal"></div></div>
                                <input id="invoicee" name="invoicee" type="text" placeholder="Namn på fakturamottagare" class="form-control" required="">
                            </div>
            
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="referens">Referens/Kostnadsställe el dylikt *</label><div id="referensVal"></div></div>
                                <input id="referens" name="referens" type="text" placeholder="" class="form-control input-md" required="">
                            </div>
                        </div>
            
                        <div class="row">
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="gatuadress">Gatuadress/box *</label><div id="gatuadressVal"></div></div>
                                <input id="gatuadress" name="gatuadress" type="text" placeholder="" class="form-control" required="">
                            </div>
                        
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="streetAddress">Postnummer *</label><div id="streetAddressVal"></div></div>
                                <input id="streetAddress" name="streetAddress" type="text" pattern="\d{3}[ ]\d{2}" placeholder="XXX XX" class="form-control input-md" required="">
                            </div>
                        </div>
            
                        <div class="row">
                            <!-- Text input-->
                            <div class="form-group col-lg-4">
                                <div style="width: 300px;"><label for="place1">Ort *</label><div id="place1Val"></div></div>
                                <input id="place1" name="place1" type="text" placeholder="" class="form-control" required="">
                            </div>
                        </div><br/><br/>
    
                        <div class="row">
                            <!-- Button -->
                            <div class="form-group">
                                <div class="col-lg-4">
                                    <input id="btnSend" type="submit" name="submit" value="Skicka" class="SprakButton1">
                                </div>
                                <div class="col-md-4">
                                    <div class="alert alert-success alert-dismissible" style="display: none;">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        Your data was succesfully submitted!
                                    </div>
                                    <div class="alert alert-warning alert-dismissible" style="display: none;">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        Fel skickas!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
    
    <script>
        $(document).ready(function(){
            $('#registerForm').on('submit', function(e){
                e.preventDefault();
                var selectbasic = $('#selectbasic option:selected').text();
                var customerName = $('#customerName').val();
                var organizationNumber = $('#organizationNumber').val();
                var department = $('#department').val();
                var telephone = $('#telephone').val();
                var fax = $('#fax').val();
                var visitingAddress = $('#visitingAddress').val();
                var zip = $('#zip').val();
                var place = $('#place').val();
                var email = $('#email').val();
                var contact = $('#contact').val();
                var telephoneContact = $('#telephoneContact').val();
                var invoicee = $('#invoicee').val();
                var referens = $('#referens').val();
                var gatuadress = $('#gatuadress').val();
                var streetAddress = $('#streetAddress').val();
                var place1 = $('#place1').val();
                $.ajax({
                    url: 'http://192.168.40.170:3001/api/registers',
                    data: JSON.stringify({
                        "selectbasic": selectbasic,
                        "customerName": customerName,
                        "organizationNumber": organizationNumber,
                        "department": department,
                        "telephone": telephone,
                        "fax": fax,
                        "visitingAddress": visitingAddress,
                        "zip": zip,
                        "place": place,
                        "email": email,
                        "contact": contact,
                        "telephoneContact": telephoneContact,
                        "invoicee": invoicee,
                        "referens": referens,
                        "gatuadress": gatuadress,
                        "streetAddress": streetAddress,
                        "place1": place1
                    }),
                    type: "POST",
                    contentType: "application/json",
                    success: function(data){
                        $('#registerForm').html(`<h1>Registrera dina uppgifter</h1><br />
                                        <p><strong>Tack för att du har registrerat dina uppgifter hos Språkservice!</strong></p>
                                        <p>Vi kommer att kontakta dig så fort vi har möjlighet <strong>dock senast inom 24 timmar</strong> med information om ditt kundnummer och webbkonto.</p>
                                        <p><i>Med vänlig hälsning</i></p>
                                        <p><i>Språkservice Sverige AB</i></p>`);
                    },
                    error: function(xhr, status, err){
                        console.log(err);
                        $(".alert-warning").fadeTo(8000, 500).slideUp(500, function(){
                            $(".alert-warning").slideUp(500);
                        });
                    }
                });
            });
        });
    
        (function() {
            var lang = document.documentElement.lang.toLowerCase();
            var customerName = document.getElementById('customerName');
            var customerNameVal = document.getElementById('customerNameVal');
            var organizationNumber = document.getElementById('organizationNumber');
            var organizationNumberVal = document.getElementById('organizationNumberVal');
            var department = document.getElementById('department');
            var departmentVal = document.getElementById('departmentVal');
            var telephone = document.getElementById('telephone');
            var telephoneVal = document.getElementById('telephoneVal');
            var fax = document.getElementById('fax');
            var faxVal = document.getElementById('faxVal');
            var visitingAddress = document.getElementById('visitingAddress');
            var visitingAddressVal = document.getElementById('visitingAddressVal');
            var zip = document.getElementById('zip');
            var zipVal = document.getElementById('zipVal');
            var place = document.getElementById('place');
            var placeVal = document.getElementById('placeVal');
            var email = document.getElementById('email');
            var emailVal = document.getElementById('emailVal');
            var contact = document.getElementById('contact');
            var contactVal = document.getElementById('contactVal');
            var telephoneContact = document.getElementById('telephoneContact');
            var telephoneContactVal = document.getElementById('telephoneContactVal');
            var invoicee = document.getElementById('invoicee');
            var invoiceeVal = document.getElementById('invoiceeVal');
            var referens = document.getElementById('referens');
            var referensVal = document.getElementById('referensVal');
            var gatuadress = document.getElementById('gatuadress');
            var gatuadressVal = document.getElementById('gatuadressVal');
            var streetAddress = document.getElementById('streetAddress');
            var streetAddressVal = document.getElementById('streetAddressVal');
            var place1 = document.getElementById('place1');
            var place1Val = document.getElementById('place1Val');
    
            customerNameVal.id = 'notifyCN';
            customerNameVal.style.display = 'none';
            organizationNumberVal.id = 'notifyCN';
            organizationNumberVal.style.display = 'none';
            departmentVal.id = 'notifyLang';
            departmentVal.style.display = 'none';
            telephoneVal.id = 'notify';
            telephoneVal.style.display = 'none';
            faxVal.id = 'notify';
            faxVal.style.display = 'none';
            visitingAddressVal.id = 'notifyCN';
            visitingAddressVal.style.display = 'none';
            zipVal.id = 'notifyCN';
            zipVal.style.display = 'none';
            placeVal.id = 'notifyCN';
            placeVal.style.display = 'none';
            emailVal.id = 'notify';
            emailVal.style.display = 'none';
            contactVal.id = 'notifyCN';
            contactVal.style.display = 'none';
            telephoneContactVal.id = 'notifyLogin';
            telephoneContactVal.style.display = 'none';
            invoiceeVal.id = 'notifyCN';
            invoiceeVal.style.display = 'none';
            referensVal.id = 'notifyLang';
            referensVal.style.display = 'none';
            gatuadressVal.id = 'notifyCN';
            gatuadressVal.style.display = 'none';
            streetAddressVal.id = 'notifyCN';
            streetAddressVal.style.display = 'none';
            place1Val.id = 'notifyCN';
            place1Val.style.display = 'none';
    
            fax.addEventListener('invalid', function(event){
                event.preventDefault();
                if ( ! event.target.validity.valid ) {
                    fax.className = 'form-control animated shake invalid';
                    if ( lang === "en" )
                        faxVal.textContent = '(Please control format)';
                    if ( lang === "se" )
                        faxVal.textContent = '(Vänligen kontrollera formatet)';
                    faxVal.className = 'error';
                    faxVal.style.display = 'block';
                }
            });
    
            fax.addEventListener('input', function(event){
                if ( 'block' === faxVal.style.display ) {
                    fax.className = 'form-control';
                    faxVal.style.display = 'none';
                }
            });
    
            ValidationMessages(customerName, customerNameVal);
            ValidationMessages(organizationNumber, organizationNumberVal);
            ValidationMessages(department, departmentVal);
            ValidationMessages(telephone, telephoneVal, true);
            ValidationMessages(visitingAddress, visitingAddressVal);
            ValidationMessages(zip, zipVal);
            ValidationMessages(place, placeVal);
            ValidationMessages(email, emailVal, true);
            ValidationMessages(contact, contactVal);
            ValidationMessages(telephoneContact, telephoneContactVal, true);
            ValidationMessages(invoicee, invoiceeVal);
            ValidationMessages(referens, referensVal);
            ValidationMessages(gatuadress, gatuadressVal);
            ValidationMessages(streetAddress, streetAddressVal);
            ValidationMessages(place1, place1Val);
        })();
    
        function ValidationMessages(inputName, inputNameVal, format){
            inputName.addEventListener('invalid', function(event){
                event.preventDefault();
                var lang = document.documentElement.lang.toLowerCase();
                if ( ! event.target.validity.valid ) {
                    inputName.className = 'form-control animated shake invalid';
                    if ( lang === "en" )
                        if(format)
                            inputNameVal.textContent = '(Please fill in the field/Please control format)';
                        else
                            inputNameVal.textContent = '(This field is compulsory)';
                    if ( lang === "se" )
                        if(format)
                            inputNameVal.textContent = '(Vänligen fyll I fältet/Vänligen kontrollera formatet)';
                        else
                            inputNameVal.textContent = '(Detta fältet är obligatorisk)';
                    inputNameVal.className = 'error';
                    inputNameVal.style.display = 'block';
                }
            });
    
            inputName.addEventListener('input', function(event){
                if ( 'block' === inputNameVal.style.display ) {
                    inputName.className = 'form-control';
                    inputNameVal.style.display = 'none';
                }
            });
        }
    </script>