{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}
{% block locale %}{{ apos.modules['apostrophe-workflow'].lang() }}{% endblock %}
{% block extraHead %}
  {#
    This block outputs its contents in the HTML document's 
  #}
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"></link>
  <link href="/modules/my-apostrophe-assets/css/default.css" rel="stylesheet"></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/f9ad17e9c7.js"></script>

  <!-- Include Date Range Picker -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/> -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" />
  <style>
          .carousel-caption{
              top:0;
          }
          
          .tolkningRow {
              position: absolute;
      left: 8%;
      top: -0;
      width: 78.5%;
      }
      .tolkningNonActive {
          position: absolute;
      left: 8%;
      top: -8px;
      width: 85.5%;
      margin-top: -1px;
      height: 71px;
      border-top-right-radius: 10px;
      }
      .tolkningText {
          float: left;position: relative;top: -9px;left: 31px; 
      }
      .tolkningText a {
          font-weight: bold;
      }
      .oversatningRow {
          position: absolute;
      top: 0;
      left: 9%;
      width: 83.5%;
      }
      .oversatningRow a {
          margin-left: -11px;
      }
      .oversatningNonActive {
          position: absolute;
      top: -9px;
      left: 2%;
      width: 90.5%;
      height: 71px;
      border-top-left-radius: 10px;
      }
      .oversatningText {
          float: left;position: relative;top: -9px;left: 31px; 
      }
  
      .oversatningText a { 
          font-weight: bold;
      }
      @media (max-width: 1201px) { 
          .tolkningNonActive {
      position: absolute;
      left: 8%;
      top: -69px;
      width: 91.5%;
      margin-top: -1px;
      height: 71px;
      border-top-right-radius: 10px;
  }
  .oversatningRow {
      position: absolute;
      top: -61px;
      left: -1%;
      width: 93.5%;
  }
  .tolkningRow {
      position: absolute;
      left: 8%;
      top: -61px;
      width: 86.5%;
  }
  .oversatningNonActive {
      position: absolute;
      top: -70px;
      left: -6%;
      width: 98.5%;
      height: 71px;
      border-top-left-radius: 10px;
  }
  .tolkningNonActive {
      position: absolute;
      left: 8%;
      top: -69px !important;
      width: 91.5% !important;
      margin-top: -1px;
      height: 71px;
      border-top-right-radius: 10px;
  }
  
      }
  </style> 
  <nav class="navbar navbar-default" style="padding-bottom: 25px;">
      <div class="container">
        <div class="navbar-header" style="padding-top: 21px;"><a class="navbar-brand navbar-link logoSecond" href="{{ data.home._url }}"></a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right" style="padding-top: 23px;">
                {% for tab in data.home._children %}
                {% if tab._children.length %}
                <li><a href="{{ tab._url }}">{{ tab.title }}</a>
                <button style="position: relative; left: 90%; bottom: 40px; background-color: transparent; border: none;" class="dropdown-toggle animateCustom hidden-md hidden-lg" type="button" id="{{ tab._id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span style="color: #fff !important" class="caret"></span>
                    </button>
                    <ul class="dropdown-menu hidden-md hidden-lg" aria-labelledby="{{ tab._id }}">
                            {% for child in tab._children %}
                            <li id="{{ tab._id }}" ><a href="{{ child._url }}">{{ child.title }}</a></li>
                            {% endfor %}
                        </ul>
                </li>
                    {% else %}
                    <li><a href="{{ tab._url }}">{{ tab.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                  <li class="hidden-xs hidden-sm"><a id="lang" href=""></a><span class="globe"></span></li>
                  <li style="padding: 11px 39px 11px 35px; margin-top: -15px; margin-left: 10px;" class="btnMenuhover text-center hidden-xs hidden-sm">Bli kund</li>
                  <li style="float: right; color: #fff; background-color: transparent; margin-right: 5%;" class="text-center hidden-sm hidden-md hidden-lg"><span class="globe"></span>SE | EN</li>
              </ul>
        </div>
      </div>
</nav>
{% if data.page._children == false %}
<div class="container-fluid hidden-xs hidden-sm" style="background-color: rgba(226, 218, 193, 0.3); color: #484848; margin-top: -21px;height: 74px; display: none;">
    <div class="row">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul style="float: right; height: 35px; background-color: transparent; border: none;" class="list-group list-group-horizontal">
                    {% for child in data.page._children %}
                    <li class="list-group-item"><a style="color: #484848 !important; font-weight: bold; text-decoration: none;" href="{{ child._url }}">{{ child.title }}</a></li>
                    {% endfor %}
               </ul>
           </div> 
        </div>
      </div>
    </div>
</div>
{% else %}
<div class="container-fluid hidden-xs hidden-sm" style="background-color: rgba(226, 218, 193, 0.3); color: #484848; margin-top: -21px;height: 74px;">
    <div class="row">
        <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <ul style="float: right; height: 35px; background-color: transparent; border: none;" class="list-group list-group-horizontal">
                      {% for child in data.page._children %}
                      <li class="list-group-item"><a style="color: #484848 !important; font-weight: bold; text-decoration: none;" href="{{ child._url }}">{{ child.title }}</a></li>
                      {% endfor %}
                 </ul>
             </div> 
          </div>
        </div>
      </div>
</div>
{% endif %}
<script>
    (function(){
            if (document.documentElement.lang.toLowerCase() === "en")
            {
                $("#lang").text("SV");
                $("#lang").attr("href", "http://192.168.40.170:3000/se")
            }
            else
            {
                $("#lang").text("EN");
                $("#lang").attr("href", "http://192.168.40.170:3000/en")
            }
        })();
</script>
{% endblock %}

{% block beforeMain %}
  {#
    We recommend you use the beforeMain block for global page components
    like headers or navigation.
  #}
  
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the apostrophe-pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  {#
    This would be a great place to put a global footer.
  #}
  <style>
      h4 {
        font-weight: bold;
      }
      .pMargin p {
        margin: 0 !important;
      }
    </style>
    <section class="footer">
        <div class="container-fluid footerInfo">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-2 col-md-push-2 pMargin">
                    <p class="gotham14">Våra kontor</p><br>
                    
                        <p class="gotham12">Malmö – huvudkontor</p> 
                        <p class="gothamBook11">0770-457 458</p>
                        <p class="gothamBook11">info@sprakservice.se</p>
                        <p class="gothamBook11">Föreningsgatan 15, Malmö</p><br>
    
                        <p style="font-weight: bold">Stockholm</p>
                        <p class="gothamBook11">0770-457 458.</p> 
                        <p class="gothamBook11">info@sprakservice.se</p>
                        <p class="gothamBook11">Vretenvägen 9, 171 54 Solna</p>
                    
                </div>
                <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-2 col-md-push-2">
                        <p class="gotham14">Sitemap</p><br>
                    
                        <p class="gothamBook12">Översättning</p>
                        <p class="gothamBook12">Tolkning</p>
                        <p class="gothamBook12">Om Språkservice</p>
                        <p class="gothamBook12">Kontakt</p>
                        <p class="gothamBook12">Aktuellt</p>
                        <p class="gothamBook12">Jobb</p>
                        <p class="gothamBook12">Information</p>
                        <p class="gothamBook12">Press</p>
                </div>
                <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-2 col-md-push-2 info">
                        <p class="gotham14">Information</p> <br>
                    
                        <p class="gothamBook12">Jobba som tolk</p>
                        <p class="gothamBook12">Jobba som översättare</p>
                        <p class="gothamBook12">Etiska regler</p>
                        <p class="gothamBook12">Allmänna villkor</p>
                        <p class="gothamBook12">Länkar till formulär</p>
                        <p class="gothamBook12">Organisationsinformation</p>
                </div>
                <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-2 col-md-push-2 social">
                        <p class="gotham14">Social media</p><br>
                    
                        <p class="gothamBook12">Facebook</p>
                        <p class="gothamBook12">Twitter</p>
                        <p class="gothamBook12">LinkedIn</p>
                        <p class="gothamBook12">Instagram</p><br>
                        <p class="gotham14">Jourtelefon</p>
                        <p class="gotham12">0770-457 458</p>
                </div>
            </div>
        </div>
      <div class="container-fluid postFooter text-center">
          <div class="row">
              <div class="col-md-12">
                      © 2018 Språkservice Sverige AB. Allt material på denna webbplats tillhör Språkservice.
              </div>
          </div>
      </div>
  </section>
  <style>
        @media (max-width: 768px) {
            .info {
                margin-top: 35%;
            }
            
            .social {
                position: relative;
                top: -227px;
            }
        }
    </style>
{% endblock %}