{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}
{% block locale %}{{ apos.modules['apostrophe-workflow'].lang() }}{% endblock %}
{% block extraHead %}
  {#
    This block outputs its contents in the HTML document's 
  #}
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"></link>
  <link href="/modules/my-apostrophe-assets/css/style.css" rel="stylesheet"></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  
  
{% endblock %}

{% block beforeMain %}

  {#
    We recommend you use the beforeMain block for global page components
    like headers or navigation.
  #}
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the apostrophe-pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  {#
    This would be a great place to put a global footer.
  #}
  <style>
    h4 {
      font-weight: bold;
    }
    .pMargin p {
      margin: 0 !important;
    }
    .gotham12 {
      font-family: 'gotham';
      font-size: 12px;
    }
    .gothamBook12 {
      font-family: 'gotham-book';
      font-size: 12px;
    }

      .gothamBook11 {
      font-family: 'gotham-book';
      font-size: 11px;
    }

    .gotham14 {
      font-family: 'gotham';
      font-size: 14px !important;
    }
  </style>
     <section class="footer">
        <div class="container-fluid footerInfo">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-2 col-md-push-2 pMargin">
                    <p class="gotham14">Våra kontor</p><br>
                    
                        <p class="gotham12">Malmö – huvudkontor</p> 
                        <p class="gothamBook11">0770-457 458</p>
                        <p class="gothamBook11">info@sprakservice.se</p>
                        <p class="gothamBook11">Föreningsgatan 15, Malmö</p><br>
    
                        <p style="font-weight: bold">Stockholm</p>
                        <p class="gothamBook11">0770-457 458.</p> 
                        <p class="gothamBook11">info@sprakservice.se</p>
                        <p class="gothamBook11">Vretenvägen 9, 171 54 Solna</p>
                    
                </div>
                <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-2 col-md-push-2">
                        <p class="gotham14">Sitemap</p><br>
                    
                        <p class="gothamBook12">Översättning</p>
                        <p class="gothamBook12">Tolkning</p>
                        <p class="gothamBook12">Om Språkservice</p>
                        <p class="gothamBook12">Kontakt</p>
                        <p class="gothamBook12">Aktuellt</p>
                        <p class="gothamBook12">Jobb</p>
                        <p class="gothamBook12">Information</p>
                        <p class="gothamBook12">Press</p>
                </div>
                <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-2 col-md-push-2 info">
                        <p class="gotham14">Information</p> <br>
                    
                        <p class="gothamBook12">Jobba som tolk</p>
                        <p class="gothamBook12">Jobba som översättare</p>
                        <p class="gothamBook12">Etiska regler</p>
                        <p class="gothamBook12">Allmänna villkor</p>
                        <p class="gothamBook12">Länkar till formulär</p>
                        <p class="gothamBook12">Organisationsinformation</p>
                </div>
                <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-2 col-md-push-2 social">
                        <p class="gotham14">Social media</p><br>
                    
                        <p class="gothamBook12">Facebook</p>
                        <p class="gothamBook12">Twitter</p>
                        <p class="gothamBook12">LinkedIn</p>
                        <p class="gothamBook12">Instagram</p><br>
                        <p class="gotham14">Jourtelefon</p>
                        <p class="gotham12">0770-457 458</p>
                </div>
            </div>
        </div>
        <div class="container-fluid postFooter text-center">
            <div class="row">
                <div class="col-md-12">
                        © 2018 Språkservice Sverige AB. Allt material på denna webbplats tillhör Språkservice.
                </div>
            </div>
        </div>
    </section>
    <style>
          @media (max-width: 768px) {
              .info {
                margin-top: 7%;
              }
              
              .social {
                  position: relative;
                  top: 39px;
              }
          }
      </style>
{% endblock %}