@font-face {
    font-family: 'gotham';
    src: url("fonts/GothamHTF-Medium.otf") format("opentype");
}
@font-face {
    font-family: 'gotham-bold';
    src: url("fonts/GothamHTF-Bold.otf") format("opentype");
}
@font-face {
    font-family: 'gotham-book';
    src: url("fonts/GothamHTF-Book.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-align: left;
}
h1 {
    font-size: 48px !important;
    font-weight: bold;
    font-family: 'gotham-bold', sans-serif;
}

h2 {
    font-size: 36px !important;
    font-weight: bold;
    font-family: 'gotham-bold', sans-serif;
}

h3 {
    font-size: 24px !important;
    font-weight: bold;
    font-family: 'gotham-bold', sans-serif;
}

h4 {
    font-size: 20px !important;
    font-weight: bold;
    font-family: 'gotham-bold', sans-serif;
}

h6 {
    font-size: 20px !important;
    font-family: 'gotham', sans-serif;
}

p {
    font-size: 18px;
    font-family: 'gotham-book', sans-serif;
}

hr {
  width: 500px;
  height: 1px;
  border: solid 0.5px #979797;

}

.loginImg {
    background: url(img/loginImage.png);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    /* position: relative; */
    /* top: 25px; */
    /* left: 35%; */
    position: relative;
    float: right;
    padding: 9px 10px;
    top: 15px;
    margin-top: 8px;
    margin-right: 15px;
    /* margin-bottom: 8px; */
    border: none;
}

.navbar-brand {
    background-image: url(/uploads/attachments/cjfjbwco6001lhgwbqpnxm3f9-logo-original.full.png);
    background-size: 174px;
    width: 175px;
    background-repeat: no-repeat;
}

.btnMenuhover {
    background-color: #fff;
    border: 1px solid #b6911f;
    color: #b6911f;
    padding: 8px 37px;
    border-radius: 30px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 17px;
left: 19px;
}

.logoSecond {
    background-image: url(img/logo-original.png);
    background-size: 174px;
    width: 175px;
    background-repeat: no-repeat;
    margin-top: 2px;
}

.apos-rich-text a {
    color: grey;
    text-decoration: none;
}

.apos-rich-text a:hover {
    color: grey;
    text-decoration: none;
    opacity: 0.6;
}

.accordion p {
    font-size: 20px;
    padding-top: 22px;
    text-decoration: none;
    color: #323232;
    /* font-weight: bold; */
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

.searchResult input[type=search] {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 94%;
    border-bottom: 1px solid #000;
}

.searchResult p {
    font-size: 15px;
     margin-top: 15px !important;
}

.bold {
    font-weight: bold;
}

div.container>h1 {
    margin-top: 35px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #484848;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #484848;
} 

.globe {
    background-image: url(img/earth-black.png);
    background-size: 15px;
    height: 32px;
    position: absolute;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -42px;
    margin-left: 34px;
    z-index: 0;
}

.search {
   width: 12.5px;
  height: 12.5px;
  display: inline-block;
  
  -webkit-mask: url(img/search-ikon.svg) no-repeat 50% 50%;
  mask: url(img/search-ikon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #484848;   
}

.searchStep {
  width: 39px;
  height: 39px;
  display: inline-block;
  
  -webkit-mask: url(img/search-ikon.svg) no-repeat 50% 50%;
  mask: url(img/search-ikon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #484848;   
}

.panel-default>.panel-heading {
    color: #333;
    background-color: transparent !important;
    border-color: transparent !important;    
    z-index: 10 !important;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #e8e8e8;
}

.customPanel a {
    position: relative;
    padding-top: 20px;
    text-decoration: none;
    color: #323232;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.customPanel:nth-child(odd) {
    background-color: #f8f8f8;
    z-index: 100 !important;
}

/* .panel:nth-child(odd) {
    background-color: #f8f8f8 !important;
    z-index: 100 !important;
} */

.panel-body {
    background-color: #fff !important;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.panel-title h4 {
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: left;
}

.panel-default {
    border-color: transparent !important;
}

.panel {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
}

h1 {
    color: #b6911f;
    font-weight: bold;
}

.titleUnderline {
    border-bottom: 1px solid #979797;
    width: 500px;
    padding-top: 25px;
    line-height: 105px;
}

h3 {
    color: #b6911f;
    font-weight: bold;
}

.avdMenu {
    background-color: #f8f8f8;
} 

.chevron-down-circle {
    margin-top: -58px;
    width: 35px;
    height: 35px;
    display: inline-block;
    
    background-image: url(img/down-circle-ikon.png);
    background-size: 35px;
    transform: rotateX(0);
    transition: ease-in 1s;
}

.chevron-down-circle-up {
    margin-top: -58px;
    opacity: 0.6;
    transform: rotateX(180deg);
    width: 35px;
    height: 35px;
    display: inline-block;
    
    background-image: url(img/down-circle-ikon.png);
    background-size: 35px;
    transition: ease-out 1s;
}

.btnSectionApp {
    padding: 19px 85px;
    border-radius: 30px;
    border: solid 1px #b6911f;
      color: #b6911f;
      text-decoration: none;
      font-size: 16px;
      text-align: center;
  }

  .btnSectionApp:hover {
      background-color: #b6911f;
      color: #fff;
    text-decoration: none;
  }

  .btnSectionApp p {
    padding: 0;
    margin: 0 !important;
  }
  
  .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 400;
}

.footer {
    background-image: linear-gradient(to right, rgba(50, 50, 50, 0.3), rgba(50, 50, 50, 0.3)), url(img/footer.jpg);
     background-size: cover;
    background-position: bottom right;
    color: #fff;
    overflow-x: hidden;
}


.footerInfo {
    padding-top: 9%;
    padding-bottom: 9%; 
    line-height: 1.99;
}
.postFooter {
    border-top: 1px solid #fff;
    padding: 2%;
    font-size: 12px;
}

.avdMenu {
    background-color: #f8f8f8;
}

.divider-role {
    margin-left: 0;
    width: 80%;
    border: solid 0.5px #979797;
}

/* .titleAvdelningar {
    width: 449.5px;
    height: 25px;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: normal;
    text-align: left;
    color: #b6911f;
    margin-top: 7%;
}

.mm {
    font-size: 22px;
    text-align: left;
    color: #323232;
} */

/* .mm-email {
    color: #b6911f;
    font-size: 19px;
    font-weight: bold;
    margin-top: -10px;
} */

#sprakCollapse {
    margin-top: 5%;
}

.form-control {
    display: block;
    width: 300px;
    height: 50px;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    background-color: #f8f8f8;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 1px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}

textarea.form-control {
    width: 88%;
    height: 150px;
}

#subject {
    width: 390px;
}

#register {
	color: #b6911f;
	font-size: 19px;
	padding-top: 40px;
}

.form-horizontal {
	margin-left: 15px;
}

.SprakButton1 {
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border: solid 2px #b6911f;
    color: #b6911f;
    background-color: #fff;
}

.SprakButton1:hover {
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border: solid 1px #ffffff;
    color: #fff;
    background-color: #b6911f;
}

.drop_list {
    display: block;
    width: 300px;
    height: 50px;
    font-size: 19px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f8f8f8;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 1px;

    background-image:url('img/down-circle-ikon.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25px;
    background-position-x: 264px;
}

.drop_list_rotate {
    display: block;
    width: 300px;
    height: 50px;
    font-size: 19px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f8f8f8;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 1px;

    background-image:url('img/down-circle-ikon-180.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25px;
    background-position-x: 264px;
}

.drop_list select{
    -webkit-appearance:none;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent;
    width: 100%;
    overflow: hidden;
}

.drop_list_rotate select{
    -webkit-appearance:none;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent;
    width: 100%;
    overflow: hidden;
}

.drop_list_quality {
    display: block;
    width: 390px;
    height: 50px;
    font-size: 19px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f8f8f8;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 1px;

    background-image:url('img/down-circle-ikon.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25px;
    background-position-x: 360px;
}

.drop_list_rotate_quality {
    display: block;
    width: 390px;
    height: 50px;
    font-size: 19px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f8f8f8;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 1px;

    background-image:url('img/down-circle-ikon-180.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25px;
    background-position-x: 360px;
}

.drop_list_quality select{
    -webkit-appearance:none;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent;
    width: 100%;
    overflow: hidden;
}

.drop_list_rotate_quality select{
    -webkit-appearance:none;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent;
    width: 100%;
    overflow: hidden;
}

    select::-ms-expand {	display: none; }
    select{
        -webkit-appearance: none;
        appearance: none;
    }

    .list-group-horizontal .list-group-item {
        display: inline-block;
    }
    .list-group-horizontal .list-group-item {
        margin-bottom: 0;
        margin-left:-4px;
        margin-right: 0;
    }
    .list-group-horizontal .list-group-item:first-child {
        border-top-right-radius:0;
        border-bottom-left-radius:4px;
    }
    .list-group-horizontal .list-group-item:last-child {
        border-top-right-radius:4px;
        border-bottom-left-radius:0;
    }

    .list-group-item {
        background-color: transparent;
        border: none;
        font-weight: bold;
        line-height: 3.86;
    }

    .list-group-item p a {
        font-weight: bold; 
        text-decoration: none;
        color: #484848;
    }

.m-left-top {
    width: 100%;
}

.oversattning {
    background-color: -webkit-linear-gradient(left, rgba(182, 145, 31, 0.86), rgba(182, 145, 31, 0.86));
    background-color: -o-linear-gradient(left, rgba(182, 145, 31, 0.86), rgba(182, 145, 31, 0.86));
    background-color: linear-gradient(to right, rgba(182, 145, 31, 0.86), rgba(182, 145, 31, 0.86)); 
    background-size: cover;
    background-position: center;
    color: #fff;
    font-weight: lighter;
    opacity: 0.8;
 }
 
 .oversattning:hover {
     opacity: 0.9;
 }

 .div-image {
    position: relative;
}

.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.div-image:hover .image {
  opacity: 0.3;
}

.div-image:hover .middle {
  opacity: 1;
}

.text {
  background-color: #b6911f;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.apos-article-title {
    margin-top: 0px;
    padding-bottom: 0px;
    text-align: left !important;
}

.post-date {
    color: #b6911f;
    font-size: 12px;
}

.meta-info {
    margin-top: -7px;
}

.link-blog-title:hover {
    color: #b6911f;
}

/* -- */

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/* -- */

.checkbox label, .radio label {
    padding-left: 0;
    margin-bottom: 0;
}

.radio {
    padding-left: 20px;
  }
  
  .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  
  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
  }
  
  .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  }
  
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
  }
  
  .radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
  .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  
  .radio input[type="radio"]:disabled + label {
    opacity: 0.65;
  }
  
  .radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
  }
  
  .radio.radio-inline {
    margin-top: 0;
  }
  
  .radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
  }
  
  .radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
  }
  
  .radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
  }
  
  .radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
  }
  
  .radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
  }
  
  .radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
  }
  
  .radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
  }
  
  .radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
  }
  
  .radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
  }
  
  .radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
  }
  
  .radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
  }
  
  .radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
  }
  
  .radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
  }
  
  .radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
  }
  
  .radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
  }

input:focus:invalid {
    border-color: #ff8383;
    box-shadow: none;
    -moz-box-shadow: none;
  }

  .invalid {
    border-color: #ff8383;
    box-shadow: none;
    -moz-box-shadow: none;
  }

#notify {
    font-size: 10px;
    width: 224px;
    color: #ff8383;
    float: right;
    display: block;
    position: relative;
    top: 5px;
    text-align: right;
}

#notifyMsg {
    font-size: 10px;
    width: 185px;
    color: #ff8383;
    float: right;
    display: block;
    position: relative;
    top: 5px;
    text-align: right;
}

#notifyCN {
    font-size: 10px;
    width: 125px;
    color: #ff8383;
    float: right;
    display: block;
    position: relative;
    top: 5px;
    text-align: right;
}

#notifyTel {
    font-size: 10px;
    width: 229px;
    color: #ff8383;
    float: right;
    display: block;
    position: relative;
    top: 5px;
    text-align: right;
}

#notifyLang {
    font-size: 10px;
    width: 70px;
    color: #ff8383;
    float: right;
    display: block;
    position: relative;
    text-align: right;
}

#notifyLogin {
    font-size: 10px;
    width: 129px;
    color: #ff8383;
    float: right;
    display: block;
    position: relative;
    text-align: right;
}

select {
    -moz-appearance:none;
}

label {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
}

.state {
    margin-top: -3px;
}

.panel{
    width: 100%;
    height: auto;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: none;
    margin-bottom: 8px;
  }
  
  .panel-login {
      border-color: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
  }

.panel-heading {
	color: #00415d;
	/* background-color: rgba(255, 255, 255, 0.85); Collision to accordion */
	border-color: none;
	text-align:center;
    border-bottom:none; 
    border-top-left-radius: none; 
    border-top-right-radius: none; 
}
.panel-heading a{
	text-decoration: none;
	color: #323232;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-heading a.activeFrom{
	color: #029f5b;
	font-size: 18px;
}
.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    border-radius: 22px;
    background-color: #fff;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.panel-body {
    padding: 15px;
    /* margin-top: 25px; Collision to accordion */
}

.activeForm {
    background-color: #b6911f;
    color: #fff;
    opacity: 0.85;
}
.activeForm a {
    color: #fff;
    font-weight: 300 !important;
}

.loginSprakButton {
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border: solid 1px #ffffff;
    color: #fff;
    background-color: #b6911f;
    font-weight: bold;
}

.loginSprakButton:hover {
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border: solid 2px #b6911f;
    color: #b6911f;
    background-color: #fff;
}

/* Radio button styles */
.pretty .state label:after, .pretty .state label:before {
    top: calc((0% - (100% - 1em)) - 19%) !important;
}

input[type="search"], textarea, select { 
    outline: none;
}

.row hr {
    width: 45%;
    border: solid 0.1px #979797;
}

.rowSearch {
    max-height: 120px; overflow-y: hidden;
}

.titleSearch {
    max-height: 85px;
    overflow-y: hidden;
    padding-top: 30px;
}

/*********************** MEDIA QUERIES ***********************/

@media (max-width: 768px) {

    #searchInput {
        width: 80%;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #333;
        /* background-color: #323232; */
        background-color: rgba(232, 232, 232, 0.1);
    }

    .navbar-default {
        border-bottom: none;
    }
    .navbar-header {
        background-color: #323232;
    }

    .navbar-nav>li>a {
        padding-top: 31px;
        padding-bottom: 17px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: none !important;
        border-top: transparent;
        background-color: #323232;
        overflow: hidden;
    }
        /* .navbar-nav>li>a {
        text-align: center;
    } */
    .navbar-nav>li:hover {
        background-color: rgba(232, 232, 232, 0.1);
    }
    .navbar-default .navbar-nav>li>a {
        color: #fff !important;
        font-weight: bold;
    }

    /* .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
        background-color: rgba(232, 232, 232, 0.1);
    } */

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff !important;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent !important; 
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent !important;
    }
    
    .navbar-toggle .icon-bar {
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 1px;
        margin-top: 10px;
    }
    .navbar-fixed-top {
        display: none !important;
    }

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        background-color: #323232;
        color: #fff;
    }

    .logoSecond {
        background-image: url(img/logo.png) !important;
        background-size: 145px;
        width: 216px;
        height: 60px;
        margin-top: 17px;
        margin-left: 12px;
        background-repeat: no-repeat;
    }

    .hero {
        height: 1000px !important;
    }

    .carousel-inner {
        height: 540px;
    }

    #slideImgHeight {
        height: 100%;
    }
    
    .form {
        background-color: rgb(50, 50, 50);
        width: 100%;
        position: absolute;
        top: 52px;
    }

    h1 {
        font-size: 24px !important;
    }
    
    h2 {
        font-size: 18px !important;
    }

    h3 {
        font-size: 16px !important;
    }

    h4 {
        font-size: 14px !important;
    }

    h6 {
        font-size: 14px !important;
        font-family: 'gotham', sans-serif;
    }
    
    p {
        font-size: 12px !important;
    }

    .chevron-down-circle {
        margin-top: -27px;
        width: 20px;
        height: 20px;
        background-size: 20px;
    }
    
    .chevron-down-circle-up {
        margin-top: -27px;
        width: 20px;
        height: 20px;
        background-size: 20px;
    }

    .panel-title h4 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .panel-title .apos-rich-text {
        height: 27px;
    }

    .row hr {
        width: 100% !important;
    }

    .rowSearch {
        max-height: 270px; overflow-y: hidden;
    }

    .titleSearch {
        max-height: 68px;
        overflow-y: hidden;
        padding-top: 30px;
    }
}

/* @media (max-width: 1000px) {
    #searchInput {
        width: 90%;
    }
} */

@media (max-width: 992px){
    .logoSecond {
        background-image: url(img/logo-original.png);
        background-size: 100% !important;
        width: 139px !important;
    }

    #searchInput {
        width: 84%;
    }
}