/*Språkservice color #b6911f*/

@font-face {
    font-family: 'gotham';
    src: url("fonts/GothamHTF-Medium.otf") format("opentype");
}
@font-face {
    font-family: 'gotham-bold';
    src: url("fonts/GothamHTF-Bold.otf") format("opentype");
}
@font-face {
    font-family: 'gotham-book';
    src: url("fonts/GothamHTF-Book.otf") format("opentype");
}

.apos-rich-text a {
    color: grey;
    text-decoration: none;
}

.apos-rich-text a:hover {
    color: grey;
    text-decoration: none;
    opacity: 0.6;
}

.logoSecond {
    background-image: url(img/logo-original.png);
    background-size: 174px;
    width: 175px;
    background-repeat: no-repeat;
    margin-top: 19px;
}

.logoOriginal {
    background-image: url(img/logo.png);
    background-size: 209px;
    width: 216px;
    height: 54px;
    margin-top: 17px;
    background-repeat: no-repeat;
}


html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-align: left;
}
h1 {
    font-size: 48px !important;
    font-weight: bold;
    font-family: 'gotham-bold', sans-serif;
}

h2 {
    font-size: 36px !important;
    font-weight: bold;
    font-family: 'gotham-bold', sans-serif;
}
h3 {
    font-size: 24px !important;
    font-weight: bold;
    font-family: 'gotham-bold', sans-serif;
}
h4 {
    font-size: 20px !important;
    font-weight: bold;
    font-family: 'gotham-bold', sans-serif;
}

p {
    font-size: 18px;
    font-family: 'gotham-book', sans-serif;
}

.padding25 {
    padding: 25px;
}

.padding-top80 {
    padding-top: 80px;
}

.margin-top15 {
    margin-top: 15px;
}
.sprakTitle {
    color: #b6911f;
}

.navbar-default {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'gotham-book' !important;
}

.navbar-nav>li>a {
    padding-top: 31px;
    padding-bottom: 17px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    font-weight: bold; 
}

.navbar-nav {
    padding-top: 7px;
    padding-bottom: 15px;
}

.globe {
    background-image: url(img/earth.png);
    background-size: 15px;
    height: 32px;
    position: absolute;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -43px;
    margin-left: 29px;
    z-index: -10;
}

.globeBlack {
    background-image: url(img/earth-black.png);
    background-size: 15px;
    height: 32px;
    position: absolute;
    width: 32px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -42px;
    margin-left: 28px;
    z-index: 0;
}

.hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(/uploads/attachments/cjfc9h18a001yygiuxtld7pr9-theoffice.full.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
}
.btn.active, .btn:active {
    box-shadow: none !important;
}

.btnMenu {
        /* margin: 0 0 5px; */
        padding: 8px 37px;
        border-radius: 30px;
        border: solid 1px #ffffff;
        color: #fff;
        /* margin-top: 3px; */
        font-size: 14px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        position: relative;
        top: 17px;
    left: 19px;
}

.btnMenuhover{
    background-color: #fff;
    border: 1px solid #b6911f;
    color: #b6911f;
    padding: 8px 37px;
    border-radius: 30px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 17px;
left: 19px;
}

.btnMenu:hover {
    background-color: #fff;
    border: 1px solid #b6911f;
    color: #b6911f;
}

.heroMainPadding {
    padding-top: 15%;
}
.heroText {
    padding-top: 19%;
    line-height: 1.5;
}

.heroText h1 {
    font-weight: bold;
    margin-bottom: 3%;
    font-size: 48px;
    text-align: left;
}

.panel{
    width: 100%;
    height: auto;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: none;
    margin-bottom: 8px;
  }
  
  .panel-login {
      border-color: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
  }

.panel-heading {
	color: #00415d;
	background-color: rgba(255, 255, 255, 0.85);
	border-color: none;
	text-align:center;
    border-bottom:none; 
    border-top-left-radius: none; 
    border-top-right-radius: none; 
}
.panel-heading a{
	text-decoration: none;
	color: #323232;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-heading a.activeFrom{
	color: #029f5b;
	font-size: 18px;
}
.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    border-radius: 22px;
    background-color: #fff;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.panel-body {
    padding: 15px;
    margin-top: 25px;
}

label {
    color: #323232 !important;
    font-weight: normal;
}
.activeForm {
    background-color: #b6911f;
    color: #fff;
    opacity: 0.85;
}
.activeForm a {
    color: #fff;
    font-weight: 300 !important;
}

.loginSprakButton {
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border: solid 1px #ffffff;
    color: #fff;
    background-color: #b6911f;
    font-weight: bold;
}

.loginSprakButton:hover {
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border: solid 2px #b6911f;
    color: #b6911f;
    background-color: #fff;
}

.oversattning {
   background-image: -webkit-linear-gradient(left, rgba(182, 145, 31, 0.86), rgba(182, 145, 31, 0.86));
    background-image: -o-linear-gradient(left, rgba(182, 145, 31, 0.86), rgba(182, 145, 31, 0.86));
    background-image: linear-gradient(to right, rgba(182, 145, 31, 0.86), rgba(182, 145, 31, 0.86)); 
    background-size: cover;
    background-position: center;
    font-size: 18px;
    padding: 5% 10% 5% 10%;
    color: #fff;
    font-weight: lighter;
    height: 500px;
}

.oversattning:hover {
    opacity: 0.9;
}

.oversattning h1 {
    font-size: 43px;
    margin-bottom: 5%;
}

.oversattning p {
    font-weight: lighter;
}
/*
.oversattning .divP {
    width: 520px;
    height: 112px;
    padding: 5% 0 0 20%;55px 0px 100px 71px;

}
*/
.tolkning {
  background-image: -webkit-linear-gradient(left, rgba(50, 50, 50, 0.86), rgba(50, 50, 50, 0.86)), url(/uploads/attachments/cjf7zcog20044ygiu10ey152g-daffodils.full.jpg);
  background-image: -o-linear-gradient(left, rgba(50, 50, 50, 0.86), rgba(50, 50, 50, 0.86)), url(/uploads/attachments/cjf7zcog20044ygiu10ey152g-daffodils.full.jpg);
  background-image: linear-gradient(to right, rgba(50, 50, 50, 0.86), rgba(50, 50, 50, 0.86)), url(/uploads/attachments/cjf7zcog20044ygiu10ey152g-daffodils.full.jpg);
    background-size: cover;
    background-position: center;
   font-size: 18px;
    padding: 5% 10% 5% 10%;
    color: #fff;
    height: 500px;
}

.tolkning:hover {
   opacity: 0.9;
}

.tolkning h1 {
    font-size: 43px;
    margin-bottom: 5%;
}

.tolkning p {
    font-weight: lighter;
}

.online {
    padding-bottom: 35px;
}

.btnSection1 {
    padding: 6px 0px;
}

.btnSection1 p {
  /* padding: 19px 47px;
  border-radius: 30px;
  border: solid 1px #ffffff;
    color: #fff;
    margin-top: 25px;
    font-size: 16px;
    text-decoration: none; */
   
    margin: 0 0 5px;
    padding: 14px 85px;
    border-radius: 30px;
    border: solid 1px #ffffff;
    color: #fff;
    margin-top: 25px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    z-index: 10;
}

.btnSection1 p:hover {
    background-color: #fff;
    border: 1px solid #b6911f;
    color: #b6911f;
}

.btnSection1 a {
    color: #fff;
  }

  .btnSection1 p:hover a {
    color: #b6911f !important;
    text-decoration: none;
  }

.btnSectionApp p {
    margin: 0 0 5px;
    padding: 14px 85px;
    border-radius: 30px;
    border: solid 1px #b6911f;
    color: #b6911f;
      margin-top: 25px;
      text-decoration: none;
      font-size: 16px;
      text-align: center;
    font-weight: bold;
  }

  .btnSectionApp p:hover {
      background-color: #b6911f;
      color: #fff;
  }

  .btnSectionApp a {
    color: #b6911f;
  }

  .btnSectionApp p:hover a {
    color: #fff !important;
    text-decoration: none;
  }
  
  .btnSectionApp1 p {
    margin: 0 0 5px;
    padding: 14px 47px;
    border-radius: 30px;
    border: solid 1px #b6911f;
    background-color: #b6911f;
    color: #fff;
      margin-top: 25px;
      text-decoration: none;
      font-size: 16px;
      text-align: center;
    font-weight: bold;
  }

  .btnSectionApp1 p:hover {
      background-color: #fff;
      border: 1px solid #b6911f;
      color: #b6911f;
  }

  .btnSectionApp1 a {
    color: #fff;
  }

  .btnSectionApp1 p:hover a {
    color: #b6911f !important;
    text-decoration: none;
  }

  .btnSectionOnline p {
      margin: 0 0 5px;
    padding: 14px 56px;
    border-radius: 30px;
    border: solid 1px #b6911f;
    color: #b6911f;
    margin-top: 25px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
  }

  .btnSectionOnline p:hover {
    background-color: #b6911f;
    color: #fff !important;
  }

  .btnSectionOnline a {
    color: #b6911f;
  }

  .btnSectionOnline p:hover a {
    color: #fff !important;
    text-decoration: none;
  }

#overAndTolk {
    margin: 0;
    padding: 0;
}
 
#tolkApp {
    padding-top: 7%;
}
#sprakOnline {
    background-color: #f8f8f8;
    padding-top: 7%;
    padding-bottom: 3%;
}

#work {
    background-color: #efefef;
}

.work {
    padding: 7%;
}

#bgImage {
    height: 601px;
}

#awards {
    padding-top: 3%;
    padding-bottom: 3%;
}

#awards img {
    width: 70%;
}

.footer {
    background-image: linear-gradient(to right, rgba(50, 50, 50, 0.3), rgba(50, 50, 50, 0.3)), url(img/footer.jpg);
     background-size: cover;
    background-position: bottom right;
    color: #fff;
    font-family: 'gotham-book';
    background-position: 50% 60%;
}

.footerInfo {
    padding-top: 80px;
    padding-bottom: 20px; 
    line-height: 1.99;
}
.postFooter {
    border-top: 1px solid #fff;
    padding: 30px;
    font-size: 12px;
}


/*********************** ACCORDIONS ***********************/
.accordion>.chevron-down-circle {
  width: 35px;
  height: 35px;
  display: inline-block;
  
  -webkit-mask: url(img/down-circle-ikon.svg) no-repeat 50% 50%;
  mask: url(img/down-circle-ikon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #b6911f;
  transform: rotateX(0);
}

.accordion>.chevron-down-circle-up {
    opacity: 0.6;
    transform: rotateX(180deg);
     width: 35px;
  height: 35px;
  display: inline-block;
  
  -webkit-mask: url(img/down-circle-ikon.svg) no-repeat 50% 50%;
  mask: url(img/down-circle-ikon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #b6911f;
}

.accordion>.panel-default>.panel-heading {
    color: #333;
    background-color: transparent !important;
    border-color: transparent !important;    
    z-index: 10 !important;
}

.accordion>.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #e8e8e8;
}

div.panel:nth-child(odd) {
    background-color: #f8f8f8;
    z-index: 100 !important;
}

.accordion>.panel-body {
    background-color: #fff !important;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.accordion>.accordion>.panel-title {
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    padding-top: 9px;
    padding-bottom: 41px;
}

.accordion>.panel-default {
    border-color: transparent !important;
}

.award4 {
    padding-top: 9%;
    padding-bottom: 6%;
}

.award5 {
    padding-top: 9%;
    padding-bottom: 6%;
}

/*CAROUSEL*/
.main-text {
    position: absolute;
    top: 10px;
    width: 96.66666666666666%;
    height: 100vh;
    color: #FFF;
}

.carousel-btns {
    margin-top: 2em; 
}

.carousel-btns .btn {
	width: 150px;
}

.carousel-inner .imgOverlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 28, 38, 0.5);
}

.carousel-inner img {
   width: 100%;
}

/*CONTROL*/
.carousel-control {
    width: auto;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
  position: absolute;
  top: 47%;
  right: 0;
  z-index: 5;
  display: inline-block;
  background-color: #000;
  width: 38px;
  height: 38px;
  line-height: 40px;
  font-size: 14px;
}

.carousel-control .icon-prev,
.carousel-control .fa-chevron-left {
  left: 0;
}

.carousel-idicators {
    position: absolute;
    bottom: 10px;
    left: 5% !important;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
} 
.carousel-indicators li {
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border: 1px solid #fff;
  opacity: .8;
}

.carousel-indicators .active {
    background-color: #b6911f;
    border-color: #b6911f;
    margin: 0 6px;
}

.carousel-control .icon-prev, .carousel-control .fa-chevron-left,
.carousel-control .icon-right, .carousel-control .fa-chevron-right {
    border-radius: 50px;
}

.carousel-control .icon-prev, .carousel-control .fa-chevron-left {
    left: 30px;
}

.carousel-control .icon-right, .carousel-control .fa-chevron-right {
    right: 30px;
}

.item {
    height: 100vh;
}

.close {
    float: right;
    font-size: 35px;
    font-weight: 700;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
    position: relative;
    top: -5px;
    line-height: 0.2
}

/*********************** COOKIES OVERRIDE ***********************/

.cc-btn {
    display: block;
    padding: .4em .8em;
    font-size: .9em;
    font-weight: 700;
    border-width: 2px;
    border-style: dotted;
    text-align: center;
    white-space: nowrap;
}

.cc-btn a:hover {
  text-decoration: none !important;
}
.cc-theme-classic .cc-btn {
    border-radius: 30px !important;
}

/*********************** MEDIA QUERIES ***********************/
@media (max-width: 768px) {
    .navbar-default {
        border-bottom: none;
    }
    .navbar-header {
        background-color: #323232;
    }

    .logoOriginal {
        background-image: url(img/logo.png);
        background-size: 145px;
        width: 216px;
        height: 60px;
        margin-top: 17px;
        margin-left: 12px;
        background-repeat: no-repeat;
    }

    .navbar-nav>li>a {
        padding-top: 31px;
        padding-bottom: 17px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: none !important;
        border-top: transparent;
        background-color: #323232;
    }

    .navbar-nav>li:hover {
        background: #323232;
        }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
        /* background-color: rgba(232, 232, 232, 0.1); */
    }
    .hero {
        height: 1000px !important;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent !important; 
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent !important;
    }
    
    .navbar-toggle .icon-bar {
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 1px;
        margin-top: 10px;
    }
    .navbar-fixed-top {
        display: none !important;
    }

    .carousel-inner {
        height: 540px;
    }

    #slideImgHeight {
        height: 100%;
    }
}

.loginImg {
    background: url(img/loginImage.png);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    /* position: relative; */
    /* top: 25px; */
    /* left: 35%; */
    position: relative;
    float: right;
    padding: 9px 10px;
    top: 15px;
    margin-top: 8px;
    margin-right: 15px;
    /* margin-bottom: 8px; */
    border: none;
}

.award .col-md-1 {
    margin: 0px 10px;
}

/*********************** MEDIA QUERIES ***********************/

@media (max-width: 768px) {

    #themeSlider h1 {
        font-size: 24px !important;
    }

    #themeSlider h2 {
        font-size: 16px !important;
    }
    
    #themeSlider h3 {
        font-size: 16px !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #333;
        /* background-color: #323232; */
        background-color: rgba(232, 232, 232, 0.1);
    }

    .navbar-default {
        border-bottom: none;
    }
    .navbar-header {
        background-color: #323232;
    }

    .navbar-nav>li>a {
        padding-top: 31px;
        padding-bottom: 17px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: none !important;
        border-top: transparent;
        background-color: #323232;
        overflow: hidden;
    }
        /* .navbar-nav>li>a {
        text-align: center;
    } */
    .navbar-nav>li:hover {
        background-color: rgba(232, 232, 232, 0.1);
    }
    .navbar-default .navbar-nav>li>a {
        color: #fff !important;
    }

    /* .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
        background-color: rgba(232, 232, 232, 0.1);
    } */

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff !important;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent !important; 
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent !important;
    }
    
    .navbar-toggle .icon-bar {
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 1px;
        margin-top: 10px;
    }
    .navbar-fixed-top {
        display: none !important;
    }

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        background-color: #323232;
        color: #fff;
    }

    .logoOriginal {
        background-image: url(img/logo.png);
        background-size: 145px;
        width: 216px;
        height: 60px;
        margin-top: 17px;
        margin-left: 12px;
        background-repeat: no-repeat;
    }

    .hero {
        height: 1000px !important;
    }

    #themeSlider {
        height: 400px;
    }
    .carousel-inner {
        height: 400px;
    }

    .oversattning {
        height: 300px;
    }

    .tolkning {
        height: 300px;
    }

    #slideImgHeight {
        height: 100%;
    }
    
    .form {
        background-color: rgb(50, 50, 50);
        width: 100%;
        position: absolute;
        top: 52px;
    }

    #overAndTolk h1 {
        text-align: center;
    }

    #tolkApp h1 {
        text-align: center;
    }

    #sprakOnline h1 {
        text-align: center;
    }

    #overAndTolk h1 {
        text-align: center;
    }

    #tolkApp h1 {
        text-align: center;
    }

    #sprakOnline h1 {
        text-align: center;
    }

    #work h1 {
        text-align: center;
    }

    .center-mobile{
        display:table;
        margin:0 auto;
    }

    #bgImage {
        height: 401px;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 15;
        width: 60%;
        padding-left: 0;
        margin-left: -30%;
        text-align: center;
        list-style: none; 
        left: 50% !important;
        right: 50% !important;
    }

    .arrowDown {
        position: absolute;
        left: auto;
        top: -50px;
        width: 31px;
        right: 44.5%;
    }

    .oversattning {
        height: 400px;
    }

    .tolkning {
        height: 400px;
    }
}

@media (max-width: 992px) {
    #award4 {
        left: 19%;
    }

    #award5 {
        left: 12%;
    }
}

@media (max-width: 1200px) {
    #loginForm1200 {
        display: none;
    }
}