/*Språkservice color #b6911f*/
html {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #b6911f; 
}

.padding25 {
    padding: 25px;
}

.padding-top80 {
    padding-top: 80px;
}

.margin-top15 {
    margin-top: 15px;
}

.sprakTitle {
    color: #b6911f;
}

.navbar-default {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #484848;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #484848;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #b6911f;
}

.navbar-nav {
    padding-top: 39px;
    padding-bottom: 15px;
}

.footer {
    background-image: linear-gradient(to right, rgba(50, 50, 50, 0.9), rgba(50, 50, 50, 0.9)), url(img/theOffice.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

.footerInfo {
    padding-top: 9%;
    padding-bottom: 9%; 
    line-height: 1.99;
}
.postFooter {
    border-top: 1px solid #fff;
    padding: 2%;
    font-size: 12px;
}

.avdMenu {
    background-color: #f8f8f8;
}

.divider-role {
    margin-left: 0;
    width: 80%;
    border: solid 0.5px #979797;
}

#sprakCollapse {
    margin-top: 5%;
}

.chevron-down-circle {
  width: 35px;
  height: 35px;
  display: inline-block;
  
  -webkit-mask: url(img/down-circle-ikon.svg) no-repeat 50% 50%;
  mask: url(img/down-circle-ikon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #b6911f;
  transform: rotateX(0);
}

.chevron-down-circle-up {
    opacity: 0.6;
    transform: rotateX(180deg);
     width: 35px;
  height: 35px;
  display: inline-block;
  
  -webkit-mask: url(img/down-circle-ikon.svg) no-repeat 50% 50%;
  mask: url(img/down-circle-ikon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #b6911f;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: transparent !important;
    border-color: transparent !important;    
    z-index: 10 !important;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #e8e8e8;
}

/* div.panel:nth-child(odd) {
    background-color: #f8f8f8;
    z-index: 100 !important;
} */

div.panel:nth-child(odd) {
    background-color: #f8f8f8 !important;
    z-index: 100 !important;
}
  
.panel-body {
    background-color: #fff !important;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.panel-title {
    margin-bottom: 0;
    font-size: 19px;
    color: inherit;
    padding-top: 9px;
    padding-bottom: 41px;
}

.panel-default {
    border-color: transparent !important;
}

.panel-title a {
    float: left;
}

.img-responsive {
    width: 70%
}
.footer {
    background-image: linear-gradient(to right, rgba(50, 50, 50, 0.9), rgba(50, 50, 50, 0.9)), url(/uploads/attachments/cjf88yepb009kswwbhjuk5og0-footer-bg.full.jpg);
     background-size: cover;
    background-position: center;
    color: #fff;
}

.footerInfo {
    padding-top: 9%;
    padding-bottom: 9%; 
    line-height: 1.99;
}
.postFooter {
    border-top: 1px solid #fff;
    padding: 2%;
    font-size: 12px;
}

.navbar-fixed-top {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 400 !important;
}

.form-control {
    display: block;
    width: 280px;
    height: 50px;
    padding: 6px 12px;
    font-size: 19px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f8f8f8;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 1px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}

#register {
	color: #b6911f;
	font-size: 19px;
	padding-top: 40px;
}

.form-horizontal {
	margin-left: 15px;
}

.SprakButton1 {
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border: solid 2px #b6911f;
    color: #b6911f;
    background-color: #fff;
}

.SprakButton1:hover {
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border: solid 1px #ffffff;
    color: #fff;
    background-color: #b6911f;
}

.drop_list {
    display: block;
    width: 280px;
    height: 50px;
    font-size: 19px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f8f8f8;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 1px;

    background-image:url('img/down-circle-ikon.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25px;
    background-position-x: 244px;
}

.drop_list_rotate {
    display: block;
    width: 280px;
    height: 50px;
    font-size: 19px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f8f8f8;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 1px;

    background-image:url('img/down-circle-ikon-180.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25px;
    background-position-x: 244px;
}

.drop_list select{
    -webkit-appearance:none;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent;
    width: 100%;
    overflow: hidden;
}

.drop_list_rotate select{
    -webkit-appearance:none;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent;
    width: 100%;
    overflow: hidden;
}

    select::-ms-expand {	display: none; }
    select{
        -webkit-appearance: none;
        appearance: none;
    }

/*********************** MEDIA QUERIES ***********************/
@media (max-width: 768px) {
    .navbar-default {
        border-bottom: none;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: none !important;
        border-top: transparent;
    }
    .navbar-nav>li>a {
        text-align: center;
    }
    .navbar-nav>li:hover {
        background: #b6911f;
        }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
    }
    .hero {
        height: 1000px !important;
    }
}