{% extends "default.html" %}
{% extends data.outerLayout %}

{% block title %}{{ data.page.title }}{% endblock %}

{% block main %}
  {%- macro here(changes) -%}
    {{ data.page._url | build({
      year: data.query.year
    }, changes) }}
  {%- endmacro -%}
<style>
    .stripped:nth-of-type(odd) {
     background: #f8f8f8;
    }
</style>
<!-- FILTERING BLOG BY YEAR -->
<div class="container-fluid" style="background-color: rgba(226, 218, 193, 0.3); color: #484848; margin-top: -21px;height: 74px; margin-bottom: 30px;">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                           <ul style="float: right; height: 35px; background-color: transparent; border: none;" class="list-group list-group-horizontal">
                                {% for year in data.piecesFilters.year %}
                                     <li class="list-group-item"><a style="color: #484848; text-decoration: none;" class="{{ 'active' if data.query.year == year.value }}" href="{{ here({ year: year.value }) }}">{{ year.label }}</a></li>
                                {% endfor %}
                         </ul>
                      </div>
                </div>
            </div>

        </div>
    </div>
<!-- END FILTERING -->

<!-- PAGE TITLE -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="apos-event-title">{{ data.page.title }}</h1>
            <hr style=" width: 45%; border: solid 0.1px #979797;"></hr>
            {% if data.page %}
                {% for ancestor in data.page._ancestors %}
                    <a style="color: #b6911f; font-weight: bold; text-decoration:none; font-size: 16px;" href="{{ ancestor._url }}">{{ ancestor.title }}</a>&nbsp;&nbsp; 
                    <i style="color: #b6911f; font-size: 17px;padding: 0; margin: 0;" class="fa fa-angle-right"></i> &nbsp;&nbsp;
                {% endfor %}
                <span style="color: #b6911f; font-size: 16px;">{{ data.page.title }}</span>
            {% endif %}
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
<!-- END PAGE TITLE -->

<!-- BLOG LISTING -->
{% for piece in data.pieces %}
<div class="container-fluid stripped">
     <div class="row">
        <div class="container" style="padding-top: 60px; padding-bottom: 60px;">
            <div class="row">
                <div class="col-md-3" style="padding-top: 2%;">
                            <div class="div-image">
                                <a href="{{ piece._url }}">
                                    <img style="width: 100%;" class="image" src="/uploads/attachments/{{ piece.thumbnail._id }}-{{ piece.thumbnail.name }}.{{ piece.thumbnail.extension }} ">
                                    <div class="middle">
                                        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6" style="max-height: 153px; overflow-y: hidden; padding-top: 15px;">
                            <a class="link-blog-title" href="{{ piece._url }}">
                                <!-- BLOG TITLE -->
                                <h3 class="apos-article-title">{{ piece.title }}</h3>
                            </a>
                            <!-- PUBLISH DATE -->
                            <p class="meta-info">
                                <span class="post-date">{{ piece.publishedAt | date('YYYY-MM-DD') }}</span>
                            </p>
                            <p>
                                <!-- SHORT DESCRIPTION -->
                                {{ piece.shortDescription }}
                            </p>
                        </div>
                        <!-- READ MORE BUTTON -->
                        <div class="col-md-3" style="padding-top: 40px;">
                            <a class="btn btnSectionApp text-center" href="{{ piece._url }}">Läs mer</a>
                        </div>
                </div>
        </div>
        <br>
    </div>
</div>
<!-- END LISTING -->
        {% endfor %}
<!-- BLOG PAGGER -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-md-push-1">
            {% import 'apostrophe-pager:macros.html' as pager with context %}
            {{ pager.render({ page: data.currentPage, total: data.totalPages }, data.url) }}
        </div>
    </div>
</div>
<!-- END PAGGER -->
{% endblock %}