{% extends "default.html" %}
{% extends data.outerLayout %}

{% block title %}{{ data.piece.title }}{% endblock %}

{% block main %}

<main id="content" class="white-background">
  <style>

    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    margin: 0;
    line-height: 1.5;
    text-align: left;
    overflow-x: hidden;
}

    .post-featured-image {
    margin-bottom: -5rem;
    }

.post {
    position: relative;
    z-index: 1;
    padding: 3rem;
    margin-bottom: 3rem;
    background-color: #fff;
    -webkit-box-shadow: 0 20px 40px 0 rgba(139, 153, 163, 0.1);
    box-shadow: 0 20px 40px 0 rgba(139, 153, 163, 0.1);
    border-radius: .4rem;
}

.post .post-header {
    max-width: none;
}

.post .post-header {
    max-width: 80%;
    margin: 0 auto 3rem;
    text-align: center;
}
.meta-info {
  margin-top: 5px;
}

/* article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
} */
  </style>

		<div class="container">
			<div class="row">
                <div class="wrapper animated bounceInRight">
                    <div class="col-12">
                        <div class="post-featured-image">
                            <img src="/uploads/attachments/{{ data.piece.thumbnail._id }}-{{ data.piece.thumbnail.name }}.{{ data.piece.thumbnail.extension }}" class="m-left-top oversattning">
                        </div>
                    </div>
                </div>
                <div class="wrapper animated bounceInLeft">
                    <div class="col-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                        <article class="post has-thumbnail">
                        <div class="post-header">
                            <h1 class="apos-event-title">{{ data.piece.title }}</h1>
                            <p class="meta-info">
                            <span class="post-date">{{ data.piece.publishedAt | date('YYYY-MM-DD') }}</span>
                            </p>
                            <hr style="width: 100%; border: solid 0.1px #979797;"></hr>
                        </div>
                        <div class="post-content">
                            <!-- {{ data.piece.body.items[0].content }} -->
                            {{ apos.area(data.piece, 'body', {
                                widgets: {
                                'apostrophe-rich-text': {
                                    toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                    styles: [
                                        { name: 'H1', element: 'h1', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H1 C', element: 'h1', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H1 W', element: 'h1', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H1 W C', element: 'h1', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H1 S', element: 'h1', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H1 S C', element: 'h1', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H2', element: 'h2', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H2 C', element: 'h2', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H2 W', element: 'h2', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H2 W C', element: 'h2', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H2 S', element: 'h2', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H2 S C', element: 'h2', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H3', element: 'h3', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H3 C', element: 'h3', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H3 W', element: 'h3', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H3 W C', element: 'h3', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H3 S', element: 'h3', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H3 S C', element: 'h3', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H4', element: 'h4', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H4 C', element: 'h4', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H4 W', element: 'h4', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H4 W C', element: 'h4', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H4 S', element: 'h4', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H4 S C', element: 'h4', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H5', element: 'h5', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H5 C', element: 'h5', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H5 W', element: 'h5', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H5 W C', element: 'h5', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H5 S', element: 'h5', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H5 S C', element: 'h5', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H6', element: 'h6', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H6 C', element: 'h6', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'H6 W', element: 'h6', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H6 W C', element: 'h6', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H6 S', element: 'h6', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'H6 S C', element: 'h6', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                        { name: 'Normal', element: 'p', styles: { 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'Normal B', element: 'p', styles: { 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'Normal B C', element: 'p', styles: { 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                        { name: 'Normal W', element: 'p', styles: { 'color': '#fff', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                        { name: 'Normal W B', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                        { name: 'Normal W B C', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                        { name: 'Normal S', element: 'p', styles: { 'color': '#b6911f', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                        { name: 'Normal S B', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                        { name: 'Normal S B C', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } }
                                        ]
                                },
                                'apostrophe-images': {
                                },
                                'apostrophe-video': {}
                            }
                            }) }}
                        </div>
                        </article>
                        <div class="clear"></div>
                    </div>
                </div>
			</div>
		</div>
	</main>

{% endblock %}

<script>
$( document ).ready(function() {
    $('h5').click(function() {
    alert($(this).text());
        return false;
    });   });
</script>