{#
  Use this template to build out your 404 error pages. Like page templates,
  it inherits a global layout.
#}

{% extends "default.html" %}

{% block title %}404 - Page not found{% endblock %}

{% block main %}
<style>
a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: gray;
    opacity: 0.6;
    text-decoration: none;
}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 style="font-size: 48px; margin-top: 9%">Sidan kunde inte hittas</h1>
      <hr style="margin-top: 3%; width: 700px; height: 1px; border-bottom: solid 0.5px #979797;">
      <br>
      <p style="font-size: 20px;">Sidan du försökte nå är tyvärr borttagen eller flyttad. Använd gärna menyn eller <br>
        sökfältet för att hitta det du söker eller gå tillbaka till <a href="http://sprakservice.se">Hem</a>.</p>
        <br><br>
        <p style="font-size: 20px; margin-bottom: 9%;">Hittade du inte det du ville? Prova kontrollera din stavning eller maila oss på<br>
           <span style="color: #b6911f;">info@sprakservice.se</span></p>
    </div>
  </div>
</div>
{% endblock %}
