/*Språkservice color #b6911f*/
html {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

.padding25 {
    padding: 25px;
}

.padding-top80 {
    padding-top: 80px;
}

.margin-top15 {
    margin-top: 15px;
}

.sprakTitle {
    color: #b6911f;
}

.navbar-default {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #484848;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #484848;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #b6911f;
}

.navbar-nav {
    padding-top: 39px;
    padding-bottom: 15px;
}

.footer {
    background-image: linear-gradient(to right, rgba(50, 50, 50, 0.9), rgba(50, 50, 50, 0.9)), url(img/theOffice.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

.footerInfo {
    padding-top: 9%;
    padding-bottom: 9%; 
    line-height: 1.99;
}
.postFooter {
    border-top: 1px solid #fff;
    padding: 2%;
    font-size: 12px;
}

.avdMenu {
    background-color: #f8f8f8;
}

.divider-role {
    margin-left: 0;
    width: 80%;
    border: solid 0.5px #979797;
}

.titleAvdelningar {
    width: 149.5px;
    height: 25px;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: normal;
    text-align: left;
    color: #b6911f;
    margin-top: 7%;
}

.mm {
    font-size: 22px;
    text-align: left;
    color: #323232;
}

.mm-email {
    color: #b6911f;
    font-size: 19px;
    font-weight: bold;
    margin-top: -10px;
}

#sprakCollapse {
    margin-top: 5%;
}

.chevron-down-circle {
  width: 35px;
  height: 35px;
  display: inline-block;
  
  -webkit-mask: url(img/down-circle-ikon.svg) no-repeat 50% 50%;
  mask: url(img/down-circle-ikon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #b6911f;
  transform: rotateX(0);
}

.chevron-down-circle-up {
    opacity: 0.6;
    transform: rotateX(180deg);
     width: 35px;
  height: 35px;
  display: inline-block;
  
  -webkit-mask: url(img/down-circle-ikon.svg) no-repeat 50% 50%;
  mask: url(img/down-circle-ikon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: #b6911f;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: transparent !important;
    border-color: transparent !important;    
    z-index: 10 !important;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #e8e8e8;
}

div.panel:nth-child(odd) {
    background-color: #f8f8f8;
    z-index: 100 !important;
}

.panel-body {
    background-color: #fff !important;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.panel-title {
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    padding-top: 9px;
    padding-bottom: 41px;
}

.panel-default {
    border-color: transparent !important;
}

.img-responsive {
    width: 70%
}

.footer {
    background-image: linear-gradient(to right, rgba(50, 50, 50, 0.9), rgba(50, 50, 50, 0.9)), url(/uploads/attachments/cjfjftb6k001n1s5hrox15e32-footer-bg.full.jpg);
     background-size: cover;
    background-position: center;
    color: #fff;
}

.footerInfo {
    padding-top: 9%;
    padding-bottom: 9%; 
    line-height: 1.99;
}
.postFooter {
    border-top: 1px solid #fff;
    padding: 2%;
    font-size: 12px;
}

/*********************** MEDIA QUERIES ***********************/
@media (max-width: 768px) {
    .navbar-default {
        border-bottom: none;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: none !important;
        border-top: transparent;
    }
    .navbar-nav>li>a {
        text-align: center;
    }
    .navbar-nav>li:hover {
        background: #b6911f;
        }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
    }
    .hero {
        height: 1000px !important;
    }
}