/*Språkservice color #b6911f*/
html {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

.padding25 {
    padding: 25px;
}

.padding-top80 {
    padding-top: 80px;
}

.margin-top15 {
    margin-top: 15px;
}
.sprakTitle {
    color: #b6911f;
}

.navbar-default {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #b6911f;
}

.navbar-nav {
    padding-top: 39px;
    padding-bottom: 15px;
}

.hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(/uploads/attachments/cjfjfb8m1004idc5hbagn7ldo-theoffice.full.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
}

.heroMainPadding {
    padding-top: 15%;
}
.heroText {
    padding-top: 19%;
    line-height: 1.5;
    font-size: 20px;
    line-height: 1.04;
}

.heroText h1 {
    font-weight: bold;
    margin-bottom: 3%;
    font-size: 48px;
}

.panel{
  width: 100%;
  height: 453px;
  opacity: 0.85;
  border-radius: 5px;
  background-color: #dee1e5;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
}

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-heading {
	color: #00415d;
	background-color: #dee1e5;
	border-color: none;
	text-align:center;
    border-bottom:none; 
    border-top-left-radius: none; 
    border-top-right-radius: none; 
}
.panel-heading a{
	text-decoration: none;
	color: #323232;
	font-weight: normal;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-heading a.activeFrom{
	color: #029f5b;
	font-size: 18px;
}
.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    border-radius: 9px;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}

.panel-body {
    padding: 15px;
    margin-top: 25px;
}

label {
    color: #323232 !important;
    font-weight: 300;
}
.activeForm {
    background-color: #b6911f;
    color: #fff;
    opacity: 0.85;
}

.loginSprakButton {
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border: solid 1px #ffffff;
    color: #fff;
    background-color: #b6911f;
}

.loginSprakButton:hover {
    width: 260px;
    height: 60px;
    border-radius: 30px;
    border: solid 2px #b6911f;
    color: #b6911f;
    background-color: #fff;
}

.oversattning {
    background-image: -webkit-linear-gradient(left, rgba(182, 145, 31, 0.86), rgba(182, 145, 31, 0.86)), url(/uploads/attachments/cjfjfr0we000j1s5hzpdgn7ni-trianglen.full.jpg);
    background-image: -o-linear-gradient(left, rgba(182, 145, 31, 0.86), rgba(182, 145, 31, 0.86)), url(/uploads/attachments/cjfjfr0we000j1s5hzpdgn7ni-trianglen.full.jpg);
    background-image: linear-gradient(to right, rgba(182, 145, 31, 0.86), rgba(182, 145, 31, 0.86)), url(/uploads/attachments/cjfjfr0we000j1s5hzpdgn7ni-trianglen.full.jpg);
    background-size: cover;
    background-position: center;
    font-size: 18px;
    padding: 5% 10% 5% 10%;
    color: #fff;
    font-weight: lighter;
    height: 500px;
}

.oversattning:hover {
    opacity: 0.9;
}

.oversattning h1 {
    font-size: 43px;
    margin-bottom: 5%;
}

.oversattning p {
    font-weight: lighter;
}
/*
.oversattning .divP {
    width: 520px;
    height: 112px;
    padding: 5% 0 0 20%;55px 0px 100px 71px;

}
*/
.tolkning {
  background-image: -webkit-linear-gradient(left, rgba(50, 50, 50, 0.86), rgba(50, 50, 50, 0.86)), url(/uploads/attachments/cjfjfaqco003qdc5hzr510uzp-daffodils.full.jpg);
  background-image: -o-linear-gradient(left, rgba(50, 50, 50, 0.86), rgba(50, 50, 50, 0.86)), url(/uploads/attachments/cjfjfaqco003qdc5hzr510uzp-daffodils.full.jpg);
  background-image: linear-gradient(to right, rgba(50, 50, 50, 0.86), rgba(50, 50, 50, 0.86)), url(/uploads/attachments/cjfjfaqco003qdc5hzr510uzp-daffodils.full.jpg);
    background-size: cover;
    background-position: center;
   font-size: 18px;
    padding: 5% 10% 5% 10%;
    color: #fff;
    height: 500px;
}

.tolkning:hover {
    opacity: 0.9;
 }

.tolkning h1 {
    font-size: 43px;
    margin-bottom: 5%;
}

.tolkning p {
    font-weight: lighter;
}

.online {
    padding-bottom: 35px;
}
.btnSection1 {
  padding: 19px 47px;
  border-radius: 30px;
  border: solid 1px #ffffff;
    color: #fff;
    margin-top: 25px;
    font-size: 16px;
    text-decoration: none;
}

.btnSection1:hover {
    background-color: #fff;
    color: #b6911f;
    text-decoration: none;
}

.btnSectionApp {
    padding: 19px 85px;
    border-radius: 30px;
    border: solid 1px #b6911f;
      color: #b6911f;
      margin-top: 25px;
      text-decoration: none;
      font-size: 16px;
  }

  .btnSectionApp:hover {
      background-color: #b6911f;
      color: #fff;
    text-decoration: none;
  }
  
  .btnSectionApp1 {
    padding: 19px 47px;
    border-radius: 30px;
    border: solid 1px #b6911f;
    background-color: #b6911f;
      color: #fff;
      margin-top: 25px;
      text-decoration: none;
      font-size: 16px;
  }

  .btnSectionApp1:hover {
      background-color: #fff;
      color: #b6911f;
      border: 1px solid #b6911f;
      text-decoration: none;
  }

  .btnSectionOnline {
    padding: 19px 56px;
    border-radius: 30px;
    border: solid 1px #b6911f;
      color: #b6911f;
      margin-top: 25px;
      text-decoration: none;
      font-size: 16px;
  }

  .btnSectionOnline:hover {
      background-color: #b6911f;
      color: #fff;
    text-decoration: none;
  }

#overAndTolk {
    margin: 0;
    padding: 0;
}
 
#tolkApp {
    padding-top: 7%;
}
#sprakOnline {
    background-color: #f8f8f8;
    padding-top: 7%;
    padding-bottom: 3%;
}

#work {
    background-color: #efefef;
}

.work {
    padding: 7%;
}
#awards {
    padding-top: 3%;
    padding-bottom: 3%;
}

#awards img {
    width: 70%;
}

.footer {
    background-image: linear-gradient(to right, rgba(50, 50, 50, 0.9), rgba(50, 50, 50, 0.9)), url(/uploads/attachments/cjfjftb6k001n1s5hrox15e32-footer-bg.full.jpg);
     background-size: cover;
    background-position: center;
    color: #fff;
}

.footerInfo {
    padding-top: 9%;
    padding-bottom: 9%; 
    line-height: 1.99;
}
.postFooter {
    border-top: 1px solid #fff;
    padding: 2%;
    font-size: 12px;
}

/*********************** MEDIA QUERIES ***********************/
@media (max-width: 768px) {
    .navbar-default {
        border-bottom: none;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: none !important;
        border-top: transparent;
    }
    .navbar-nav>li>a {
        text-align: center;
    }
    .navbar-nav>li:hover {
        background: #b6911f;
        }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
    }
    .hero {
        height: 1000px !important;
    }
}