<section id="work">
        <div class="container-fluid">
             <div class="row">
                 <div class="col-xs-12 col-md-6 img-responsive" style="background-image: url(/uploads/attachments/cjf83ybh3001nywwbt1ej5261-people.full.png); background-size: cover; height: 601px;">
                    {{ apos.area(data.widget, 'areaLeft', {
                        widgets: {
                            'apostrophe-rich-text': {
                                toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                styles: [
                                { name: 'H1', element: 'h1'},
                                { name: 'H2', element: 'h2'},
                                { name: 'H3', element: 'h3'},
                                { name: 'H4', element: 'h4'},
                                { name: 'H5', element: 'h5'},
                                { name: 'H6', element: 'h6'},
                                { name: 'Heading', element: 'h3' },
                                { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff' } },
                                { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#b6911f','text-align': 'center' } },
                                { name: 'HeadingWhite', element: 'h2', styles: { 'color': '#b6911f','text-align': 'center' } },
                                { name: 'HeadingWhite', element: 'h1', styles: { 'color': '#b6911f','text-align': 'center' } },
                                { name: 'Subheading', element: 'h4' },
                                { name: 'Paragraph', element: 'p' },
                                { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                                ] 
                            },
                            'apostrophe-images': {
                                size: 'original'
                            },
                            'apostrophe-html': {}
                        }
                    }) }}
                 </div>
                 <div class="col-xs-12 col-md-6 work">
                        {{ apos.area(data.widget, 'areaRight', {
                            widgets: {
                                'apostrophe-rich-text': {
                                    toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                    styles: [
                                    { name: 'H1', element: 'h1'},
                                    { name: 'H2', element: 'h2'},
                                    { name: 'H3', element: 'h3'},
                                    { name: 'H4', element: 'h4'},
                                    { name: 'H5', element: 'h5'},
                                    { name: 'H6', element: 'h6'},
                                    { name: 'Heading', element: 'h3' },
                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff' } },
                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'HeadingWhite', element: 'h2', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'HeadingWhite', element: 'h1', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'Subheading', element: 'h4' },
                                    { name: 'Paragraph', element: 'p' },
                                    { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                                    ] 
                                },
                                'apostrophe-images': {
                                    size: 'original'
                                },
                                'apostrophe-html': {}
                            }
                        }) }}
                         <a class="btn btnSectionOnline" href="#">Arbeta hos oss</a>
                 </div>
             </div>
         </div> 
     </section>