{% extends data.outerLayout %}
{% extends "default.html" %}
{% block title %}{{ data.page.title }}{% endblock %}

{% block main %}
<style>
    ::placeholder {
        color: #e8e8e8;
        opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color: #e8e8e8;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
       color: #e8e8e8;
    }

    .stripped:nth-of-type(odd) {
        background: #f8f8f8;
    }
    </style>
<br>

<div class="container searchResult">
    <div class="row">
        <div class="col-md-12">
        <form class="searchResult" method="GET" action="{{ data.url | e }}#main">
            <input id="searchInput" placeholder="Sök här…" style="font-size: 31px;" type="search" data-apos-search-field value="{{ data.query.q | e }}" name="q" />
            <input id="searchForm" type="image" src="/img/search.png" border="0" />
        </form>
        <br>
        <h1 style="margin-bottom: 4%;"><span id="searchFor"></span><span id="resultText" style="color: #323232; font-weight: lighter;"></span><span class="searchStep pull-right"></span></h1>
    </div>
        {% for doc in data.docs %}
        <div class="container-fluid stripped" style="height: 100%;">
            <div class="row">
                <div class="container">
                    <div class="row rowSearch">
                        <div class="col-md-3 titleSearch">
                            {% if doc._url %}<a class="link-blog-title" href="{{ doc._url }}">{% endif %}
                                <h3 class="apos-article-title">{{ doc.title }}</h3>
                            {% if doc._url %}</a>{% endif %}
                        </div>
                        <div class="col-md-6" style="max-height: 102px; overflow-y: hidden;">
                                {% if doc.shortDescription %}
                                    <p>{{ doc.shortDescription }}</p>
                                {% else %}
                                    <p>{{ doc.searchSummary }}</p>
                                {% endif %}
                        </div>
                        <div class="col-md-3" style="padding-top: 30px; padding-bottom: 30px;">
                            <a class="btn btnSectionApp text-center" href="{{ doc._url }}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <br>
    <div id="pagerId" class="row">
        <div class="col-xs-12 col-md-12">
            {% include "pager.html" %}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div id="infoText"></div>
        </div>
    </div>
</div>
<br>

<script>
    (function() {
        var x = document.getElementById("searchInput").value;
        document.getElementById("resultText").innerHTML = x;

        if(x === '') {
            $('.stripped').hide();
            $('#pagerId').hide();
            $('#infoId').hide();
        }
        else {
            $('.stripped').show();
            $('#pagerId').show();
            $('#infoId').show();
        }

        var lang = document.documentElement.lang.toLowerCase();

        if (lang === "en") {
            $("#infoText").html("<p>Did not you find what you wanted? Try changing your keywords or email us at <strong style='color: #b6911f;'>info@sprakservice.se</strong></p>");
            $(".btnSectionApp").html("<p style='font-weight: bold;'>Visit page</p>");
            $("#searchFor").html("Sökresultat för ");
        }
        else {
            $("#infoText").html("<p>Hittade du inte det du ville? Prova att ändra dina sökord eller maila oss på <strong style='color: #b6911f;'>info@sprakservice.se</strong></p>");
            $(".btnSectionApp").html("<p style='font-weight: bold;'>Besök sida</p>");
            $("#searchFor").html("Search for ");
        }
    })();
</script>
{% endblock %}