<!-- STRUCTURE FOR INFO MESSAGE -->
<div style="background-color: rgba(226, 218, 193, 0.95); height: 70px;  margin-bottom: 0 !important;" id="message" class="navbar-fixed-bottom alert alert-error">
    <div style="padding: 5px;">
        <div id="inner-message" style="padding-left: 5% !important;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <!-- WIDGET FOR INFO MESSAGE -->
            {{ apos.area(data.widget, 'infoText') }}
        </div>
    </div>
</div>