{% extends "default.html" %}
{% block beforeMain %}
  <!-- <nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
  <div class="navbar-header"><a class="navbar-brand navbar-link" href="#"><img class="img-responsive" src="/uploads/attachments/cjfjbwco6001lhgwbqpnxm3f9-logo-original.full.png"></a>
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
  </div>
  <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav navbar-right">
          {% for tab in data.home._children %}
            <li><a href="{{ tab._url }}">{{ tab.title }}</a>
              {% if tab._children.length %}
                    <ol class="breadcrumb">
                        {% for child in tab._children %}
                        <li><a href="{{ child._url }}">{{ child.title }}</a></li>
                      {% endfor %}
                      </ol>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
  </div>
</div>
</nav> -->
{{ apos.area(data.page, 'body', {
    widgets: {
      'section-1': {},
      'section-2': {},
      'section-3': {},
      'section-4': {},
      'section-5': {}, 
      'section-awards': {},
      'section-footer': {},
      'section-tabs-collapse': {},
      'section-hero': {},
      'grid': {},
      'grid-image': {},
      'contact-form': {}
    }
  }) }}

{% endblock %}

{% block afterMain %}
<section class="footer">
  <div class="container-fluid footerInfo">
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2 col-md-push-2">
              <h4>Våra kontor</h4><br>
              
                  <strong>Malmö – huvudkontor</strong> <br>
                  0770-457 458<br>
                  info@sprakservice.se<br>
                  Föreningsgatan 15, Malmö<br><br>

                  <strong>Stockholm</strong><br>
                  0770-457 458. <br>
                  info@sprakservice.se<br>
                  Vretenvägen 9, 171 54 Solna
              
          </div>
          <div class="col-md-2 col-md-push-2">
                  <h4>Sitemap</h4><br>
              
                 Översättning<br>
                  Tolkning<br>
                  Om Språkservice<br>
                  Kontakt<br>
                  Aktuellt<br>
                  Jobb<br>
                  Information<br>
                  Press
          </div>
          <div class="col-md-2 col-md-push-2">
                  <h4>Information</h4><br>
              
                  Jobba som tolk<br>
                  Jobba som översättare<br>
                  Etiska regler<br>
                  Allmänna villkor<br>
                  Länkar till formulär<br>
                  Organisationsinformation<br>
          </div>
          <div class="col-md-2 col-md-push-2">
                  <h4>Social media</h4><br>
              
                  Facebook<br>
                  Twitter<br>
                  LinkedIn<br><br>
                  Jourtelefon<br><br>
                  0770-457 458
          </div>
      </div>
  </div>
  <div class="container-fluid postFooter text-center">
      <div class="row">
          <div class="col-md-12">
                  © 2018 Språkservice Sverige AB. Allt material på denna webbplats tillhör Språkservice.
          </div>
      </div>
  </div>
</section>
{% endblock %}
