{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block main %}
<!-- {{ apos.singleton(data.page, 'logo', 'apostrophe-images', {
  limit: 1,
  minSize: [ 250, 100 ],
  addLabel: 'Set the logo',
  editLabel: 'Change the logo',
  controls: {
    movable: true,
    removable: true,
    position: 'bottom-right'
  }
}) }} -->
  <!-- <div style="margin-top:100px;" class="container">
   <div class="row">
     <div class="col-md-6"> {{ apos.area(data.page, 'body', {
      widgets: {
        'apostrophe-images': {
          size: 'full'
        },
        'apostrophe-rich-text': {
          toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink' ],
          styles: [
            { name: 'Heading', element: 'h3' },
            { name: 'Subheading', element: 'h4' },
            { name: 'Paragraph', element: 'p' }
          ]
        }
      }
    }) }}</div>
     <div class="col-md-6"> {{ apos.area(data.page, 'body', {
      widgets: {
        'apostrophe-images': {
          size: 'full'
        },
        'apostrophe-rich-text': {
          toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink' ],
          styles: [
            { name: 'Heading', element: 'h3' },
            { name: 'Subheading', element: 'h4' },
            { name: 'Paragraph', element: 'p' }
          ]
        }
      }
    }) }}</div>
   </div>
  </div> -->
  {{ apos.area(data.page, 'body', {
    widgets: {
      'section-1': {},
      'section-2': {},
      'section-3': {},
      'section-4': {},
      'section-5': {}, 
      'section-awards': {},
      'section-footer': {},
      'section-hero': {},
      'grid': {},
      'grid-image': {},
      'contact-form': {}
    }
  }) }}

  
{% endblock %}
