<section id="formLoginRequest">
        <div class="container">
        <div class="wrapper animated bounceInLeft">
            <form id="loginForm" class="form-horizontal">
                <fieldset>
    
                <div class="row">
                    <!-- Form Name -->
                    <!-- <p id="register" class="form-group col-lg-9">Jag är redan kund hos Språkservice och vill ha inloggning till webbtjänsten Språkservice Online.</p> -->
                    {{ apos.area(data.widget, 'sectionTitle', {
                        widgets: {
                            'apostrophe-rich-text': {
                                toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                styles: [
                                { name: 'H1', element: 'h1', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H1 C', element: 'h1', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H1 W', element: 'h1', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H1 W C', element: 'h1', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H1 S', element: 'h1', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H1 S C', element: 'h1', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2', element: 'h2', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H2 C', element: 'h2', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H2 W', element: 'h2', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2 W C', element: 'h2', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2 S', element: 'h2', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2 S C', element: 'h2', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3', element: 'h3', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H3 C', element: 'h3', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H3 W', element: 'h3', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3 W C', element: 'h3', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3 S', element: 'h3', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3 S C', element: 'h3', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4', element: 'h4', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H4 C', element: 'h4', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H4 W', element: 'h4', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4 W C', element: 'h4', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4 S', element: 'h4', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4 S C', element: 'h4', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5', element: 'h5', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H5 C', element: 'h5', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H5 W', element: 'h5', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5 W C', element: 'h5', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5 S', element: 'h5', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5 S C', element: 'h5', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6', element: 'h6', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H6 C', element: 'h6', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H6 W', element: 'h6', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6 W C', element: 'h6', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6 S', element: 'h6', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6 S C', element: 'h6', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'Normal', element: 'p', styles: { 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'Normal B', element: 'p', styles: { 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'Normal B C', element: 'p', styles: { 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'Normal W', element: 'p', styles: { 'color': '#fff', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal W B', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal W B C', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal S', element: 'p', styles: { 'color': '#b6911f', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal S B', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal S B C', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } }
                                ]
                            }
                        }
                    }) }}
                </div>
    
                <div class="row">
                    <!-- Text input-->
                    <div class="form-group col-lg-4">
                        <div style="width: 300px;"><label id="lblName" for="name">Ditt namn *</label><div id="nameVal"></div></div>
                        <input id="name" name="name" type="text" placeholder="För- och efternamn" class="form-control" required="">
                    </div>
    
                    <!-- Text input-->
                    <div class="form-group col-lg-4">
                        <div style="width: 300px;"><label id="lblPersonalEmail" for="personalEmail">Personlig e-post *</label><div id="personalEmailVal"></div></div>
                        <input id="personalEmail" name="personalEmail" type="email" placeholder="info@example.com" class="form-control input-md" required="">
                    </div>
                </div>
    
                <div class="row">
                        <!-- Text input-->
                        <div class="form-group col-lg-4">
                            <div style="width: 300px;"><label id="lblCustomerName" for="customerName">Kundnamn/Företag *</label><div id="customerNameVal"></div></div>
                            <input id="customerName" name="customerName" type="text" placeholder="" class="form-control" required="">
                        </div>
                    
                        <!-- Text input-->
                        <div class="form-group col-lg-4">
                            <div style="width: 300px;"><label id="lblCustomerNumber" for="customerNumber">Kundnr (endast siffror) *</label><div id="customerNumberVal"></div></div>
                            <input id="customerNumber" name="customerNumber" type="text" placeholder="" class="form-control input-md" required="">
                        </div>
                </div>
    
                <div class="row">
                        <!-- Text input-->
                        <div class="form-group col-lg-4">
                            <div style="width: 300px;"><label id="lblDirectPhone" for="directPhone">Telefon, direkt *</label><div id="directPhoneVal"></div></div>
                            <input id="directPhone" name="directPhone" type="tel" pattern='^\d{3}[\(]\d{1}[\)]-\d{7}$' placeholder="XXX(X)-XXXXXXX" class="form-control" required>
                        </div>
                    
                        <!-- Text input-->
                        <div class="form-group col-lg-4">
                            <div style="width: 300px;"><label id="lblAlternativeEmail" for="alternativeEmail">Alternativ e-post för bekräftelse</label><div id="alternativeEmailVal"></div></div>
                            <input id="alternativeEmail" name="alternativeEmail" type="email" placeholder="info@example.com" class="form-control input-md">
                        </div>
                </div><br/><br/>
    
                <div class="row">
                    <!-- Button -->
                    <div class="form-group">
                            <div class="col-lg-4">
                                <input id="btnSend" type="submit" name="submit" value="Skicka" class="SprakButton1">
                            </div>
                            <div class="col-lg-4">
                                    <div class="alert alert-success alert-dismissible" style="display: none;">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <h1>Avvikelse</h1><br/>
                                        <p>Tack för att du tog dig tid att lämna synpunkter.</p>
                                        <p>Ditt ärende kommer nu att tas om hand av vår kvalitetsavdelning som följer upp dina synpunkter och återkopplar till dig om du så önskat. Har du frågor är du välkommen att kontakta vår kvalitetskoordinator via e-post: kvalitet@sprakservice.se .</p><br/>
                                        <p><i>Med vänlig hälsning</i></p>
                                        <p><i>Språkservice Sverige AB</i></p>
                                    </div>
                                    <div class="alert alert-warning alert-dismissible" style="display: none;">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        Fel skickas!
                                    </div>
                            </div>
                    </div>
                </div>
    
                </fieldset>
            </form>
        </div>
        </div>
    </section>
    
    <script>
        $(document).ready(function(){
            $('#loginForm').on('submit', function(e){
                e.preventDefault();
                var name = $('#name').val();
                var personalEmail = $('#personalEmail').val();
                var customerName = $('#customerName').val();
                var customerNumber = $('#customerNumber').val();
                var directPhone = $('#directPhone').val();
                var alternativeEmail = $('#alternativeEmail').val();
                $.ajax({
                    url: 'http://192.168.40.170:3001/api/logins',
                    data: JSON.stringify({
                        "name": name,
                        "personalEmail": personalEmail,
                        "customerName": customerName,
                        "customerNumber": customerNumber,
                        "directPhone": directPhone,
                        "alternativeEmail": alternativeEmail,
                    }),
                    type: "POST",
                    contentType: "application/json",
                    success: function(data){
                        // alert("Your login data was succesfully posted!");
                        // $('#loginForm')[0].reset();
                        $('#loginForm').html(`<h1>Beställ webbkonto</h1>
                                        <h1>Tack för att du har beställt webbkonto till Språkservice Online.</h1><br/>
                                        <p>Vi kommer att kontakta dig så fort vi har möjlighet <strong>dock senast inom 24 timmar</strong> med information om ditt kundnummer.</p>
                                        <p><i>Med vänlig hälsning</i></p>
                                        <p><i>Språkservice Sverige AB</i></p>`);
                    },
                    error: function(xhr, status, err){
                        console.log(err);
                        $(".alert-warning").fadeTo(8000, 500).slideUp(500, function(){
                            $(".alert-warning").slideUp(500);
                        });
                    }
                });
            });
    
            $('[id^=customerNumber]').keypress(validateNumber);
        });
    
        function validateNumber(event) {
            var key = window.event ? event.keyCode : event.which;
            if (event.keyCode === 8 || event.keyCode === 46) {
                return true;
            } else if ( key < 48 || key > 57 ) {
                return false;
            } else {
                return true;
            }
        };
    
        (function() {
            var lang = document.documentElement.lang.toLowerCase();
            var name = document.getElementById('name');
            var nameVal = document.getElementById('nameVal');
            var email = document.getElementById('personalEmail');
            var emailVal = document.getElementById('personalEmailVal');
            var customerName = document.getElementById('customerName');
            var customerNameVal = document.getElementById('customerNameVal');
            var customerNumber = document.getElementById('customerNumber');
            var customerNumberVal = document.getElementById('customerNumberVal');
            var phone = document.getElementById('directPhone');
            var phoneVal = document.getElementById('directPhoneVal');
            var alternativeEmail = document.getElementById('alternativeEmail');
            var alternativeEmailVal = document.getElementById('alternativeEmailVal');
    
            nameVal.id = 'notifyCN';
            nameVal.style.display = 'none';
            customerNameVal.id = 'notifyCN';
            customerNameVal.style.display = 'none';
            customerNumberVal.id = 'notifyCN';
            customerNumberVal.style.display = 'none';
            phoneVal.id = 'notifyLogin';
            phoneVal.style.display = 'none';
            emailVal.id = 'notifyLogin';
            emailVal.style.display = 'none';
            alternativeEmailVal.id = 'notifyLogin';
            alternativeEmailVal.style.display = 'none';
    
            ValidationMessages(name, nameVal);
            ValidationMessages(customerName, customerNameVal);
            ValidationMessages(phone, phoneVal, true);
            ValidationMessages(email, emailVal, true);
            ValidationMessages(customerNumber, customerNumberVal);
    
            alternativeEmail.addEventListener('invalid', function(event){
                event.preventDefault();
                if ( ! event.target.validity.valid ) {
                    alternativeEmail.className = 'form-control animated shake invalid';
                    if ( lang === "en" )
                        alternativeEmailVal.textContent = '(Please control format)';
                    if ( lang === "se" )
                        alternativeEmailVal.textContent = '(Vänligen kontrollera formatet)';
                    alternativeEmailVal.className = 'error';
                    alternativeEmailVal.style.display = 'block';
                }
            });
    
            alternativeEmail.addEventListener('input', function(event){
                if ( 'block' === alternativeEmailVal.style.display ) {
                    alternativeEmail.className = 'form-control';
                    alternativeEmailVal.style.display = 'none';
                }
            });
        })();
    
        function ValidationMessages(inputName, inputNameVal, format){
            inputName.addEventListener('invalid', function(event){
                event.preventDefault();
                var lang = document.documentElement.lang.toLowerCase();
                if ( ! event.target.validity.valid ) {
                    inputName.className = 'form-control animated shake invalid';
                    if ( lang === "en" )
                        if(format)
                            inputNameVal.textContent = '(Please fill in the field/Please control format)';
                        else
                            inputNameVal.textContent = '(This field is compulsory)';
                    if ( lang === "se" )
                        if(format)
                            inputNameVal.textContent = '(Vänligen fyll I fältet/Vänligen kontrollera formatet)';
                        else
                            inputNameVal.textContent = '(Detta fältet är obligatorisk)';
                    inputNameVal.className = 'error';
                    inputNameVal.style.display = 'block';
                }
            });
    
            inputName.addEventListener('input', function(event){
                if ( 'block' === inputNameVal.style.display ) {
                    inputName.className = 'form-control';
                    inputNameVal.style.display = 'none';
                }
            });
        }
    </script>