<div style="background-image:url(http://localhost:3000/uploads/attachments/cjf1ozz5o001awowbygctqhx8-heroimage.full.png);background-attachment: fixed;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 100vh;" class="container-fluid section-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ apos.area(data.widget, 'areaLeft', {
                    widgets: {
                        'apostrophe-rich-text': {
                            toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                            styles: [
                            { name: 'H1', element: 'h1'},
                            { name: 'H2', element: 'h2'},
                            { name: 'H3', element: 'h3'},
                            { name: 'H4', element: 'h4'},
                            { name: 'H5', element: 'h5'},
                            { name: 'H6', element: 'h6'},
                            { name: 'Heading', element: 'h3' },
                            { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff'} },
                            { name: 'Subheading', element: 'h4' },
                            { name: 'Paragraph', element: 'p' },
                            { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                            ] 
                        },
                        'apostrophe-images': {}
                    }
                }) }}
            </div>
            <div class="col-md-6">
                {{ apos.area(data.widget, 'areaRight', {
                    widgets: {
                        'apostrophe-rich-text': {
                            toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                            styles: [
                            { name: 'H1', element: 'h1'},
                            { name: 'H2', element: 'h2'},
                            { name: 'H3', element: 'h3'},
                            { name: 'H4', element: 'h4'},
                            { name: 'H5', element: 'h5'},
                            { name: 'H6', element: 'h6'},
                            { name: 'Heading', element: 'h3' },
                            { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff'} },
                            { name: 'Subheading', element: 'h4' },
                            { name: 'Paragraph', element: 'p' },
                            { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                            ] 
                        },
                        'apostrophe-images': {}
                    }
                }) }}
            </div>
        </div>
    </div>
</div>
