<section id="divisions">
        <div id="divider">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-12 tolkapp">
                        <h1 class="titleAvdelningar">Avdelningar</h1><br>
                        <hr class="divider-role"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                        {{ apos.area(data.widget, 'areaLeft', {
                            widgets: {
                                'apostrophe-rich-text': {
                                    toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                    styles: [
                                    { name: 'H1', element: 'h1'},
                                    { name: 'H2', element: 'h2'},
                                    { name: 'H3', element: 'h3'},
                                    { name: 'H4', element: 'h4'},
                                    { name: 'H5', element: 'h5'},
                                    { name: 'H6', element: 'h6'},
                                    { name: 'Heading', element: 'h3' },
                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff' } },
                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'HeadingWhite', element: 'h2', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'HeadingWhite', element: 'h1', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'Subheading', element: 'h4' },
                                    { name: 'Paragraph', element: 'p' },
                                    { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                                    ] 
                                },
                                'apostrophe-images': {
                                    size: 'original'
                                },
                                'apostrophe-html': {}
                            }
                        }) }}
                </div>
                <div class="col-xs-12 col-md-6 col-md-pull-1">
                        {{ apos.area(data.widget, 'areaRight', {
                            widgets: {
                                'apostrophe-rich-text': {
                                    toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                    styles: [
                                    { name: 'H1', element: 'h1'},
                                    { name: 'H2', element: 'h2'},
                                    { name: 'H3', element: 'h3'},
                                    { name: 'H4', element: 'h4'},
                                    { name: 'H5', element: 'h5'},
                                    { name: 'H6', element: 'h6'},
                                    { name: 'Heading', element: 'h3' },
                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff' } },
                                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'HeadingWhite', element: 'h2', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'HeadingWhite', element: 'h1', styles: { 'color': '#b6911f','text-align': 'center' } },
                                    { name: 'Subheading', element: 'h4' },
                                    { name: 'Paragraph', element: 'p' },
                                    { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                                    ] 
                                },
                                'apostrophe-images': {
                                    size: 'original'
                                },
                                'apostrophe-html': {}
                            }
                        }) }}
                </div>
            </div>
        </div>
    </section>