<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>

<script>
  
   $('.cc-dismiss').click( function(){
        $('.navbar-fixed-bottom').css('bottom', '0px');
    }); 

/* COOKIES SCRIPT */
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "rgba(182, 145, 31, 0.95);",
          "text": "#ffffff"
        },
        "button": {
          "background": "transparent",
          "text": "#ffffff",
          "border": "1 px solid #ffffff",
          "border-radius": "30px",
        }
      },
      "theme": "classic",
      "width": "90px",
      "content": {
        "message": "Vår webbplats använder sig av kakor eller “cookies” för att ge dig den bästa upplevelsen.",
        "dismiss": "Jag accepterar",
        "link": " Läs mer här",
        "href": "http://192.168.40.170:3000/se/cookies"
      }
    })});
/* END COOKIES SCRIPT */
</script>
<style>
    label {
        margin-left: 10px !important;
    }
        .carousel-caption{
            top:0;
        }
        
        .tolkningRow {
            position: absolute;
    left: 8%;
    top: 5px;
    width: 78.5%;
    }
    .tolkningNonActive {
        position: absolute;
    left: 8%;
    top: -3px;
    width: 85.5%;
    margin-top: -1px;
    height: 71px;
    border-top-right-radius: 10px;
    }
    .tolkningText {
        float: left;position: relative;top: -9px;left: 31px; 
    }
    .tolkningText a {
        font-weight: bold;
    }
    .oversatningRow {
        position: absolute;
    top: 5px;
    left: 17px;
    width: 84%;
    }
    .oversatningRow a {
        margin-left: -11px;
    }
    .oversatningNonActive {
        position: absolute;
    top: -4px;
    left: 3px;
    width: 91%;
    height: 71px;
    border-top-left-radius: 10px;
    }
    .oversatningText {
        float: left;position: relative;top: -9px;left: 31px; 
    }

    .oversatningText a { 
        font-weight: bold;
    }
    @media (max-width: 1201px) { 
        .tolkningNonActive {
            position: absolute;
            left: 8%;
            top: -69px;
            width: 91.5%;
            margin-top: -1px;
            height: 71px;
            border-top-right-radius: 10px;
        }
        .oversatningRow {
            position: absolute;
            top: -61px;
            left: -1%;
            width: 93.5%;
        }
        .tolkningRow {
            position: absolute;
            left: 8%;
            top: -61px;
            width: 86.5%;
        }
        .oversatningNonActive {
            position: absolute;
            top: -70px;
            left: -6%;
            width: 98.5%;
            height: 71px;
            border-top-left-radius: 10px;
        }
        .tolkningNonActive {
            position: absolute;
            left: 8%;
            top: -69px !important;
            width: 91.5% !important;
            margin-top: -1px;
            height: 71px;
            border-top-right-radius: 10px;
        }
    }

</style>   
<div class="container-fluid" style="position: absolute; top: 0; left: 0; width: 100%;">
    <div class="row">
                <nav class="navbar navbar-default" style="z-index: 1000">
                        <div class="container">
                            <div class="navbar-header transparent"><a class="navbar-brand navbar-link logoOriginal" href="{{ data.home._url }}"></a>
                                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span></button>
                                    <input type="submit" onclick="mobileFormShow()" style="color: transparent" class="loginImg hidden-md hidden-lg" />
                            </div>
                            <div class="collapse navbar-collapse" id="navcol-1">
                                <ul class="nav navbar-nav navbar-right">
                                    {% for tab in data.home._children %}
                                    {% if tab._children.length %}
                                    <li><a href="{{ tab._url }}">{{ tab.title }}</a>
                                    <button style="position: relative; left: 90%; bottom: 40px; background-color: transparent; border: none;" class="dropdown-toggle animateCustom hidden-lg" type="button" id="{{ tab._id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span style="color: #fff !important" class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu hidden-lg" aria-labelledby="{{ tab._id }}">
                                                {% for child in tab._children %}
                                                <li id="{{ tab._id }}" ><a href="{{ child._url }}">{{ child.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                    </li>
                                        {% else %}
                                        <li><a href="{{ tab._url }}">{{ tab.title }}</a></li>
                                        {% endif %}
                                                {% endfor %}
                                    <li class="hidden-xs hidden-sm"><a id="lang" href=""></a><span class="globe"></span></li>
                                    <li style="padding: 11px 39px 11px 35px; margin-top: 1px; margin-left: 10px;" class="btnMenu hidden-xs hidden-sm">Bli kund</li>
                                    <li style="float: right; color: #fff; background-color: transparent; margin-right: 5%;" class="text-center hidden-sm hidden-md hidden-lg">SE | EN</li>
                                  </ul>
                            </div>
                        </div>
                    </nav>
    </div>
</div>

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators hidden-xs hidden-sm" style="left: 5% !important;">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
        <li data-target="#themeSlider" data-slide-to="3"></li>
        <a style="position: relative;left: 70.1%; width: 31px; top:-9px;" href="#overAndTolk"><img style="    width: 35px;" src="/uploads/attachments/cjfy1ms0a000bp45hsiurrr8u-down-circle.full.png"></a>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img src="{{ apos.attachments.url(data.widget['sliderOne'], { size: 'full'}) }}" id="slideImgHeight" alt="First slide">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                                <div class="heroText">
                                    {{ apos.area(data.widget, 'sliderOneLeft') }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-md-push-2">
                             
                        </div>
                 </div>
            </div>
        </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img src="{{ apos.attachments.url(data.widget['sliderTwo'], { size: 'full'}) }}" id="slideImgHeight" alt="Second slide">
            <div class="carousel-caption">
                    <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                        <div class="heroText">
                                            {{ apos.area(data.widget, 'sliderTwoLeft') }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4 col-md-push-2">
                                    
                                </div>
                                </div>
                         </div>
            </div>
            </div>
            <div class="item">
                <div class="imgOverlay"></div>
                <img src="{{ apos.attachments.url(data.widget['sliderThree'], { size: 'full'}) }}" id="slideImgHeight" alt="Third slide">
                <div class="carousel-caption">
                        <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                            <div class="heroText">
                                                {{ apos.area(data.widget, 'sliderThreeLeft') }}
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4 col-md-push-2">
                                        
                                    </div>
                                    </div>
                             </div>
                </div>
            </div>
            <div class="item">
                <div class="imgOverlay"></div>
                <img src="{{ apos.attachments.url(data.widget['sliderFour'], { size: 'full'}) }}" id="slideImgHeight" alt="Fourth slide">
                <div class="carousel-caption">
                        <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                            <div class="heroText">
                                                {{ apos.area(data.widget, 'sliderFourLeft') }}
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4 col-md-push-2">
                                        
                                    </div>
                                    </div>
                             </div>
                </div>
            </div>
        </div>
        
    </div>
    <div id="loginForm1200" class="col-xs-12 hidden-xs hidden-sm" style="width: 1107px;position: absolute;top: 29%;left: 53%; z-index: 100">
        <div class="col-xs-12 col-md-4 col-md-push-2">
            <div class="row">
                <div class="col-xs-6 col-md-6" style="position: absolute;left: 0px;top: -67px;width: 53.4%;">
                        <div style="border-top-left-radius: 10px;" class="panel-heading tolkningNonActive" id="login-form-link">
                                <div class="row text-center">
                                    <div class="col-xs-6">
                                        <a class="tolkningText" href="#"><br>Tolkning<br></a>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="col-xs-6 col-md-6" style="position: absolute;top: -67px;left: 161px;width: 55%;">
                        <div style="border-top-right-radius: 10px;" class="panel-heading activeForm oversatningRow" id="register-form-link">
                                <div class="row text-center">
                                    <div class="col-xs-6">
                                        <a class="oversatningText" href="#"><br>Översättning<br></a>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
           <div class="panel panel-login">
               <div class="panel-body">
                   <div class="row">
                       <div class="col-lg-12">
                           <form id="login-form" action="https://webbtolk.sprakservice.se/Konto/Logon" method="post" role="form" style="display: block;">
                               <div class="form-group">
                                   <label for="Epost">E-postadress</label>
                                   <input type="text" name="Epost" id="Epost" tabindex="1" class="form-control" value="">
                               </div>
                               <div class="form-group">
                                   <label for="password">Lösenord</label>
                                   <input type="password" name="Password" id="Password" tabindex="2" class="form-control">
                               </div>
                               <br>
                               <div class="form-group">
                                   <div class="row">
                                       <div class="col-sm-6" style="margin-left: 5.9%;">
                                           <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control loginSprakButton" value="Logga in">
                                       </div>
                                   </div>
                               </div>
                               <div class="form-group">
                                    <a href="https://sprakservicesverige.s.xtrf.eu/customers/#/forgotten-password"><p class="text-center" style="font-size: 15px; text-decoration: none; color: #323232;">Glömt lösenord?</p></a>
                             </div>
                             <div class="form-group">
                                    <a style="color: #323232;" href="https://sprakservicesverige.s.xtrf.eu/vendors/#/password/forgotten"><p class="text-center">Ny webbkund? / Begär Login</p></a>
                                 </div>
                           </form>
                           <form id="register-form" role="form" style="display: none;">
                                <div class="form-group">
                                     <label for="Epost">E-postadress</label>
                                    <input type="text" name="uUsername" id="username" tabindex="1" class="form-control" value="">
                                </div>
                                <div class="form-group">
                                     <label for="password">Lösenord</label>
                                    <input type="password" name="password1" id="pass" tabindex="2" class="form-control">
                                </div>
                                <br>
                                <div class="form-group">
                                        <p class="text-center" style="font-size: 15px; text-decoration: none; color: #323232; font-weight: bold;">Logga in som</p>
                                     </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <input style="width: 135px !important;" type="submit" name="login-submit"  id="customers" tabindex="4" class="form-control loginSprakButton" value="Kund">
                                            <div class="form-group">
                                                    <a href="https://sprakservicesverige.s.xtrf.eu/customers/#/forgotten-password"><p class="text-center" style="font-size: 14px; text-decoration: none; color: #323232; text-align: left; margin-top: 10%; margin-left: 9%;">Glömt lösenord?</p></a>
                                             </div>
                                        </div>
                                        <div class="col-xs-6">
                                             <input style="width: 140px !important;" type="submit" name="login-submit" id="vendors" tabindex="4" class="form-control loginSprakButton" value="Översättare">
                                             <div class="form-group">
                                                    <a href="https://sprakservicesverige.s.xtrf.eu/vendors/#/password/forgotten"><p class="text-center" style="font-size: 14px; text-decoration: none; color: #323232; text-align: right; margin-top: 10%; margin-right: 3%;">Glömt lösenord?</p></a>
                                             </div>
                                         </div>
                                    </div>
                                </div>
                            </form>
                       </div>
                   </div>
               </div>
           </div>
           <div class="row">
               <div class="col-md-12" style="margin-top: 20px;left: 19%;">
                    <a style="color: #fff; text-decoration: underline;" href="http://192.168.40.170:3000/se/kontakt0/register">Ny kund? Registrera dig här</a>
               </div>
           </div>
        </div>
    </div>

     <div class="hidden-md hidden-lg" id="mobileForm" style="display: none; background: #323232; height: 100vh; top: -1px; width: 100%; position: fixed; z-index: 10;">
            <div class="col-xs-12 col-md-4 col-md-push-2 hidden-md hidden-lg" style="width: 397px; position: absolute; top: 29%; left: 0; right: 0;  margin-left: auto; margin-right: auto;">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                           <div style="border-top-left-radius: 10px;" class="panel-heading tolkningNonActive" id="login-form-link-mobile">
                                   <div class="row text-center">
                                       <div class="col-xs-6">
                                           <a class="tolkningText" href="#"><br>Tolkning<br></a>
                                       </div>
                                   </div>
                               </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                           <div style="border-top-right-radius: 10px;" class="panel-heading activeForm oversatningRow" id="register-form-link-mobile">
                                   <div class="row text-center">
                                       <div class="col-xs-6">
                                           <a class="oversatningText" href="#"><br>Överättning<br></a>
                                       </div>
                                   </div>
                               </div>
                    </div>
                </div>
               <div class="panel panel-login">
                   <div class="panel-body">
                       <div class="row">
                           <div class="col-lg-12">
                                <form id="login-form-mobile" action="https://webbtolk.sprakservice.se/Konto/Logon" method="post" role="form" style="display: block;">
                                    <div class="form-group">
                                        <label for="Epost">E-postadress</label>
                                        <input type="text" name="Epost" id="Epost" tabindex="1" class="form-control" value="">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Lösenord</label>
                                        <input type="password" name="Password" id="Password" tabindex="2" class="form-control">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6" style="margin-left: 5.9%;">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control loginSprakButton" value="Logga in">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <a href="https://webbtolk.sprakservice.se/Konto/ForgottenPassword"><p class="text-center" style="font-size: 15px; text-decoration: none; color: #323232;">Glömt lösenord?</p></a>
                                  </div>
                                  <div class="form-group">
                                         <a style="color: #323232;" href="http://192.168.40.170:3000/se/kontakt0/best%C3%A4ll-webbkonto"><p class="text-center">Ny webbkund? / Begär Login</p></a>
                                      </div>
                                </form>
                               <form id="register-form-mobile" role="form" style="display: none;">
                                    <div class="form-group">
                                         <label for="Epost">E-postadress</label>
                                        <input type="text" name="uUsername" id="username-mobile" tabindex="1" class="form-control" value="">
                                    </div>
                                    <div class="form-group">
                                         <label for="password">Lösenord</label>
                                        <input type="password" name="password1" id="pass-mobile" tabindex="2" class="form-control">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                            <p class="text-center" style="font-size: 15px; text-decoration: none; color: #323232; font-weight: bold;">Logga in som</p>
                                         </div>
                                         <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <input style="width: 135px !important;" type="submit" name="login-submit"  id="customers-mobile" tabindex="4" class="form-control loginSprakButton" value="Kund">
                                                        <div class="form-group">
                                                                <a href="https://webbtolk.sprakservice.se/Konto/ForgottenPassword"><p class="text-center" style="font-size: 14px; text-decoration: none; color: #323232; text-align: left; margin-top: 10%; margin-left: 9%;">Glömt lösenord?</p></a>
                                                         </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                         <input style="width: 140px !important;" type="submit" name="login-submit" id="vendors" tabindex="4" class="form-control loginSprakButton" value="Översättare">
                                                         <div class="form-group">
                                                                <a href="https://webbtolk.sprakservice.se/Konto/ForgottenPassword"><p class="text-center" style="font-size: 14px; text-decoration: none; color: #323232; text-align: right; margin-top: 10%; margin-right: 17%;">Glömt lösenord?</p></a>
                                                         </div>
                                                     </div>
                                                </div>
                                            </div>
                                </form>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-12" style="margin-top: 20px;left: 9%;">
                       <a href="http://192.168.40.170:3000/se/kontakt0/register"><p style="color: #fff;">Ny kund? Registrera dig här / Begär Login</p></a>
                   </div>
               </div>
            </div>
            </div>
 
<script>
   $(document).ready(function(){       
        // Select all links with hashes
        $('a[href*="#"]')
        // Remove links that don't actually link to anything
        .not('[href="#"]')
        .not('[href="#0"]')
        .click(function(event) {
            // On-page links
            if (
            location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
            && 
            location.hostname == this.hostname
            ) {
            // Figure out element to scroll to
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            // Does a scroll target exist?
            if (target.length) {
                // Only prevent default if animation is actually gonna happen
                event.preventDefault();
                $('html, body').animate({
                scrollTop: target.offset().top
                }, 1000, function() {
                // Callback after animation
                // Must change focus!
                var $target = $(target);
                $target.focus();
                if ($target.is(":focus")) { // Checking if the target was focused
                    return false;
                } else {
                    $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                    $target.focus(); // Set focus again
                };
                });
            }
            }
        });

        $('#login-form-link-mobile').click(function(e) {
             $("#login-form-mobile").delay(100).fadeIn(100);
              $("#register-form-mobile").fadeOut(100);
             $('#register-form-link-mobile').addClass('activeForm');
             $('#register-form-link-mobile').removeClass('oversatningNonActive');
             $('#register-form-link-mobile').addClass('oversatningRow');
             $('#login-form-link-mobile').addClass('tolkningNonActive');
             $(this).removeClass('activeForm');
             e.preventDefault();
         });
         $('#register-form-link-mobile').click(function(e) {
             $("#register-form-mobile").delay(100).fadeIn(100);
              $("#login-form-mobile").fadeOut(100);
             $('#login-form-link-mobile').addClass('activeForm');
             $('#register-form-link-mobile').addClass('oversatningNonActive');
             $('#login-form-link-mobile').addClass('tolkningRow');
             $('#login-form-link-mobile').removeClass('tolkningNonActive');
             $(this).removeClass('activeForm');
             e.preventDefault();
         });

          $('#login-form-link').click(function(e) {
             $("#login-form").delay(100).fadeIn(100);
              $("#register-form").fadeOut(100);
             $('#register-form-link').addClass('activeForm');
             $('#register-form-link').removeClass('oversatningNonActive');
             $('#register-form-link').addClass('oversatningRow');
             $('#login-form-link').addClass('tolkningNonActive');
             $(this).removeClass('activeForm');
             e.preventDefault();
         });
         $('#register-form-link').click(function(e) {
             $("#register-form").delay(100).fadeIn(100);
              $("#login-form").fadeOut(100);
             $('#login-form-link').addClass('activeForm');
             $('#register-form-link').addClass('oversatningNonActive');
             $('#login-form-link').addClass('tolkningRow');
             $('#login-form-link').removeClass('tolkningNonActive');
             $(this).removeClass('activeForm');
             e.preventDefault();
         });
    
    
        var scroll_start = 0;
        var startchange = $('#startchange');
        var offset = startchange.offset();
            if (startchange.length){
        $(document).scroll(function() { 
            scroll_start = $(this).scrollTop();
            $('.navbar-default').css('background-color', 'transparent');
            $('.navbar-brand').addClass('logoOriginal');
            if(scroll_start > offset.top) {
                    $(".navbar-default").css('background-color', '#f0f0f0');
                    $(".navbar-default").addClass('navbar-fixed-top')
                    $('.navbar-nav>li>a').css('color', '#323232');
                    $(".navbar-default").css('display', 'none');
                    $(".navbar-default").fadeIn(500);
                    $('.navbar-nav>li>a:focus').css('color', '#b6911f');
                    $('.navbar-nav>li>a:hover').css('color', '#b6911f');
                    $('.navbar-fixed-top').css('z-index', '40');
                    $('.navbar-brand').addClass('logoSecond');
                    $('.navbar-brand').removeClass('logoOriginal');
                    $('.btnMenu').removeClass('btnMenu').addClass('btnMenuhover');
                    $('.globe').removeClass('globe').addClass('globeBlack');
                } else {
                    $('.navbar-default').css('background-color', 'transparent');
                    $('.navbar-default').removeClass('navbar-fixed-top');
                    $('.navbar-nav>li>a').css('color', '#fff');             
                    $('.navbar-nav>li>a:focus').css('color', '#b6911f');
                    $('.navbar-nav>li>a:hover').css('color', '#b6911f');
                    $('.navbar-brand').removeClass('logoSecond');
                    $('.btnMenuhover').removeClass('btnMenuhover').addClass('btnMenu');
                    $('.globeBlack').removeClass('globeBlack').addClass('globe');
                }
        });
    }
});

    function mobileFormShow() {
        var x = document.getElementById("mobileForm");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    (function(){
            if (document.documentElement.lang.toLowerCase() === "en")
            {
                $("#lang").text("SV");
                $("#lang").attr("href", "http://192.168.40.170:3000/se")
            }
            else
            {
                $("#lang").text("EN");
                $("#lang").attr("href", "http://192.168.40.170:3000/en")
            }
        })();
    </script>

<script>
        $(document).ready(function(){
            $("#customers").on("click",function(){
                var username = $('#username').val();
                var password = $('#pass').val();
              $.ajax({
                  url: "https://sprakservicesverige-test.s.xtrf.eu/xtrf-api-rest/system/login?username="+username+"&password="+password,
                  type: "post",
                  data: " ",
                  dataType: "json",
                  crossDomain: true,
                  contentType: "application/x-www-form-urlencoded",
                  xhrFields: { withCredentials: true },
                  success: function(r){
                       //console.log(JSON.parse(r));
                       // Set_Cookie('JSESSIONID', r.jsessionid, new Date('1969-12-31T23:59:59.000Z'), '/xtrf-api-rest', 'sprakservicesverige-test.s.xtrf.eu',  false);
                       window.location.replace('https://sprakservicesverige-test.s.xtrf.eu/customers/');
                  }
              });
              return false; // this one
            });

            $("#customers-mobile").on("click",function(){
                var username = $('#username-mobile').val();
                var password = $('#pass-mobile').val();
              $.ajax({
                  url: "https://sprakservicesverige-test.s.xtrf.eu/xtrf-api-rest/system/login?username="+username+"&password="+password,
                  type: "post",
                  data: " ",
                  dataType: "json",
                  crossDomain: true,
                  contentType: "application/x-www-form-urlencoded",
                  xhrFields: { withCredentials: true },
                  success: function(r){
                       //console.log(JSON.parse(r));
                       // Set_Cookie('JSESSIONID', r.jsessionid, new Date('1969-12-31T23:59:59.000Z'), '/xtrf-api-rest', 'sprakservicesverige-test.s.xtrf.eu',  false);
                       window.location.replace('https://sprakservicesverige-test.s.xtrf.eu/customers/');
                  }
              });
              return false; // this one
            });

              $("#vendors").on("click",function(){
                var username = $('#username').val();
                var password = $('#pass').val();
              $.ajax({
                  url: "https://sprakservicesverige-test.s.xtrf.eu/xtrf-api-rest/system/login?username="+username+"&password="+password,
                  type: "post",
                  data: " ",
                  dataType: "json",
                  crossDomain: true,
                  contentType: "application/x-www-form-urlencoded",
                  xhrFields: { withCredentials: true },
                  success: function(r){
                       //console.log(JSON.parse(r));
                       // Set_Cookie('JSESSIONID', r.jsessionid, new Date('1969-12-31T23:59:59.000Z'), '/xtrf-api-rest', 'sprakservicesverige-test.s.xtrf.eu',  false);
                       window.location.replace('https://sprakservicesverige-test.s.xtrf.eu/vendors/');
                  }
              });
              return false; // this one
            });
        });
        
        
        function Get_Cookie(name) {
           var start = document.cookie.indexOf(name+'=');
           var len = start+name.length+1;
           if ((!start) && (name != document.cookie.substring(0,name.length))) return null;
           if (start == -1) return null;
           var end = document.cookie.indexOf(';',len);
           if (end == -1) end = document.cookie.length;
           return unescape(document.cookie.substring(len,end));
        }
        
        function Set_Cookie(name,value,expires,path,domain,secure) {
            var cookieString = name + '=' +escape(value) +
               ( (expires) ? ';expires=' + expires.toGMTString() : '') +
               ( (path) ? ';path=' + path : '') +
               ( (domain) ? ';domain=' + domain : '') +
               ( (secure) ? ';secure' : '');
            document.cookie = cookieString;
        
        }
        </script>