
<div id="overAndTolk">
    <div id="startchange" class="container-fluid">
    <div class="row">
        <div class="col-md-6 oversattning" style="background-image:linear-gradient(to right, rgba(182, 145, 31, 0.86), rgba(182, 145, 31, 0.86)), url({{ apos.attachments.url(data.widget['oversattningImage'], { size: 'full'}) }});">
                {{ apos.area(data.widget, 'areaLeft') }}
            <div class="row padding25">
                <div class="col-md-12 col-md-push-3 margin-top15">
                    <a class="btnSection1" href="#">Beställ översättning</a>
                    </div>
                </div>
        </div>
        <div class="col-md-6 tolkning" style="background-image: linear-gradient(to right, rgba(50, 50, 50, 0.86), rgba(50, 50, 50, 0.86)),url({{ apos.attachments.url(data.widget['tolkningImage'], { size: 'full'}) }});">
                {{ apos.area(data.widget, 'areaRight') }}
            <div class="row padding25">
                <div class="col-md-12 col-md-push-3 margin-top15">
                    <a class="btnSection1" href="#">Beställ tolkning</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

