{% extends "default.html" %}

{% block title %}Home{% endblock %}
{% block main %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"><a class="navbar-brand navbar-link" href="{{ data.home._url }}"><img class="img-responsive" src="/uploads/attachments/cjfjbwco6001lhgwbqpnxm3f9-logo-original.full.png"></a>
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav navbar-right">
            {% for tab in data.home._children %}
              <li><a href="{{ tab._url }}">{{ tab.title }}</a>
                {% if tab._children.length %}
                      <ol class="breadcrumb">
                          {% for child in tab._children %}
                          <li><a href="{{ child._url }}">{{ child.title }}</a></li>
                        {% endfor %}
                        </ol>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
    </div>
  </div>
  </nav>  

  {{ apos.area(data.page, 'body', {
    widgets: {
      'apostrophe-blog': {
       
      },
      'section-1': {},
      'section-2': {},
      'section-3': {},
      'section-4': {},
      'section-5': {}, 
      'section-awards': {},
      'section-footer': {},
      'section-tabs-collapse': {},
      'section-hero': {},
      'grid': {},
      'grid-image': {},
      'contact-form': {}
  }) }}
  
{% endblock %}

{% include "pager.html" %}