{% extends "default.html" %}
{% block beforeMain %}
<!-- WIDGET FOR DEFAULT PAGE TEMPLATE -->
{{ apos.area(data.page, 'body', {
    widgets: {
      'title': {},
      'section-tabs-collapse': {},
      'section-tabs-collapse-three': {},
      'form-register': {},
      'form-login-request': {},
      'form-quality': {},
      'form-question': {},
      'form-quotation': {},
      'preview-forms-data': {},
      '1': {},
      '1-opacity': {},
      'layout-1-2': {},
      'layout-23-13': {},
      'layout-13-23': {},
      'layout-2-5-5-2': {},
      'layout-5-2-2-5': {}
    }
  }) }}
<!-- END WIDGET -->
{% endblock %}

{% block afterMain %}

<!-- STATIC FOOTER -->
<style>
    h4 {
      font-weight: bold;
    }
    .pMargin p {
      margin: 0 !important;
    }
  </style>
  <section class="footer">
    <div class="container-fluid footerInfo">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-2 col-md-push-2 pMargin">
                <h4>Våra kontor</h4><br>
                
                    <p style="font-weight: bold">Malmö – huvudkontor</p> 
                    <p>0770-457 458</p>
                    <p>info@sprakservice.se</p>
                    <p>Föreningsgatan 15, Malmö</p><br>

                    <p style="font-weight: bold">Stockholm</p>
                    <p>0770-457 458.</p> 
                    <p>info@sprakservice.se</p>
                    <p>Vretenvägen 9, 171 54 Solna</p>
                
            </div>
            <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-2 col-md-push-2">
                    <h4>Sitemap</h4><br>
                
                    <p>Översättning</p>
                    <p>Tolkning</p>
                    <p>Om Språkservice</p>
                    <p>Kontakt</p>
                    <p>Aktuellt</p>
                    <p>Jobb</p>
                    <p>Information</p>
                    <p>Press</p>
            </div>
            <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-2 col-md-push-2 info">
                    <h4>Information</h4> <br>
                
                    <p>Jobba som tolk</p>
                    <p>Jobba som översättare</p>
                    <p>Etiska regler</p>
                    <p>Allmänna villkor</p>
                    <p>Länkar till formulär</p>
                    <p>Organisationsinformation</p>
            </div>
            <div class="col-xs-6 col-xs-push-1 col-sm-6 col-md-2 col-md-push-2 social">
                    <h4>Social media</h4><br>
                
                    <p>Facebook</p>
                    <p>Twitter</p>
                    <p>LinkedIn</p>
                    <p>Instagram</p><br>
                    <h4>Jourtelefon</h4>
                    <p>0770-457 458</p>
            </div>
        </div>
    </div>
    <div class="container-fluid postFooter text-center">
        <div class="row">
            <div class="col-md-12">
                    © 2018 Språkservice Sverige AB. Allt material på denna webbplats tillhör Språkservice.
            </div>
        </div>
    </div>
</section>
<!-- END STATIC FOOTER -->
<style>
    @media (max-width: 768px) {
        .info {
            margin-top: 7%;
        }
        
        .social {
            position: relative;
            top: 30px;
        }
    }
</style>
{% endblock %}