{% extends "default.html" %}
{% block title %}{{ data.page.title }}{% endblock %}

{% block main %}
  {%- macro here(changes) -%}
    {{ data.page._url | build({
      year: data.query.year
    }, changes) }}
  {%- endmacro -%}




<div class="container searchResult">
  <div class="row">
      <h1 style="border-bottom: 1px solid #979797; padding-bottom: 35px;">Sökresultat för <span style="color: #323232; font-weight: lighter;">Tolk för dokument</span> <span class="searchStep pull-right"></span></h1>
      {% for piece in data.pieces %}
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <h3><a href="{{ piece._url }}">{{ piece.title }}</a></h3>
              </div>
              <div class="col-md-6">
                  <p>Hos oss kan du beställa tolk- och översättningstjänster i över 200 språk och dialekter för alla situationer…</p>
              </div>
              <div class="col-md-3">
                   <a class="btn btnSectionApp text-center" href="{{ piece._url }}">Läs mer</a>
              </div>
          </div>
      </div>
  {% endfor %}
       <br>
  </div>
</div>
{% import 'apostrophe-pager:macros.html' as pager with context %}
{{ pager.render({ page: data.currentPage, total: data.totalPages }, data.url) }}
{% endblock %}
