<div class="hero">
    <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand navbar-link" href="#"><img class="img-responsive" src="/uploads/attachments/cjf7zcyns006gygiuw61p0u40-logo.full.png"></a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-right">
                        {% for tab in data.home._children %}
                          <li><a href="{{ tab._url }}">{{ tab.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                </div>
            </div>
        </nav>
<div class="container">
   <div class="row">
     <div class="col-xs-12 col-md-6">
            <div class="heroText">
                {{ apos.area(data.widget, 'areaLeft', {
                    widgets: {
                        'apostrophe-rich-text': {
                            toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                            styles: [
                            { name: 'H1', element: 'h1'},
                            { name: 'H2', element: 'h2'},
                            { name: 'H3', element: 'h3'},
                            { name: 'H4', element: 'h4'},
                            { name: 'H5', element: 'h5'},
                            { name: 'H6', element: 'h6'},
                            { name: 'Heading', element: 'h3' },
                            { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff' } },
                            { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#b6911f','text-align': 'center' } },
                            { name: 'HeadingWhite', element: 'h2', styles: { 'color': '#b6911f','text-align': 'center' } },
                            { name: 'HeadingWhite', element: 'h1', styles: { 'color': '#b6911f','text-align': 'center' } },
                            { name: 'Subheading', element: 'h4' },
                            { name: 'Paragraph', element: 'p' },
                            { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                            ] 
                        },
                        'apostrophe-images': {
                            size: 'original'
                        },
                        'apostrophe-html': {}
                    }
                }) }}
        </div>
     </div>
     <div class="col-xs-12 col-md-4 col-md-push-2">
        {{ apos.area(data.widget, 'areaRight', {
            widgets: {
                'apostrophe-rich-text': {
                    toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                    styles: [
                    { name: 'H1', element: 'h1'},
                    { name: 'H2', element: 'h2'},
                    { name: 'H3', element: 'h3'},
                    { name: 'H4', element: 'h4'},
                    { name: 'H5', element: 'h5'},
                    { name: 'H6', element: 'h6'},
                    { name: 'Heading', element: 'h3' },
                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#fff' } },
                    { name: 'HeadingWhite', element: 'h3', styles: { 'color': '#b6911f','text-align': 'center' } },
                    { name: 'HeadingWhite', element: 'h2', styles: { 'color': '#b6911f','text-align': 'center' } },
                    { name: 'HeadingWhite', element: 'h1', styles: { 'color': '#b6911f','text-align': 'center' } },
                    { name: 'Subheading', element: 'h4' },
                    { name: 'Paragraph', element: 'p' },
                    { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                    ] 
                },
                'apostrophe-images': {
                    size: 'original'
                },
                'apostrophe-html': {}
            }
        }) }}
     </div>
     </div>
</div>
</div>