<section id="formQuality">
        <div class="container">
        <div class="wrapper animated bounceInLeft">
            <form id="qualityForm" class="form-horizontal">
                <fieldset>
    
                <div class="row">
                    {{ apos.area(data.widget, 'sectionTitle', {
                        widgets: {
                            'apostrophe-rich-text': {
                                toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                styles: [
                                { name: 'H1', element: 'h1', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H1 C', element: 'h1', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H1 W', element: 'h1', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H1 W C', element: 'h1', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H1 S', element: 'h1', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H1 S C', element: 'h1', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2', element: 'h2', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H2 C', element: 'h2', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H2 W', element: 'h2', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2 W C', element: 'h2', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2 S', element: 'h2', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2 S C', element: 'h2', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3', element: 'h3', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H3 C', element: 'h3', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H3 W', element: 'h3', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3 W C', element: 'h3', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3 S', element: 'h3', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3 S C', element: 'h3', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4', element: 'h4', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H4 C', element: 'h4', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H4 W', element: 'h4', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4 W C', element: 'h4', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4 S', element: 'h4', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4 S C', element: 'h4', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5', element: 'h5', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H5 C', element: 'h5', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H5 W', element: 'h5', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5 W C', element: 'h5', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5 S', element: 'h5', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5 S C', element: 'h5', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6', element: 'h6', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H6 C', element: 'h6', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H6 W', element: 'h6', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6 W C', element: 'h6', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6 S', element: 'h6', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6 S C', element: 'h6', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'Normal', element: 'p', styles: { 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'Normal B', element: 'p', styles: { 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'Normal B C', element: 'p', styles: { 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'Normal W', element: 'p', styles: { 'color': '#fff', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal W B', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal W B C', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal S', element: 'p', styles: { 'color': '#b6911f', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal S B', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal S B C', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } }
                                ]
                            }
                        }
                    }) }}
                </div>
    
                <div class="row">
                    <!-- Text input-->
                    <div class="form-group col-lg-4">
                        <div style="width: 300px;"><label id="lblCustomerNumber" for="customerNumber">Kundnummer *</label><div id="customerNumberVal"></div></div>
                        <input id="customerNumber" name="customerNumber" type="text" placeholder="" class="form-control" required="">
                    </div>
    
                    <!-- Text input-->
                    <div class="form-group col-lg-4">
                        <div style="width: 300px;"><label id="lblReservationNumber" for="reservationNumber">Bokningsnummer *</label><div id="reservationNumberVal"></div></div>
                        <input id="reservationNumber" name="reservationNumber" type="text" placeholder="AA0123" class="form-control input-md" required="">
                    </div>
                </div>
    
                <div class="row">
                        <!-- Text input-->
                        <div class="form-group col-lg-4">
                            <div style="width: 300px;"><label id="lblDeviationDate" for="deviationDate">Datum för avvikelsen *</label><div id="deviationDateVal"></div></div>
                            <input class="form-control deviationDate" id="deviationDate" name="deviationDate" placeholder="åååå-mm-dd" onfocus="(this.type='date')" type="text" required=""/>
                        </div>
                    
                        <!-- Text input-->
                        <div class="form-group col-lg-4">
                            <div style="width: 300px;"><label id="lblName" for="name">Namn *</label><div id="nameVal"></div></div>
                            <input id="name" name="name" type="text" placeholder="För- och efternamn" class="form-control input-md" required="">
                        </div>
                </div>
    
                <div class="row">
                        <!-- Text input-->
                        <div class="form-group col-lg-4">
                            <div style="width: 300px;"><label id="lblEmail" for="email">E-post *</label><div id="emailVal"></div></div>
                            <input id="email" name="email" type="email" placeholder="info@example.com" class="form-control" required="">
                        </div>
                    
                        <!-- Text input-->
                        <div class="form-group col-lg-4">
                            <div style="width: 300px;"><label id="lblPhone" for="phone">Telefon *</label><div id="phoneVal"></div></div>
                            <input id="phone" name="phone" type="tel" pattern='^\d{3}[\(]\d{1}[\)]-\d{7}$' placeholder="XXX(X)-XXXXXXX" class="form-control input-md" required="">
                        </div>
                </div>
                
                <div class="row">
                            <div class="form-group col-lg-4">
                                <label id="lblFeedback" class="control-label" for="feedback">Återkoppling önskas *  </label>
                                <div class="pretty p-default">
                                        <input type="checkbox" class="radio" value="Yes" name="feedback" checked="checked" />
                                    <div class="state">
                                        <label>Ja</label>
                                    </div>
                                </div>

                                <div class="pretty p-default">
                                        <input type="checkbox" class="radio" value="No" name="feedback" />
                                        <div class="state">
                                            <label>Nej</label>
                                        </div>
                                </div>
                            </div>
                </div><br/><br/>

                <div class="row">
                    {{ apos.area(data.widget, 'sectionSubtitle', {
                        widgets: {
                            'apostrophe-rich-text': {
                                toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Table', 'BulletedList', 'Blockquote', 'Strike',  'Subscript', 'Superscript', 'Split' ],
                                styles: [
                                { name: 'H1', element: 'h1', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H1 C', element: 'h1', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H1 W', element: 'h1', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H1 W C', element: 'h1', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H1 S', element: 'h1', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H1 S C', element: 'h1', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2', element: 'h2', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H2 C', element: 'h2', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H2 W', element: 'h2', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2 W C', element: 'h2', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2 S', element: 'h2', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H2 S C', element: 'h2', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3', element: 'h3', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H3 C', element: 'h3', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H3 W', element: 'h3', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3 W C', element: 'h3', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3 S', element: 'h3', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H3 S C', element: 'h3', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4', element: 'h4', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H4 C', element: 'h4', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H4 W', element: 'h4', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4 W C', element: 'h4', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4 S', element: 'h4', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H4 S C', element: 'h4', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5', element: 'h5', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H5 C', element: 'h5', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H5 W', element: 'h5', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5 W C', element: 'h5', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5 S', element: 'h5', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H5 S C', element: 'h5', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6', element: 'h6', styles: { 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H6 C', element: 'h6', styles: { 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'H6 W', element: 'h6', styles: { 'color': '#fff', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6 W C', element: 'h6', styles: { 'color': '#fff', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6 S', element: 'h6', styles: { 'color': '#b6911f', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'H6 S C', element: 'h6', styles: { 'color': '#b6911f', 'text-align': 'center', 'line-height': 'normal', 'letter-spacing': 'normal' } },
                                { name: 'Normal', element: 'p', styles: { 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'Normal B', element: 'p', styles: { 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'Normal B C', element: 'p', styles: { 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal', 'color': '#323232' } },
                                { name: 'Normal W', element: 'p', styles: { 'color': '#fff', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal W B', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal W B C', element: 'p', styles: { 'color': '#fff', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal S', element: 'p', styles: { 'color': '#b6911f', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal S B', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'line-height': '1.56', 'letter-spacing': 'normal' } },
                                { name: 'Normal S B C', element: 'p', styles: { 'color': '#b6911f', 'font-weight': 'bold', 'text-align': 'center', 'line-height': '1.56', 'letter-spacing': 'normal' } }
                                ]
                            }
                        }
                    }) }}
                </div>

                <div class="row">
                    <!-- Select Basic -->
                    <div class="form-group col-lg-8">
                            <label id="lblSubject" class="sbLabel" for="subject">Ärende *</label>
                            <!-- <div class="sb"></div> -->
                            <div id="ddl" class="drop_list_quality">
                            <select id="subject" name="subject" class="form-control">
                                <option value="1">Ingen avvikelse</option>
                                <option value="2">Utebliven tolk</option>
                                <option value="3">Klagomål på tolkens tolketik</option>
                                <option value="4">Klagomål på tolkens språkkunskaper</option>
                                <option value="5">Avvikelse från bekräftelserutin</option>
                                <option value="6">Annat klagomål</option>
                                <option value="7">Försenad tolk</option>
                                <option value="8">Tolk har ej medtagit tolkbricka</option>
                                <option value="9">Tolkning i olämplig miljö</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <!-- Textarea -->
                        <div class="form-group col-lg-8">
                            <div style="width: 390px;"><label id="lblClarificationArea" class="control-label" for="clarificationArea">Förtydligande *</label><div id="clarificationAreaVal"></div></div>
                            <textarea class="form-control" id="clarificationArea" name="clarificationArea" placeholder="Fritext" required=""></textarea>
                        </div>
                    </div><br/><br/>
    
                    <div class="row">
                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-lg-4">
                                <!-- <button id="singlebutton" name="singlebutton" class="SprakButton1">Skicka</button> -->
                                <input id="btnSend" type="submit" name="submit" value="Skicka" class="SprakButton1">
                            </div>

                            <div class="col-lg-4">
                                    <div class="alert alert-success alert-dismissible" style="display: none;">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <h1>Avvikelse</h1><br/>
                                        <p>Tack för att du tog dig tid att lämna synpunkter.</p>
                                        <p>Ditt ärende kommer nu att tas om hand av vår kvalitetsavdelning som följer upp dina synpunkter och återkopplar till dig om du så önskat. Har du frågor är du välkommen att kontakta vår kvalitetskoordinator via e-post: kvalitet@sprakservice.se .</p><br/>
                                        <p><i>Med vänlig hälsning</i></p>
                                        <p><i>Språkservice Sverige AB</i></p>
                                    </div>
                                    <div class="alert alert-warning alert-dismissible" style="display: none;">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        Fel skickas!
                                    </div>
                                </div>
                        </div>
                    </div>
        
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function(){
        $('#qualityForm').on('submit', function(e){
            e.preventDefault();
            var customerNumber = $('#customerNumber').val();
            var reservationNumber = $('#reservationNumber').val();
            var deviationDate = $('#deviationDate').val();
            var name = $('#name').val();
            var email = $('#email').val();
            var phone = $('#phone').val();
            var feedback = $('input[name="feedback"]:checked').val();
            var subject = $('#subject option:selected').text();
            var clarificationArea = $('#clarificationArea').val();
            $.ajax({
                url: 'http://192.168.40.170:3001/api/qualities',
                data: JSON.stringify({
                    "customerNumber": customerNumber,
                    "reservationNumber": reservationNumber,
                    "deviationDate": deviationDate,
                    "name": name,
                    "email": email,
                    "phone": phone,
                    "feedback": feedback,
                    "subject": subject,
                    "clarificationArea": clarificationArea,
                }),
                type: "POST",
                contentType: "application/json",
                success: function(data){
                    // $(".alert-success").fadeTo(4000, 500).slideUp(500, function(){
                    //     $(".alert-success").slideUp(500);
                    // });
                    // $('#qualityForm')[0].reset();
                    $('#qualityForm').html(`<h1>Avvikelse</h1><br/>
                                    <p>Tack för att du tog dig tid att lämna synpunkter.</p>
                                    <p>Ditt ärende kommer nu att tas om hand av vår kvalitetsavdelning som följer upp dina synpunkter och återkopplar till dig om du så önskat. Har du frågor är du välkommen att kontakta vår kvalitetskoordinator via e-post: kvalitet@sprakservice.se .</p><br/>
                                    <p><i>Med vänlig hälsning</i></p>
                                    <p><i>Språkservice Sverige AB</i></p>`);
                },
                error: function(xhr, status, err){
                    console.log(err);
                    $(".alert-warning").fadeTo(8000, 500).slideUp(500, function(){
                        $(".alert-warning").slideUp(500);
                    });
                }
            });
        });

        // var date_input=$('input[name="deviationDate"]');
		// var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		// date_input.datepicker({
		// 	format: 'dd-mm-yyyy',
		// 	container: container,
		// 	todayHighlight: true,
		// 	autoclose: true,
        // })

        // $('.deviationDate').datepicker({
        //     language:'sv'
        // });
        
        $('[id^=customerNumber]').keypress(validateNumber);
    });

    $("input:checkbox").on('click', function() {
        // in the handler, 'this' refers to the box clicked on
        var $box = $(this);
        if ($box.is(":checked")) {
            // the name of the box is retrieved using the .attr() method
            // as it is assumed and expected to be immutable
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            // the checked state of the group/box on the other hand will change
            // and the current value is retrieved using .prop() method
            $(group).prop("checked", false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", true);
        }
    });

    function validateNumber(event) {
        var key = window.event ? event.keyCode : event.which;
        if (event.keyCode === 8 || event.keyCode === 46) {
            return true;
        } else if ( key < 48 || key > 57 ) {
            return false;
        } else {
            return true;
        }
    };

    (function() {
        // var form = document.getElementById('qualityForm');
        var customerNumber = document.getElementById('customerNumber');
        var reservationNumber = document.getElementById('reservationNumber');
        var customerNumberVal = document.getElementById('customerNumberVal');
        var reservationNumberVal = document.getElementById('reservationNumberVal');
        var deviationDate = document.getElementById('deviationDate');
        var name = document.getElementById('name');
        var deviationDateVal = document.getElementById('deviationDateVal');
        var nameVal = document.getElementById('nameVal');
        var email = document.getElementById('email');
        var phone = document.getElementById('phone');
        var emailVal = document.getElementById('emailVal');
        var phoneVal = document.getElementById('phoneVal');
        var clarificationArea = document.getElementById('clarificationArea');
        var clarificationAreaVal = document.getElementById('clarificationAreaVal');

        customerNumberVal.id = 'notifyCN';
        customerNumberVal.style.display = 'none';
        reservationNumberVal.id = 'notifyCN';
        reservationNumberVal.style.display = 'none';
        deviationDateVal.id = 'notifyCN';
        deviationDateVal.style.display = 'none';
        nameVal.id = 'notifyCN';
        nameVal.style.display = 'none';
        emailVal.id = 'notifyTel';
        emailVal.style.display = 'none';
        phoneVal.id = 'notifyTel';
        phoneVal.style.display = 'none';
        clarificationAreaVal.id = 'notifyCN';
        clarificationAreaVal.style.display = 'none';

        // form.appendChild(emailVal);

        ValidationMessages(customerNumber, customerNumberVal);
        ValidationMessages(deviationDate, deviationDateVal);
        ValidationMessages(reservationNumber, reservationNumberVal);
        ValidationMessages(name, nameVal);
        ValidationMessages(email, emailVal, true);
        ValidationMessages(phone, phoneVal, true);
        ValidationMessages(clarificationArea, clarificationAreaVal);
    })();

    function ValidationMessages(inputName, inputNameVal, format){
        inputName.addEventListener('invalid', function(event){
            event.preventDefault();
            var lang = document.documentElement.lang.toLowerCase();
            if ( ! event.target.validity.valid ) {
                inputName.className = 'form-control animated shake invalid';
                if ( lang === "en" )
                    if(format)
                        inputNameVal.textContent = '(Please fill in the field/Please control format)';
                    else
                        inputNameVal.textContent = '(This field is compulsory)';
                if ( lang === "se" )
                    if(format)
                        inputNameVal.textContent = '(Vänligen fyll I fältet/Vänligen kontrollera formatet)';
                    else
                        inputNameVal.textContent = '(Detta fältet är obligatorisk)';
                inputNameVal.className = 'error';
                inputNameVal.style.display = 'block';
            }
        });

        inputName.addEventListener('input', function(event){
            if ( 'block' === inputNameVal.style.display ) {
                inputName.className = 'form-control';
                inputNameVal.style.display = 'none';
            }
        });
    }
    </script>