<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ apos.area(data.widget, 'title') }}</h1>
            <hr></hr>
            <!-- CHECK IF PAGE HAS ANCESTORS -->
            {% if data.page %}
                {% for ancestor in data.page._ancestors %}
                   <a style="color: #b6911f; font-weight: bold; text-decoration:none; font-size: 16px;" href="{{ ancestor._url }}">{{ ancestor.title }}</a>&nbsp;&nbsp; 
                   <i style="color: #b6911f; font-size: 17px;padding: 0; margin: 0;" class="fa fa-angle-right"></i> &nbsp;&nbsp;
                {% endfor %}
                <span style="color: #b6911f; font-size: 16px;">{{ data.page.title }}</span>
            {% endif %}
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
