<div style="background-color:green" class="container-fluid">
    <div class="container">
    <div class="row">
    <div class="col-md-6">
        {{ apos.area(data.widget, 'areaLeft', {
            widgets: {
                'apostrophe-rich-text': {},
                'apostrophe-images': {}
            }
        }) }}
    </div>
    <div class="col-md-6">
        {{ apos.area(data.widget, 'areaRight', {
            widgets: {
                'apostrophe-rich-text': {},
                'apostrophe-images': {}
            }
        }) }}
    </div>
</div>
</div>
</div>

<div style="background-color:red" class="container-fluid">
        <div class="container">
        <div class="row">
        <div class="col-md-6">
            {{ apos.area(data.widget, 'areaLeft', {
                widgets: {
                    'apostrophe-rich-text': {
                        toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink' ],
                        styles: [
                        { name: 'Heading', element: 'h3' },
                        { name: 'Subheading', element: 'h4' },
                        { name: 'Paragraph', element: 'p' }
                        ] 
                    },
                    'apostrophe-images': {}
                }
            }) }}
        </div>
        <div class="col-md-6">
            {{ apos.area(data.widget, 'areaRight', {
                widgets: {
                    'apostrophe-rich-text': {},
                    'apostrophe-images': {}
                }
            }) }}
        </div>
    </div>
    </div>
    </div>