<div class="container">
    <div class="row">
        <div class="col-xs-12 {{ data.widget.grid-image }}">
            {{ apos.area(data.widget, 'areaLeft', {
                widgets: {
                    'apostrophe-rich-text': {
                        toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink' ],
                        styles: [
                        { name: 'Heading', element: 'h3' },
                        { name: 'Subheading', element: 'h4' },
                        { name: 'Paragraph', element: 'p' },
                        { name: 'Centered Heading', element: 'h3', styles: { 'text-align': 'center'} }
                        ] 
                    },
                    'apostrophe-images': {
                        size: 'original'
                    }
                }   
            }) }}
          </div>
    </div>
</div>